@import forms.Form2
@import include.{main, heading}
@import include.forms2._

@(f: Form2[_], index:Int, edit: Boolean)(implicit request: Request[_],m:Messages, lang: Lang)

@header = {
    @errorSummary(f)
    @heading("tradingpremises.agentpartnership.title", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.agentpartnership.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.AgentPartnershipController.post(index,edit)) {

        @input(
            field = f("agentPartnership"),
            labelText = "tradingpremises.agentpartnership.title",
            hintText = "tradingpremises.agentpartnership.lbl.hint",
            labelHidden = true
        )

        @submit(edit)
    }
}
