@import forms.Form2
@import include.{main, heading}
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("tradingpremises.agentcompanyname.heading", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.agentcompanyname.title"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.AgentCompanyNameController.post(edit)) {

        <div class="form-field-group">
            @input(
                field = f("agentCompanyName"),
                hintText = Messages("tradingpremises.agentcompanyname.lbl.hint")
            )
        </div>

        @submit(edit)
    }
}
