@import forms.Form2
@import include.{main, heading}
@import include.forms2._

@(f: Form2[_], index:Int, edit: Boolean)(implicit request: Request[_], m:Messages, lang: Lang)

@header = {
    @errorSummary(f)
    @heading("tradingpremises.youragent.company.details.title", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.youragent.company.details.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.AgentCompanyDetailsController.post(index,edit)) {

        @fieldset(
            legend = "tradingpremises.youragent.company.details.title",
            legendHidden = true,
            panel = false,
            f = f(s"""${f("agentCompanyName").id}-fieldset""")
        ) {

            @input(
                field = f("agentCompanyName"),
                labelText = "tradingpremises.youragent.company.name",
                hintText = "tradingpremises.agentcompanyname.lbl.hint"
            )

            @input(
                attrMaxlength = "8",
                attrPattern = "^[a-zA-Z0-9]{1,8}$",
                field = f("companyRegistrationNumber"),
                hintText = "lbl.hint.crn",
                labelText = "tradingpremises.youragent.crn"
            )

        }

        @submit(edit)
    }
}
