@import forms.Form2
@import include.{main, heading}
@import include.forms2._
@import models.aboutthebusiness._

@(f: Form2[_],index: Int, edit: Boolean)(implicit request: Request[_],m:Messages, lang: Lang)

@header = {
    @errorSummary(f)
    @heading("tradingpremises.businessStructure.title", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.businessStructure.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.BusinessStructureController.post(index, edit)) {

        @fieldset(
            f = f("agentsBusinessStructure"),
            legend = "tradingpremises.businessStructure.title",
            legendHidden = true,
            panel = false
        ) {
            @radio(f("agentsBusinessStructure"), "businessType.lbl.02", "02")
            @radio(f("agentsBusinessStructure"), "businessType.lbl.01", "01")
            @radio(f("agentsBusinessStructure"), "businessType.lbl.03", "03")
            @radio(f("agentsBusinessStructure"), "businessType.lbl.04", "04")
            @radio(f("agentsBusinessStructure"), "businessType.lbl.05", "05")
        }

        @submit(false)
    }
}
