@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], index: Int, edit: Boolean)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("tradingpremises.msb.services.title", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.msb.services.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.MSBServicesController.post(index, edit)) {

        @fieldset(
            "lbl.select.all",
            f = f("msbServices"),
            panel = false
        ) {
            @checkbox(f("msbServices[]"), "msb.services.list.lbl.01", "01")
            @checkbox(f("msbServices[]"), "msb.services.list.lbl.02", "02")
            @checkbox(f("msbServices[]"), "msb.services.list.lbl.03", "03")
            @checkbox(f("msbServices[]"), "msb.services.list.lbl.04", "04")
        }

      @submit(edit)

    }
}
