@import include._
@import forms2._

@(f: forms.Form2[_], index: Int)(implicit request: Request[_],m:Messages)

@header = {
    @errorSummary(f)
    @heading("tradingpremises.premises.registered.title", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.premises.registered.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {

    @panel(
            wide = true,
            gutter = true,
            jsHidden = false
        ) {
            <p>@Messages("tradingpremises.have.registered.premises.text", index) </p>
        }

    <p>@Messages("tradingpremises.have.registered.premises.text2")</p>
    <p>@Messages("tradingpremises.have.registered.premises.text3")</p>

    @form(f, controllers.tradingpremises.routes.PremisesRegisteredController.post(index)) {



        @fieldset(
            f = f("registerAnotherPremises-fieldset"),
            legend = "tradingpremises.want.to.register.another.premises",
            panel = false,
            legendHidden = true
        ) {
            @errorGroup(
                field = f("registerAnotherPremises")
            ) {
                @radio(
                    f = f("registerAnotherPremises"),
                    labelText = "lbl.yes",
                    inline = true,
                    value = "true"
                )
                @radio(
                    f = f("registerAnotherPremises"),
                    labelText = "lbl.no",
                    inline = true,
                    value = "false"
                )
            }
        }
        @submit()
    }
}

