@import include._
@import forms2._

@(f: forms.Form2[_], index: Int)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("tradingpremises.premises.registered.heading", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.premises.registered.title"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.PremisesRegisteredController.post(index)) {
        <div class="panel-indent panel-border-wide">
            <p>@Messages("tradingpremises.have.registered.premises.text", index) </p>

        </div>
        <br>
        <br>

        @inlineRadioGroup(f("registerAnotherPremises")) {
            @legend("tradingpremises.want.to.register.another.premises")
            @radio(f("registerAnotherPremises"), "lbl.yes", "true")
            @radio(f("registerAnotherPremises"), "lbl.no", "false")
        }

        @submit()
    }
}

