@import include._
@import forms2._

@(f: forms.Form2[_], index: Int, edit: Boolean)(implicit request: Request[_])

@header = {
    @heading(Messages("tradingpremises.agent.premises.heading"), "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.agent.premises.title"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.RegisteringAgentPremisesController.post(index, edit)) {

        <p>@Messages("tradingpremises.agent.premises.text")</p>

        <div class="form-field-group">
            @inlineRadioGroup(f("agentPremises")) {
                @radio(f("agentPremises"), "lbl.yes", "true")
                @radio(f("agentPremises"), "lbl.no", "false")
            }
            @submit(edit)
        </div>
        }
    }
