@import forms.Form2
@import include.{main, heading}
@import include.forms2._

@(f: forms.Form2[_],index: Int, complete: Boolean)(implicit request: Request[_],m:Messages, lang: Lang)

@target = @{
    s"""${f("other").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("tradingpremises.remove_reasons.agent.premises.title", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.remove_reasons.agent.premises.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.RemoveAgentPremisesReasonsController.post(index, complete)) {

        @fieldset(
            f = f("removalReason"),
            legend = "do I need a legend?",
            bold = false,
            panel = false
        ) {
            @radio(f("removalReason"), "tradingpremises.remove_reasons.agent.premises.lbl.01", "01")
            @radio(f("removalReason"), "tradingpremises.remove_reasons.agent.premises.lbl.02", "02")
            @radio(f("removalReason"), "tradingpremises.remove_reasons.agent.premises.lbl.03", "03")
            @radio(f("removalReason"), "tradingpremises.remove_reasons.agent.premises.lbl.04", "04")
            @radio(f("removalReason"), "tradingpremises.remove_reasons.agent.premises.lbl.05", "05")
            @radio(f("removalReason"), "tradingpremises.remove_reasons.agent.premises.lbl.06", "06", target = s"#$target")
        }

        @fieldset(
            legend = "tradingpremises.remove_reasons.agent.premises.lbl.06",
            legendHidden = true,
            f = f(target)
        ) {
            @input(f("removalReasonOther"), "lbl.pleasespecify", bold = false)
        }

        @submit()
    }
}
