@import forms.Form2
@import include.{main, heading}
@import include.forms2._

@(f: forms.Form2[_],index: Int, complete: Boolean, tradingName:String, showDateField:Boolean)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("tradingpremises.remove.trading.premises.title", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.remove.trading.premises.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.RemoveTradingPremisesController.remove(index, complete, tradingName)) {
        <div class="panel-indent panel-border-wide">
            <p>@Messages("tradingpremises.remove.trading.premises.text", tradingName)</p>
        </div>

        @if(showDateField) {
            @date(
                f = f,
                p = "endDate",
                labelText = "tradingpremises.remove.trading.premises.enddate.lbl",
                hintText = "",
                true
            )
        }

        @submit(false, Some(Messages("tradingpremises.remove.trading.premises.btn")))
    }
}
