@import include._
@import models.tradingpremises._
@import forms2._
@import utils._

@(model: TradingPremises, index: Int)(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.tradingpremises")

    @model.yourTradingPremises.map { yta =>
        <table class="summary">
            <tr>
                <th class="summary-title">
                    @Messages("summary.checkyouranswers.businesspremises.section1")
                </th>
                <td>
                    <a href="@controllers.tradingpremises.routes.WhereAreTradingPremisesController.get(index, true)">
                        @Messages("button.edit")
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">@yta.tradingName</td>
            </tr>
            <tr>
                <td colspan="2">
                    <ul>
                        @yta.tradingPremisesAddress.toLines.map { line =>
                            <li>@line</li>
                        }
                    </ul>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @yta.isResidential match {
                    case true => {
                    @Messages("lbl.residential")
                    }
                    case false => {
                    @Messages("lbl.nonresidential")
                    }
                    }
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @Messages("tradingpremises.summary.tradingstartdate") @DateHelper.formatDate(yta.startDate)

                </td>
            </tr>

        </table>
    }

    @model.whatDoesYourBusinessDoAtThisAddress.map { wdbd =>
        <table class="summary">
            <tr>
                <th class="summary-title">
                    @Messages("summary.checkyouranswers.businesspremises.section2")
                </th>
                <td>
                    <a href="@controllers.tradingpremises.routes.WhatDoesYourBusinessDoController.get(index, true)">
                        @Messages("button.edit")
                    </a>
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <ul>
                        @wdbd.activities.map { a =>
                            <li>@a.getMessage</li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
    }

    @model.yourAgent.map { agent =>
    <table class="summary">
        <tr>
            <th class="summary-title">
                @Messages("summary.checkyouranswers.agentspremises.section3")
            </th>
            <td>
                <a href="@controllers.tradingpremises.routes.YourAgentController.get(index, true)">
                    @Messages("button.edit")
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @agent.agentsRegisteredName
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @agent.taxType.message
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @agent.businessStructure.message
            </td>
        </tr>
    </table>
    }

    <a class="button" href="@controllers.tradingpremises.routes.SummaryController.get()">
        @Messages("button.saveandreturn")
    </a>
}
