@import include._
@import forms2._
@import models.tradingpremises._
@import models.businessmatching.MoneyServiceBusiness
@import utils._

@(model: TradingPremises, index: Int)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("summary.detailedanswers.title", "summary.tradingpremises")
}
@main(
    title = Messages("summary.detailedanswers.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {
    @model.yourTradingPremises.map { yta =>

        <h2 class="heading-large">@yta.tradingName</h2>

        @checkYourAnswers(
            question = Messages("tradingpremises.summary.address"),
            editUrl = controllers.tradingpremises.routes.WhereAreTradingPremisesController.get(index, true).toString
        ) {
            <p>@yta.tradingPremisesAddress.toLines.map { l =>
                @l<br />
            }</p>
        }

        @checkYourAnswers(
            question = Messages("tradingpremises.summary.tradingstartdate"),
            editUrl = controllers.tradingpremises.routes.WhereAreTradingPremisesController.get(index, true).toString
        ) {
            <p>@DateHelper.formatDate(yta.startDate)</p>
        }

        @checkYourAnswers(
            question = Messages("tradingpremises.summary.residential"),
            editUrl = controllers.tradingpremises.routes.WhereAreTradingPremisesController.get(index, true).toString
        ) {
            <p>@yta.isResidential match {
                case true => { @Messages("lbl.yes") }
                case false => { @Messages("lbl.no") }
            }</p>
        }

        @model.whatDoesYourBusinessDoAtThisAddress.map { ba =>
            @checkYourAnswers(
                question = Messages("tradingpremises.summary.services"),
                editUrl = controllers.tradingpremises.routes.WhatDoesYourBusinessDoController.get(index, true).toString
            ) {
                <ul class="list list--comma">
                @ba.activities.map { a =>
                    <li>@a.getMessage</li>
                }
                </ul>
            }
        }

        @model.msbServices.map{ msb =>
            @checkYourAnswers(
                question = Messages("tradingpremises.msb.services.title"),
                editUrl = controllers.tradingpremises.routes.MSBServicesController.get(index, true).toString
            ) {
                <ul class="list list--comma">
                    @msb.services.map{ s=>
                        <li>@s.getMessage</li>
                    }
                </ul>
            }
        }

        @checkYourAnswers(
            question = Messages("tradingpremises.summary.who-uses"),
            editUrl = controllers.tradingpremises.routes.RegisteringAgentPremisesController.get(index, true).toString
        ) {
            <p>@model.businessStructure.fold(Html(Messages("tradingpremises.summary.mybusiness"))) { _ =>
                @Messages("tradingpremises.summary.agents")
            }</p>
        }
        @model.businessStructure.map { x =>
            @checkYourAnswers(
                question = Messages("tradingpremises.businessStructure.title"),
                editUrl = controllers.tradingpremises.routes.BusinessStructureController.get(index, true).toString
            ) {
                <p>@Messages(x.message)</p>
            }
        }

        @model.agentName.map { x =>
            @checkYourAnswers(
                question = Messages("tradingpremises.agentname.title"),
                editUrl = controllers.tradingpremises.routes.AgentNameController.get(index, true).toString
            ) {
                <p>@x.agentName</p>
            }
        }

        @model.agentPartnership.map { x =>
            @checkYourAnswers(
                question = Messages("tradingpremises.agentpartnership.title"),
                editUrl = controllers.tradingpremises.routes.AgentPartnershipController.get(index, true).toString
            ) {
                <p>@x.agentPartnership</p>
            }
        }

        @model.agentCompanyName.map { x =>
            @checkYourAnswers(
                question = Messages("tradingpremises.agentcompanyname.title"),
                editUrl = controllers.tradingpremises.routes.AgentCompanyNameController.get(index, true).toString
            ) {
                <p>@x.agentCompanyName</p>
            }
        }

    }
    <div class="form-group">
        <a class="button" href="@controllers.tradingpremises.routes.SummaryController.get()">
            @Messages("button.confirmandcontinue")
        </a>
    </div>
    @anchor(
        attrHref = controllers.tradingpremises.routes.SummaryController.get().toString,
        attrRole = true,
        linkText = Messages("button.button.confirmandcontinue")
    )
}
