@import include._
@import models.tradingpremises._

@(model: Seq[TradingPremises], add: Boolean)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("summary.checkyouranswers.title", "summary.tradingpremises")
}

@main(
    title = Messages("summary.checkyouranswers.title"),
    heading = header
) {

    @if(add){
        <div class="panel panel-border-wide spacelarge">
            <p>
                <a href="@controllers.tradingpremises.routes.TradingPremisesAddController.get(false)"> @Messages("tradingpremises.summary.addanother") </a>
            </p>
        </div>
    }

    @model.zipWithIndex.map { case (tp, y) =>
        <table class="spacesummary">
            <tbody>
            <tr>
                @tp.yourTradingPremises.map { ytp =>
                    <td>@ytp.tradingPremisesAddress.toLines.mkString(", ")</td>
                }
                <td class="numeric"><a href="@controllers.tradingpremises.routes.SummaryController.getIndividual(y + 1)">@Messages("button.edit")</a></td>
            </tr>
            </tbody>
        </table>
    }

    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>

}