@import include._
@import models.tradingpremises._

@(model: Seq[TradingPremises], msbExists: Boolean)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("summary.checkyouranswers.title", "summary.tradingpremises")
}
@main(
    title = Messages("summary.checkyouranswers.title"),
    heading = header
) {
    @model.zipWithIndex.map { case (tp, y) =>
        <table class="spacesummary">
            <tbody>
                <tr>
                    <th>
                        @tp.yourTradingPremises.map { ytp =>
                        @ytp.tradingName
                        }
                    </th>
                    <td class="numeric">
                        @if(msbExists) {
                    <a href="@controllers.tradingpremises.routes.RegisteringAgentPremisesController.get(y + 1)">@Messages("button.edit")</a>
                        } else {
                    <a href="@controllers.tradingpremises.routes.SummaryController.getIndividual(y + 1)">@Messages("button.edit")</a>
                        }
                    </td>
                </tr>
                <tr>
                    <td width="40%">Address:</td>
                    <td>
                        @tp.yourTradingPremises.map { ytp =>
                            @ytp.tradingPremisesAddress.toLines.map { l =>
                            @l<br />
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td width="40%">When will you start trading from these premises?</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td width="40%">Is this a residential address?</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td width="40%">Who uses these premises?</td>
                    <td>
                        @tp.businessStructure.fold(Html(Messages("tradingpremises.summary.own"))) { _ =>
                        @Messages("tradingpremises.summary.agents")
                        }
                    </td>
                </tr>
                <tr>
                    <td width="40%">What does your business do at these premises?</td>
                    <td>
                        @tp.whatDoesYourBusinessDoAtThisAddress.map { ba =>
                            @ba.activities.map { a =>
                            @a.getMessage<br />
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>
}
