@import forms.Form2
@import include._
@import include.forms2._

@(index: Int)(implicit request: Request[_])

@main(
    title = Messages("tradingpremises.whatyouneed.title")
) {

    @heading("tradingpremises.whatyouneed.heading", "summary.tradingpremises")

    <p>@Messages("tradingpremises.whatyouneed.requiredinfo.heading")</p>
    <ul class="list-bullet form-group">
    <li class="no-padding no-margin">@Messages("tradingpremises.whatyouneed.requiredinfo.text.1")</li>
    <li class="no-padding no-margin">@Messages("tradingpremises.whatyouneed.requiredinfo.text.2")</li>
    <li class="no-padding no-margin">@Messages("tradingpremises.whatyouneed.requiredinfo.text.3")</li>
    <li class="no-padding no-margin">@Messages("tradingpremises.whatyouneed.requiredinfo.text.4")</li>
    </ul>

    <p class="panel-indent panel-indent--gutter">@Messages("tradingpremises.whatyouneed.agentinfo.heading")</p>

    <p>@Messages("tradingpremises.whatyouneed.agentinfo.heading.sub")</p>
    <ul class="list-bullet form-group">
    <li class="no-padding no-margin">@Messages("tradingpremises.whatyouneed.agentinfo.text.1")</li>
    <li class="no-padding no-margin">@Messages("tradingpremises.whatyouneed.agentinfo.text.3")</li>
    </ul>

    <div class="form-field">
        <a id="what-you-need-continue" class="button" href="@controllers.tradingpremises.routes.WhereAreTradingPremisesController.get(index, false)">
            @Messages("button.continue")
        </a>
    </div>
}
