@import forms.Form2
@import include._
@import include.forms2._
@import models.tradingpremises._
@import models.businessmatching._

@(f:Form2[_], model : BusinessActivities, edit: Boolean, index: Int)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("tradingpremises.whatdoesyourbusinessdo.title", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.whatdoesyourbusinessdo.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.WhatDoesYourBusinessDoController.post(index, edit)) {
        @radioGroup(f("activities")) {
            @legend("lbl.select.all", jsHidden = false)

            @model.businessActivities.map { ba =>
                @checkbox(f("activities[]"), Messages("businessmatching.registerservices.servicename.lbl."+model.getValue(ba)), model.getValue(ba))
            }
        }
        @submit(false)
    }
}
