@import forms.Form2
@import include._
@import include.forms2._

@(index: Int)(implicit request: Request[_])

@main(
    title = Messages("tradingpremises.whatyouneed.title")
) {

    @heading("tradingpremises.whatyouneed.heading", "summary.tradingpremises")

    <p>@Messages("tradingpremises.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet spacelarge">
        <li>@Messages("tradingpremises.whatyouneed.requiredinfo.text.1")</li>
        <li>@Messages("tradingpremises.whatyouneed.requiredinfo.text.2")</li>
        <li>@Messages("tradingpremises.whatyouneed.requiredinfo.text.3")</li>
        <li>@Messages("tradingpremises.whatyouneed.requiredinfo.text.4")</li>
    </ul>

    <div class="panel-indent panel-indent--gutter panel-wide">
        @Messages("tradingpremises.whatyouneed.agentinfo.heading")
    </div>

    <p>@Messages("tradingpremises.whatyouneed.agentinfo.heading.sub")</p>

    <ul class="list list-bullet spacelarge">
        <li>@Messages("tradingpremises.whatyouneed.agentinfo.text.1")</li>
        <li>@Messages("tradingpremises.whatyouneed.agentinfo.text.3")</li>
    </ul>

    <div class="form-group">
        <a class="button" href="@controllers.tradingpremises.routes.WhereAreTradingPremisesController.get(index, false)">
            @Messages("button.continue")
        </a>
    </div>
}
