@import include._
@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean, index: Int)(implicit request: Request[_], lang: Lang)

@header = {
    @errorSummary(f)
    @heading("tradingpremises.yourtradingpremises.title", "summary.tradingpremises")
}

@main(
    title = Messages("tradingpremises.yourtradingpremises.title") + " - " + Messages("summary.tradingpremises"),
    heading = header
) {

    @form(f, controllers.tradingpremises.routes.WhereAreTradingPremisesController.post(index, edit)) {

        @input(
            field = f("tradingName"),
            labelText = "tradingpremises.yourtradingpremises.tradingname"
        )

        @fieldset(
            legend = "legend.address",
            legendHidden = true,
            panel = false,
            f = f("address-fieldset")
        ) {
            @input(field = f("addressLine1"), labelText = "lbl.address.line1")
            @input(field = f("addressLine2"), labelText = "lbl.address.line2")
            @input(field = f("addressLine3"), labelText = "lbl.address.line3", requiredField = false)
            @input(field = f("addressLine4"), labelText = "lbl.address.line4", requiredField = false)
            @input(
                field = f("postcode"),
                labelText = "lbl.address.postcode",
                classes = Seq("postcode")
            )
        }

        @fieldset(
            legend = "tradingpremises.yourtradingpremises.isresidential",
            f = f("isResidential"),
            panel = false
        ) {
            @radio(
                f = f("isResidential"),
                labelText = "lbl.yes",
                value = "true",
                inline = true
            )
            @radio(
                f = f("isResidential"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @date(
            f = f,
            p = "startDate",
            hintId = "dob",
            labelText = "tradingpremises.yourtradingpremises.startdate"
        )

        @submit(false)
    }
}
