@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages)

@header = {
    @errorSummary(f)
    @heading("hvd.cash.payment.title", "summary.hvd")
}

@main(
    title = Messages("hvd.cash.payment.title") + " - " + Messages("summary.hvd"),
    heading = header
)  {

    <span class="form-hint">@Messages("hvd.cash.payment.convert.currency.text")</span>

    @form(f, controllers.hvd.routes.CashPaymentController.post(edit)) {

        <div class="form-group">
        @fieldset(
            f = f("acceptedAnyPayment-fieldset"),
            legend = "hvd.cash.payment.title",
            legendHidden = true,
            panel = false
        ) {
            @errorGroup(
                field = f("acceptedAnyPayment")
            ) {
                @radio(
                    f = f("acceptedAnyPayment"),
                    labelText = "lbl.yes",
                    value = "true",
                    inline = true,
                    target = s".paymentDate-fieldset"
                )
                @radio(
                    f = f("acceptedAnyPayment"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @panel(
            jsHidden = true,
            field = Some(f("paymentDate-fieldset")),
            classes = Seq("paymentDate-fieldset")
        ) {
            @date(
                f = f,
                p = "paymentDate",
                labelText = "hvd.cash.payment.data.text",
                hintText = "hvd.cash.payment.date.example",
                example = false
            )
        }
        </div>

        @detailsSummary(
            summary = Messages("hvd.cash.payment.data.details.summary")
        ) {
            @panel(
                jsHidden = false
            ) {
            <p>@Messages("hvd.cash.payment.data.details.summary.details")</p>
            <p>@Messages("hvd.cash.payment.data.details.summary.details.start")</p>

            <ul class="list list-bullet">
                <li>@Messages("hvd.cash.payment.data.details.summary.details.01")</li>
                <li>@Messages("hvd.cash.payment.data.details.summary.details.02")</li>
                <li>@Messages("hvd.cash.payment.data.details.summary.details.03")</li>
            </ul>
            }
        }

        @submit(edit)
   }
}
