@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("hvd.cash.payment.title", "summary.hvd")
}

@main(
    title = Messages("hvd.cash.payment.title") + " - " + Messages("summary.hvd"),
    heading = header
)  {


    @form(f, controllers.hvd.routes.CashPaymentController.post(edit)) {

        <p>@Messages("hvd.cash.payment.convert.currency.text")</p>

        @fieldset(
            f = f("acceptedAnyPayment"),
            legend = "hvd.cash.payment.title",
            legendHidden = true,
            panel = false
        ) {
            @radio(
                f = f("acceptedAnyPayment"),
                labelText = "lbl.yes",
                value = "true",
                inline = true,
                target = s".paymentDate-fieldset"
            )
            @radio(
                f = f("acceptedAnyPayment"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @fieldset(
            legend = "hvd.cash.payment.data.text",
            legendHidden = true,
            jsHidden = true,
            classes = Seq("paymentDate-fieldset"),
            f = f("paymentDate-fieldset")
        ) {
            @date(
                f = f,
                p = "paymentDate",
                labelText = "hvd.cash.payment.data.text",
                hintText = "hvd.cash.payment.date.example",
                example = false
            )
        }

        @submit(edit)
   }
}
