@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("hvd.excise.goods.heading", "summary.hvd")
}

@main(
    title = Messages("hvd.excise.goods.title"),
    heading = header
) {

    @form(f, controllers.hvd.routes.ExciseGoodsController.post(edit)) {

        <div class="form-field-group">
            @inlineRadioGroup(f("exciseGoods")) {
                @legend("hvd.excise.goods.heading")
                @radio(f("exciseGoods"), "lbl.yes", "true")
                @radio(f("exciseGoods"), "lbl.no", "false")
            }
        </div>

        @submit(edit)

    }
}
