@import include._
@import forms2._
@import models.hvd._
@import utils._

@(f : forms.Form2[_], edit : Boolean)(implicit request: Request[_],m:Messages)

@header = {
    @errorSummary(f)
    @heading("hvd.how-will-you-sell-goods.title", "summary.hvd")
}

@main(
    title = Messages("hvd.how-will-you-sell-goods.title") + " - " + Messages("summary.hvd"),
    heading = header
) {

    <p>@Messages("lbl.select.all")</p>

    @form(f, controllers.hvd.routes.HowWillYouSellGoodsController.post(edit)) {
        @fieldset(
            f = f("salesChannels-fieldset"),
            legend = "hvd.how-will-you-sell-goods.title",
            legendHidden = true,
            panel = false
        ) {
            @errorGroup(
                field = f("salesChannels")
            ) {
                @checkbox(
                    f = f("salesChannels[]"),
                    labelText = "hvd.how-will-you-sell-goods.channels.auction",
                    value = "Auction"
                )
                @checkbox(
                    f = f("salesChannels[]"),
                    labelText = "hvd.how-will-you-sell-goods.channels.retail" ,
                    value = "Retail"
                )
                @checkbox(
                    f = f("salesChannels[]"),
                    labelText = "hvd.how-will-you-sell-goods.channels.wholesale" ,
                    value = "Wholesale"
                )
            }
        }

        @submit(edit)
    }
}
