@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("hvd.identify.linked.cash.payment.title", "summary.hvd")
}

@main(
    title = Messages("hvd.identify.linked.cash.payment.title") + " - " + Messages("summary.hvd"),
    heading = header
) {

    @form(f, controllers.hvd.routes.LinkedCashPaymentsController.post(edit)) {

        @fieldset(
            f = f("linkedCashPayments"),
            legend = "hvd.identify.linked.cash.payments.subtitle",
            panel = false
        ) {
            @radio(
                f = f("linkedCashPayments"),
                labelText = "lbl.yes",
                value = "true",
                inline = true
            )
            @radio(
                f = f("linkedCashPayments"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @submit(edit)

    }
}
