@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @heading("hvd.percentage.title", "summary.hvd")
}

@main(
    title = Messages("hvd.percentage.title"),
    heading = header
) {

    @form(f, controllers.hvd.routes.PercentageOfCashPaymentOver15000Controller.post(edit)) {

        <p>@Messages("hvd.percentage.text")</p>

        @radioGroup(f("percentage")) {
            @legend("TODO", jsHidden = true)
            @radio(f("percentage"), "hvd.percentage.lbl.01", "01")
            @radio(f("percentage"), "hvd.percentage.lbl.02", "02")
            @radio(f("percentage"), "hvd.percentage.lbl.03", "03")
            @radio(f("percentage"), "hvd.percentage.lbl.04", "04")
            @radio(f("percentage"), "hvd.percentage.lbl.05", "05")

        }
        @submit(edit)
    }
}
