@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
  @errorSummary(f)
  @heading("hvd.receiving.title", "summary.hvd")
}

@main(
  title = Messages("hvd.receiving.title") + " - " + Messages("summary.hvd"),
  heading = header
) {

  <span class="form-hint">@Messages("hvd.receiving.convert.currency.text")</span>

  @form(f, controllers.hvd.routes.ReceiveCashPaymentsController.post(edit)) {

    @fieldset(
      f = f("receivePayments"),
      legend = "hvd.receiving.title",
      legendHidden = true,
      panel = false
    ) {
        @radio(
          f = f("receivePayments"),
          labelText = "lbl.yes",
          value = "true",
          inline = true,
          target = s".paymentMethods-fieldset"
        )
        @radio(
          f = f("receivePayments"),
          labelText = "lbl.no",
          value = "false",
          inline = true
        )
    }


    @fieldset(
          f = f("paymentMethods"),
          legend = "hvd.receiving.expect.to.receive",
          classes = Seq("paymentMethods-fieldset"),
          hint = "lbl.select.all"
      ) {
          @checkbox(
            f = f("paymentMethods.courier"),
            labelText = "hvd.receiving.option.01",
            value = "true"
          )
          @checkbox(
            f = f("paymentMethods.direct"),
            labelText = "hvd.receiving.option.02",
            value = "true"
          )
          @checkbox(
            f = f("paymentMethods.other"),
            labelText = "hvd.receiving.option.03",
            value = "true",
            target = s".receive-payments-other-fieldset"
          )

          @fieldset(
            legend = "hvd.receiving.give.details",
            legendHidden = true,
            panel = false,
            classes = Seq("receive-payments-other-fieldset"),
            f = f("paymentMethods-details-fieldset")
          ) {
              @input(
                field = f("paymentMethods.details"),
                labelText = "hvd.receiving.give.details.lbl"
              )
          }
    }

    @submit(edit)
  }
}
