@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("supervision.memberofprofessionalbody.title", "summary.supervision")
}

@main(
    title = Messages("supervision.memberofprofessionalbody.title") + " - " + Messages("summary.supervision"),
    heading = header
) {

    @form(f, controllers.supervision.routes.ProfessionalBodyMemberController.post(edit)) {

        @fieldset(
            legend = "supervision.memberofprofessionalbody.title",
            legendHidden = true,
            f = f("isAMember"),
            panel = false
        ) {
            @radio(
                f = f("isAMember"),
                labelText = "lbl.yes",
                value = "true",
                target = s".businessType-fieldset",
                inline = true
            )
            @radio(
                f = f("isAMember"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }


        @fieldset(
            legend = "lbl.select.all",
            f = f("businessType"),
            classes = Seq("businessType-fieldset")
        ) {
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.01", "01")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.02", "02")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.03", "03")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.04", "04")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.05", "05")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.06", "06")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.07", "07")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.08", "08")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.09", "09")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.10", "10")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.11", "11")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.12", "12")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.13", "13")
            @checkbox(f("businessType[]"), "supervision.memberofprofessionalbody.lbl.14", "14", target = s".specifyOtherBusiness-fieldset")

            @fieldset(
                legend = "lbl.pleasespecify",
                legendHidden = true,
                classes = Seq("specifyOtherBusiness-fieldset"),
                f = f("specifyOtherBusiness-fieldset")
            ) {
                @input(
                    field = f("specifyOtherBusiness"),
                    labelText = "lbl.pleasespecify"
                )
            }
        }




        @submit(edit)
    }
}
