@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@target = @{
    s"""${f("professionalBody").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("supervision.penalisedbyprofessional.title", "summary.supervision")
}

@main(
    title = Messages("supervision.penalisedbyprofessional.title"),
    heading = header
) {

    <p>@Messages("supervision.penalisedbyprofessional.subtitle")</p>

    @form(f, controllers.supervision.routes.PenalisedByProfessionalController.post(edit)) {

        <ul class="list list-bullet">
            <li>@Messages("supervision.penalisedbyprofessional.line_1")</li>
            <li>@Messages("supervision.penalisedbyprofessional.line_2")</li>
            <li>@Messages("supervision.penalisedbyprofessional.line_3")</li>
            <li>@Messages("supervision.penalisedbyprofessional.line_4")</li>
        </ul>

        <p>@Messages("supervision.penalisedbyprofessional.details")</p>

        <div class="form-group">
            @inlineRadioGroup(f("penalised")) {
                @legend("supervision.penalisedbyprofessional.heading", jsHidden = true)
                @radio(f("penalised"), "lbl.yes", "true", target = s"#$target")
                @radio(f("penalised"), "lbl.no", "false")

                @fieldset("supervision.penalisedbyprofessional.details.lbl", jsHidden = true, id = target) {
                    @textarea(f("professionalBody"), "supervision.penalisedbyprofessional.details.lbl", bold = false)
                }
            }
        </div>
        @submit(edit)

    }
}
