@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages, lang: Lang)

@target = @{
    s"""${f("professionalBody").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("supervision.penalisedbyprofessional.title", "summary.supervision")
}

@main(
    title = Messages("supervision.penalisedbyprofessional.title") + " - " + Messages("summary.supervision"),
    heading = header
) {

    <p>@Messages("supervision.penalisedbyprofessional.subtitle")</p>
    <ul class="list list-bullet">
        <li>@Messages("supervision.penalisedbyprofessional.line_1")</li>
        <li>@Messages("supervision.penalisedbyprofessional.line_2")</li>
        <li>@Messages("supervision.penalisedbyprofessional.line_3")</li>
        <li>@Messages("supervision.penalisedbyprofessional.line_4")</li>
        <li>@Messages("supervision.penalisedbyprofessional.line_5")</li>
    </ul>
    <span class="form-hint">@Messages("supervision.penalisedbyprofessional.details")</span>

    @form(f, controllers.supervision.routes.PenalisedByProfessionalController.post(edit)) {

            @fieldset(
                legend = "supervision.penalisedbyprofessional.title",
                legendHidden = true,
                f = f("penalised"),
                panel = false
            ) {
                @radio(
                    f = f("penalised"),
                    labelText = "lbl.yes",
                    value = "true",
                    target = s"#$target",
                    inline = true
                )
                @radio(
                    f = f("penalised"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
            @fieldset(
                legend = "supervision.penalisedbyprofessional.details.lbl",
                f = f(target),
                legendHidden = true
            ) {
                @textarea(f("professionalBody"), "supervision.penalisedbyprofessional.details.lbl", bold = false, largeWidth = true, cols = "30", rows = "8")
            }

        @submit(edit)

    }
}
