@import include._
@import models.supervision._
@import utils._

@(model: Supervision)(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.supervision")
    <table>
        <tr>
            <th class="summary-title">@Messages("supervision.another_body.title")</th>
            <td colspan="2"><a href="@controllers.supervision.routes.AnotherBodyController.get(true)">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            <td colspan="2">
                @model.anotherBody.map {
                    case AnotherBodyNo => { @Messages("lbl.no") }
                    case AnotherBodyYes(v,_,_,_) => { @Messages("lbl.yes") }
                }
            </td>
        </tr>

        @model.anotherBody.map {
            case AnotherBodyNo => { }
            case AnotherBodyYes(supervisorName, startDate, endDate, endingReason) => {
                <tr>
                    <td colspan="2">
                        @supervisorName
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Messages("lbl.start.date") @DateHelper.formatDate(startDate)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Messages("lbl.end.date") @DateHelper.formatDate(endDate)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @endingReason
                    </td>
                </tr>
            }
        }

    </table>
    <table>
        <tr>
            <th class="summary-title">@Messages("supervision.memberofprofessionalbody.title")</th>
            <td colspan="2"><a href="@controllers.supervision.routes.ProfessionalBodyMemberController.get(true)">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            <td colspan="2">
                @model.professionalBodyMember.map {
                    case ProfessionalBodyMemberNo => { @Messages("lbl.no") }
                    case ProfessionalBodyMemberYes(v) => { @Messages("lbl.yes") }
                }
            </td>
        </tr>

        @model.professionalBodyMember.map {
            case ProfessionalBodyMemberNo => { }
            case ProfessionalBodyMemberYes(v) => {

                @v.map { x=>
                <tr>
                    <td colspan="2">
                    @x match {
                        case AccountingTechnicians => {@Messages("supervision.memberofprofessionalbody.lbl.01")}
                        case CharteredCertifiedAccountants => {@Messages("supervision.memberofprofessionalbody.lbl.02")}
                        case InternationalAccountants => {@Messages("supervision.memberofprofessionalbody.lbl.03")}
                        case TaxationTechnicians => {@Messages("supervision.memberofprofessionalbody.lbl.04")}
                        case ManagementAccountants => {@Messages("supervision.memberofprofessionalbody.lbl.05")}
                        case InstituteOfTaxation => {@Messages("supervision.memberofprofessionalbody.lbl.06")}
                        case Bookkeepers => {@Messages("supervision.memberofprofessionalbody.lbl.07")}
                        case AccountantsIreland => {@Messages("supervision.memberofprofessionalbody.lbl.08")}
                        case AccountantsScotland => {@Messages("supervision.memberofprofessionalbody.lbl.09")}
                        case AccountantsEnglandandWales => {@Messages("supervision.memberofprofessionalbody.lbl.10")}
                        case FinancialAccountants => {@Messages("supervision.memberofprofessionalbody.lbl.11")}
                        case AssociationOfBookkeepers => {@Messages("supervision.memberofprofessionalbody.lbl.12")}
                        case LawSociety => {@Messages("supervision.memberofprofessionalbody.lbl.13")}
                        case Other(details) => {@Messages("supervision.memberofprofessionalbody.lbl.14"):@details}
                    }
                    </td>
                </tr>
                }

            }
        }

    </table>
    <table>
        <tr>
            <th class="summary-title">@Messages("supervision.penalisedbyprofessional.title")</th>
            <td colspan="2"><a href="@controllers.supervision.routes.PenalisedByProfessionalController.get(true)">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            <td colspan="2">
                @model.professionalBody.map {
                    case ProfessionalBodyNo => { @Messages("lbl.no") }
                    case ProfessionalBodyYes(v) => { @Messages("lbl.yes") }
                }
            </td>
        </tr>

        @model.professionalBody.map {
            case ProfessionalBodyNo => { }
            case ProfessionalBodyYes(v) => {
                <tr>
                    <td colspan="2">
                        @v
                    </td>
                </tr>
            }
        }

    </table>
    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>
}
