@import include._
@import include.forms2._
@import models.supervision._
@import utils._

@(model: Supervision)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("summary.checkyouranswers.title", "summary.supervision")
}

@main(
    title = Messages("summary.supervision.checkyouranswers.title"),
    heading = header
) {

    @checkYourAnswers(
        question = Messages("supervision.another_body.heading"),
        editUrl = controllers.supervision.routes.AnotherBodyController.get(true).toString
    ) {
        @model.anotherBody.map {
            case AnotherBodyNo => { <p>@Messages("lbl.no")</p> }
            case AnotherBodyYes(supervisorName, startDate, endDate, endingReason) => {
            <h3 class="heading-small">@supervisorName</h3>
            <ul class="list">
                <li>@Messages("lbl.start.date") @DateHelper.formatDate(startDate)</li>
                <li>@Messages("lbl.end.date") @DateHelper.formatDate(endDate)</li>
                <li>@endingReason</li>
            </ul>
            }
        }
    }

    @checkYourAnswers(
        question = Messages("supervision.memberofprofessionalbody.heading"),
        editUrl = controllers.supervision.routes.ProfessionalBodyMemberController.get(true).toString
    ) {
        @model.professionalBodyMember.map {
            case ProfessionalBodyMemberNo => { <p>@Messages("lbl.no")</p> }
            case ProfessionalBodyMemberYes(v) => {
            <ul class="list list--comma">
                @v.map { x=>
                <li>@x match {
                        case AccountingTechnicians => {@Messages("supervision.memberofprofessionalbody.lbl.01")}
                        case CharteredCertifiedAccountants => {@Messages("supervision.memberofprofessionalbody.lbl.02")}
                        case InternationalAccountants => {@Messages("supervision.memberofprofessionalbody.lbl.03")}
                        case TaxationTechnicians => {@Messages("supervision.memberofprofessionalbody.lbl.04")}
                        case ManagementAccountants => {@Messages("supervision.memberofprofessionalbody.lbl.05")}
                        case InstituteOfTaxation => {@Messages("supervision.memberofprofessionalbody.lbl.06")}
                        case Bookkeepers => {@Messages("supervision.memberofprofessionalbody.lbl.07")}
                        case AccountantsIreland => {@Messages("supervision.memberofprofessionalbody.lbl.08")}
                        case AccountantsScotland => {@Messages("supervision.memberofprofessionalbody.lbl.09")}
                        case AccountantsEnglandandWales => {@Messages("supervision.memberofprofessionalbody.lbl.10")}
                        case FinancialAccountants => {@Messages("supervision.memberofprofessionalbody.lbl.11")}
                        case AssociationOfBookkeepers => {@Messages("supervision.memberofprofessionalbody.lbl.12")}
                        case LawSociety => {@Messages("supervision.memberofprofessionalbody.lbl.13")}
                        case Other(details) => {@Messages("supervision.memberofprofessionalbody.lbl.14"): @details}
                    }</li>
                }
            </ul>
            }
        }
    }

    @checkYourAnswers(
        question = Messages("supervision.penalisedbyprofessional.heading"),
        editUrl = controllers.supervision.routes.PenalisedByProfessionalController.get(true).toString
    ) {
        <p>@model.professionalBody.map {
            case ProfessionalBodyNo => { @Messages("lbl.no") }
            case ProfessionalBodyYes(v) => { @v }
        }</p>
    }

    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>
}
