@import forms.Form2
@import include._
@import include.forms2._

@()(implicit request: Request[_])

@header = {
    @heading("supervision.whatyouneed.heading", "summary.supervision")
}

@main(
    title = Messages("supervision.whatyouneed.title"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("supervision.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet spacelarge">
        <li>@Messages("supervision.whatyouneed.requiredinfo.text.1")</li>
        <li>@Messages("supervision.whatyouneed.requiredinfo.text.2")</li>
        <li>@Messages("supervision.whatyouneed.requiredinfo.text.3")</li>
        <li>@Messages("supervision.whatyouneed.requiredinfo.text.4")</li>
        <li>@Messages("supervision.whatyouneed.requiredinfo.text.5")</li>
    </ul>

    <div class="form-group">
        <a class="button" href="@controllers.supervision.routes.AnotherBodyController.get()">
            @Messages("button.continue")
        </a>
    </div>

}

@sidebar = {
<div class="user-attention">
  <h2>@Messages("main.sidebar.title")</h2>
  <p>@Messages("main.sidebar.information")</p>
</div>
}
