@import forms.Form2
@import include._
@import forms2._

@()(implicit request: Request[_],m:Messages)

@header = {
    @heading("title.wyn", "summary.supervision")
}

@whatyouneed(
    title = Messages("title.wyn") + " - " + Messages("summary.supervision"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("supervision.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("supervision.whatyouneed.requiredinfo.text.1")</li>
        <li>@Messages("supervision.whatyouneed.requiredinfo.text.2")</li>
        <li>@Messages("supervision.whatyouneed.requiredinfo.text.3")</li>
    </ul>

    @anchor(
        attrHref = controllers.supervision.routes.AnotherBodyController.get().toString,
        attrRole = true,
        linkText = Messages("button.continue"),
        visuallyhidden = Messages("summary.supervision")
    )

}

@sidebar = {
    <div class="user-attention">
        <h2 class="heading-small">@Messages("main.sidebar.title")</h2>
        <p>@Messages("main.sidebar.information")</p>
    </div>
}
