@(
    dataMax: Int = 0,
    dataAddBtnText: String = "",
    dataCanDelete: Boolean = false,
    dataDeleteBtnText: String = ""
)(content: Html)(implicit lang: Lang)

<div data-add-remove
     data-max="@dataMax"
     data-can-delete="@dataCanDelete"
     data-add-btn-text="@Messages(dataAddBtnText)"
     data-template-item="data-template">
  <ul class="add-remove__list" data-add-remove-list>
    <li class="add-remove__item" data-add-remove-item data-template>
      @content
    </li>
  </ul>
</div>
