@(
    f: forms.Field,
    labelText: String,
    value: String,
    disabled: Boolean = false,
    target: String = ""
)(implicit lang:Lang,  m: Messages)

<label class="block-label">
    <input
            id="@{f.id}-@value"
            type="checkbox"
            name="@{f.name}"
            value="@value"
            @if(f.value.contains(value)) {checked="checked"}
            @if(target.nonEmpty) {data-toggle="@target"}
            @if(disabled) {disabled}
    >
    @Messages(labelText)
</label>
