@import play.api.data.mapping.forms.{PM, UrlFormEncoded}

@(
    legend: String,
    legendHidden: Boolean = false,
    jsHidden: Boolean = false,
    panel: Boolean = true,
    id: String = "",
    classes: Seq[String] = Seq.empty,
    data: Seq[String] = Seq.empty,
    bold: Boolean = false,
    hint: String = "",
    f: forms.Field
)(content: Html)(implicit lang: Lang)

<fieldset
  @if(f.id.nonEmpty){ id="@f.id"}
  class="form-field-group@if(panel){ panel-indent}@if(f.hasErrors){ form-field--error}@if(jsHidden){ amls-js-hidden} @classes.mkString(" ")" @data.mkString(" ")>
    @include.forms2.legend(legend, jsHidden, bold, hint, legendHidden)
    @if(f.hasErrors) {
        <span class="error-notification">@f.error</span>
    }
    @content
</fieldset>
