@import play.api.data.mapping.forms.{PM, UrlFormEncoded}

@(
    legend: String,
    legendHidden: Boolean = false,
    jsHidden: Boolean = false,
    panel: Boolean = true,
    id: String = "",
    classes: Seq[String] = Seq.empty,
    data: Seq[String] = Seq.empty,
    bold: Boolean = false,
    hint: String = "",
    inline: Boolean = false,
    f: forms.Field = forms.ValidField(PM.asPath("/default/path"), Seq("defaultVal"))
)(content: Html)(implicit lang: Lang)

<fieldset
  @if(id.nonEmpty) {id="@id"}
  @data.mkString(" ")
  class="form-field-group @if(panel) {panel-indent} @if(f.hasErrors){form-field--error} @if(jsHidden) {amls-js-hidden} @classes.mkString(" ")"
  >
    @include.forms2.legend(legend, legendHidden, bold, hint)
    @if(f.hasErrors) {
        <span class="error-notification">@f.error</span>
    }
    @if(inline) {<div class="form-field inline">}
        @content
    @if(inline) {</div>}
</fieldset>
