@import play.api.data.mapping.forms.{PM, UrlFormEncoded}

@(
    panel: Boolean = true,
    jsHidden: Boolean = true,
    id: String = "",
    classes: Seq[String] = Seq.empty,
    data: Seq[String] = Seq.empty,
    wide: Boolean = false,
    gutter: Boolean = false,
    field: Option[forms.Field] = None
)(content: Html)(implicit lang: Lang)

    @if(field.isDefined) {
        <div
                @if(f.id.nonEmpty){ id="@f.id"}
                class="@if(panel){ panel-indent}@if(wide){ panel-border-wide} @if(gutter){panel-indent--gutter}@if(f.hasErrors){ form-field--error}@if(jsHidden){ amls-js-hidden} @classes.mkString(" ")" @data.mkString(" ")
        >
        @if(field.get.hasErrors) {
            <span class="error-notification">@field.get.error</span>
        }
    } else {
        <div class="@if(panel){ panel-indent}@if(wide){ panel-border-wide}@if(jsHidden){ amls-js-hidden} @classes.mkString(" ")" @data.mkString(" ")>
    }
    @content
</div>
