@import forms._

@(form: Form2[_], personName:String ="")(implicit lang:Lang,  m: Messages)

@if(form.errors.nonEmpty) {
    <div class="flash amls-error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h1 class="heading-medium" id="error-summary-heading">@Messages("err.summary")</h1>
        <ul>
            @form.errors.map { case (path, errors) =>
                <li>
                    <a href="#@form(path).id">
                        @errors.headOption.map(x => Messages(x.message, personName))
                    </a>
                </li>
            }
        </ul>
    </div>
}
