@import include._
@import forms2._
@import models.confirmation._
@import config.ApplicationConfig

@(mlrRegNo: String, total: Currency, breakdown: Seq[BreakdownRow], difference: Option[Currency], paymentsUrl: String)(implicit request: Request[_],m:Messages)

@main(
    title = Messages("confirmation.amendment.title")
) {

    <header class="page-header">
        <h1 class="heading-xlarge">@Messages("confirmation.amendment.header")</h1>
        <p class="heading-secondary"><span class="visuallyhidden">This section is </span>@Messages("confirmation.header.secondary")</p>
    </header>

    <div class="panel-indent panel-indent--gutter panel-border-wide info">
        @Messages("confirmation.amendment.info")
    </div>

    <div class="reg-online--pay-fee">
        <p>@Messages("confirmation.fee") <span class="visuallyhidden">is</span>
            <span class="heading-large">@difference</span></p>
        <p>@Messages("confirmation.sidebar.code") <span class="visuallyhidden">is</span>
            <span class="heading-large">@Messages(mlrRegNo)</span></p>
    </div>


    <details class="details">
        <summary class="summary">@Messages("confirmation.amendment.itemisedfeelink")</summary>
        <div class="details__inner">
            <ul class="list panel-indent">
                <p>@Messages("confirmation.amendment.summary")</p>

                <table>
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th width="15%" class="numeric">@Messages("confirmation.quantity")</th>
                        <th width="20%" class="numeric">@Messages("confirmation.feeperitem")</th>
                        <th width="20%" class="numeric">@Messages("confirmation.totalfee")</th>
                    </tr>
                    </thead>
                    <tbody>
                    @breakdown.map {
                    case BreakdownRow(label, quantity, perItem, total) => {
                    <tr>
                        <td>@Messages(label)</td>
                        <td class="numeric">@quantity</td>
                        <td class="numeric">@perItem</td>
                        <td class="numeric">@total</td>
                    </tr>
                    }
                    }
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3">@Messages("confirmation.total")</th>
                        <td class="numeric">@total</td>
                    </tr>
                    </tfoot>
                </table>

                <h3 class="heading-medium">@Messages("confirmation.amendment.details.header")</h3>

                <p>@Messages("confirmation.amendment.details.01")</p>

                <ul class="list list-bullet">
                    <li>@Messages("confirmation.amendment.details.list.01")</li>
                    <li>@Messages("confirmation.amendment.details.list.02")</li>
                    <li>@Messages("confirmation.amendment.details.list.03")</li>
                </ul>

                <p>@Messages("confirmation.amendment.details.02") </p>

            </ul>
        </div>
    </details>


    <p><a class="button" href="@paymentsUrl">@Messages("button.continue")</a></p>

}
