@import include._

@(companyName: String, paymentReference: String)(implicit request: Request[_], messages: Messages)

@main(title = messages("confirmation.payment.amendvariation.title")){

    <div class="confirmation">
        <h1 class="heading-large">@Messages("confirmation.payment.amendvariation.lede")</h1>
        <p>
            @companyName
            <br>
            @messages("confirmation.payment.reference_header", paymentReference)
        </p>
    </div>

    <h2>@messages("confirmation.payment.info.heading.keep_up_to_date")</h2>

    <p>@messages("confirmation.payment.info.keep_up_to_date")</p>

    <ul class="list list-bullet">
        <li>@messages("confirmation.payment.info.keep_up_to_date.item1")</li>
        <li>@messages("confirmation.payment.info.keep_up_to_date.item2")</li>
        <li>@messages("confirmation.payment.info.keep_up_to_date.item3")</li>
    </ul>

    <a class="button" href="@controllers.routes.LandingController.get()" role="button">@Messages("confirmation.payment.status_button.text")</a>

}
