@import forms.EmptyForm
@import include._
@import include.forms2._

@(content: (String,String), name: String)(implicit request: Request[_])

@header = {
    @heading("declaration.declaration.title", content._2)
}

@main(
    title = Messages(content._1),
    heading = header
) {

    <div class="notice spacelarge">
        <i class="icon icon-important">
            <span class="visuallyhidden">Warning</span>
        </i>
        <strong class="bold-small">@Messages("declaration.declaration.fullname") @name</strong>
    </div>

    <p>
        <p>@Messages("declaration.declaration.declare")</p>
    </p>

        <ul class="list list-bullet">
            <li>@Messages("declaration.declaration.correctinformation")</li>
            <li>@Messages("declaration.declaration.tellhmrc")</li>
            <li>@Messages("declaration.declaration.noncompliance")</li>
            <li>@Messages("declaration.declaration.confirm")
                <a href="">@Messages("declaration.declaration.guidance")</a>
            </li>
        </ul>

    @form(EmptyForm, controllers.routes.SubmissionController.post()) {
        <div class="form-group">
            <input
                type="submit"
                name="submit"
                class="button"
                value="@Messages("button.confirmandsubmit")">
        </div>
    }

}
