@import include._
@import models.responsiblepeople._
@import forms2._

@(title: String, f: forms.Form2[_], model : Seq[ResponsiblePeople])(implicit m: Messages, request: Request[_])

    @fieldset(
        f = f("person"),
        legend = "declaration.renewal.who.is.registering.title",
        legendHidden = true,
        panel = false
    ) {
        @model.map { people =>
            @people.personName.map { obj =>
            @radio(f("person"), obj.firstName+" "+obj.lastName, obj.firstName+obj.lastName)
            }
        }
        <p class="form-block">@Messages("lbl.or")</p>
        @radio(f("person"), Messages("lbl.some.one.else"), "-1")
    }
