@import include._
@import models.responsiblepeople._
@import forms2._

@(f: forms.Form2[_], model : Seq[ResponsiblePeople])(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("declaration.renewal.who.is.registering.heading", "summary.submit.renewal")
}

@main(
    title = Messages("declaration.renewal.who.is.registering.title"),
    heading = header
) {

    @who_is_registering_common(Messages("declaration.renewal.who.is.registering.title"), Messages("declaration.who.is.registering.text"), f, model)

}
