@import include._
@import forms2._
@import utils.HtmlElementHelpers._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages)

@target = @{
    s"""${f("regNumber").id}-panel"""
}

@header = {
    @errorSummary(f)
    @heading("businessmatching.psr.number.title", "summary.businessmatching")
}

@main(
    title = Messages("businessmatching.psr.number.title") + " - " + Messages("summary.businessmatching"),
    heading = header
)  {

    @form(f, controllers.businessmatching.routes.BusinessAppliedForPSRNumberController.post(edit)) {

        @fieldset(
            f = f("appliedfor-fieldset"),
            legend = "businessmatching.psr.number.title",
            legendHidden = true,
            panel = false
        ) {

            @errorGroup(
                field = f("appliedFor")
            ) {

                @radio(
                    f = f("appliedFor"),
                    labelText = "lbl.yes",
                    value = "true",
                    target = s"#$target",
                    inline = true
                )
                @radio(
                    f = f("appliedFor"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @panel(
            field = Some(f(s"$target")),
            id = target
        ) {
            @input(
                attrMaxlength = "6",
                attrPattern = "[0-9]{1,6}",
                attrType = "tel",
                bold = false,
                // classes = Seq("form-control-1-4 form-control-1-4"), // yes, twice to override shady asset library nonsense *facepalm*
                dataAttrs = digitsOnlyAttributes,
                field = f("regNumber"),
                hintText = "businessmatching.psr.number.hint",
                labelText = "businessmatching.psr.number.lbl"
            )
        }

        @submit(edit)
   }
}
