@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{
    s"""${f("regNumber").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("businessmatching.psr.number.title", "summary.businessmatching")
}

@main(
    title = Messages("businessmatching.psr.number.title") + " - " + Messages("summary.businessmatching"),
    heading = header
)  {

    @form(f, controllers.businessmatching.routes.BusinessAppliedForPSRNumberController.post(edit)) {

        @fieldset(
            f = f("appliedFor"),
            legend = "businessmatching.psr.number.title",
            legendHidden = true,
            panel = false
        ) {
            @radio(
                f = f("appliedFor"),
                labelText = "lbl.yes",
                value = "true",
                target = s"#$target",
                inline = true
            )
            @radio(
                f = f("appliedFor"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @fieldset(
            f = f("regNumber-fieldset"),
            legend = "businessmatching.psr.number.lbl",
            legendHidden = true,
            jsHidden = true,
            id = target,
            panel = false
        ) {
            @input(
                field = f("regNumber"),
                bold = false,
                labelText = "businessmatching.psr.number.lbl",
                hintText = "businessmatching.psr.number.hint"
            )
        }

        @submit(edit)
   }
}
