@import include._
@import forms2._
@import config.{ApplicationConfig => appConfig}
@()(implicit request: Request[_],m:Messages)

@header = {
    @heading("businessmatching.cannotcontinuewiththeapplication.title", "summary.businessmatching")
}

@main(
    title = Messages("businessmatching.cannotcontinuewiththeapplication.title") + " - " + Messages("summary.businessmatching"),
    heading = header
) {

    <p>@Messages("businessmatching.cannotcontinuewiththeapplication.requiredinfo.first")</p>
    <p>@Messages("businessmatching.cannotcontinuewiththeapplication.requiredinfo.second")</p>

    @anchor(
        attrHref = appConfig.logoutUrl.toString,
        attrRole = true,
        linkText = Messages("button.logout"),
        visuallyhidden = Messages("summary.businessmatching")
    )
}
