@import forms.Form2
@import include.{main, heading}
@import include.forms2._
@import models.aboutthebusiness._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("businessmatching.registrationnumber.heading", "summary.businessmatching")
}

@main(
    title = Messages("businessmatching.registrationnumber.title"),
    heading = header
) {

    @form(f, controllers.businessmatching.routes.CompanyRegistrationNumberController.post(edit)) {
        <div class="form-field-group">
            @input(f("companyRegistrationNumber"), hintText = "businessmatching.registrationnumber.example", bold = false)
        </div>

        @submit(edit)
    }
}
