@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("businessmatching.registerservices.title")
) {

    @heading("businessmatching.registerservices.heading", "summary.businessmatching")

    @form(f, controllers.businessmatching.routes.RegisterServicesController.post(edit)) {

        @Messages("lbl.select.all")

        @radioGroup(f("businessActivities")) {
            @legend("lbl.select.all", jsHidden = true)
            @checkbox(f("businessActivities[]"), "businessmatching.registerservices.servicename.lbl.01", "01")
            @checkbox(f("businessActivities[]"), "businessmatching.registerservices.servicename.lbl.02", "02")
            @checkbox(f("businessActivities[]"), "businessmatching.registerservices.servicename.lbl.03", "03")
            @checkbox(f("businessActivities[]"), "businessmatching.registerservices.servicename.lbl.04", "04", disabled = true)
            @checkbox(f("businessActivities[]"), "businessmatching.registerservices.servicename.lbl.05", "05")
            @checkbox(f("businessActivities[]"), "businessmatching.registerservices.servicename.lbl.06", "06")
            @checkbox(f("businessActivities[]"), "businessmatching.registerservices.servicename.lbl.07", "07")
        }

        <details class="details">
            <summary class="summary">@Messages("businessmatching.registerservices.details")</summary>
            <div class="details__inner">
                <ul class="panel-indent">
                    <li>@Messages("businessmatching.registerservices.servicename.details.01") <a href="https://www.gov.uk/guidance/money-laundering-regulations-accountancy-service-provider-registration">@Messages("businessmatching.registerservices.servicename.details.01.anchor")</a></li>
                    <li>@Messages("businessmatching.registerservices.servicename.details.02") </li>
                    <li>@Messages("businessmatching.registerservices.servicename.details.03") <a href="https://www.gov.uk/guidance/registration-guide-for-estate-agency-businesses">@Messages("businessmatching.registerservices.servicename.details.03.anchor")</a></li>
                    <li>@Messages("businessmatching.registerservices.servicename.details.04") <a href="https://www.gov.uk/guidance/money-laundering-regulations-high-value-dealer-registration">@Messages("businessmatching.registerservices.servicename.details.04.anchor")</a></li>
                    <li>@Messages("businessmatching.registerservices.servicename.details.05") <a href="https://www.gov.uk/guidance/money-laundering-regulations-money-service-business-registration">@Messages("businessmatching.registerservices.servicename.details.05.anchor")</a></li>
                    <li>@Messages("businessmatching.registerservices.servicename.details.06") <a href="https://www.gov.uk/guidance/money-laundering-regulations-trust-or-company-service-provider-registration">@Messages("businessmatching.registerservices.servicename.details.06.anchor")</a></li>
                    <li>@Messages("businessmatching.registerservices.servicename.details.07") </li>
                </ul>
            </div>
        </details>

        @submit(edit)

    }

}
