@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages)

@header = {
    @errorSummary(f)
    @heading("msb.services.title", "summary.businessmatching")
}

@main(
    title = Messages("msb.services.title") + " - " + Messages("summary.businessmatching"),
    heading = header
) {

    <p>@Messages("lbl.select.all")</p>

    @form(f, controllers.businessmatching.routes.ServicesController.post(edit)) {

      @fieldset(
        f = f("msbServices-fieldset"),
        legend = "msb.services.title",
        legendHidden = true,
        panel = false
      ) {

          @errorGroup(
                field = f("msbServices")
            ) {

              @checkbox(
                f = f("msbServices[]"),
                labelText = "msb.services.list.lbl.01",
                value = "01"
              )
              @checkbox(
                f = f("msbServices[]"),
                labelText = "msb.services.list.lbl.02",
                value = "02"
              )
              @checkbox(
                f = f("msbServices[]"),
                labelText = "msb.services.list.lbl.03",
                value = "03"
              )
              @checkbox(
                f = f("msbServices[]"),
                labelText = "msb.services.list.lbl.04",
                value = "04"
              )
            }
      }

      @submit(edit)

    }
}
