@import include._
@import models.businessmatching._

@(model: BusinessMatching)(implicit request: Request[_])

@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.businessmatching")

    <div class="panel-indent panel-indent--gutter panel-wide">
        @Messages("businessmatching.summary.icon.title")
    </div>

    @model.reviewDetails.map { review =>
        <table class="table--spaced-top">
            <tr>
                <th colspan="2">@Messages("businessmatching.summary.business.address.lbl")</th>
            </tr>
            <tr>
                <td colspan="2">
                    @review.businessAddress.toLines.map { line =>
                        @line<br>
                    }
                </td>
            </tr>
        </table>

        @review.businessType.map { m =>
            @m match {
                case BusinessType.LPrLLP | BusinessType.LimitedCompany => {
                    <table class="table--spaced-top">
                        <tr>
                            <th>@Messages("businessmatching.registrationnumber.heading")</th>
                            <td width="12"><a href="@controllers.businessmatching.routes.CompanyRegistrationNumberController.get(true)">@Messages("button.edit")</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @model.companyRegistrationNumber.map {number =>
                                    @number.companyRegistrationNumber
                                }
                            </td>
                        </tr>
                    </table>
                }
                case BusinessType.UnincorporatedBody => {
                    <table class="table--spaced-top">
                        <tr>
                            <th>@Messages("businessmatching.typeofbusiness.heading")</th>
                            <td width="12"><a href="@controllers.businessmatching.routes.TypeOfBusinessController.get(true)">@Messages("button.edit")</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @model.typeOfBusiness.map {business =>
                                    @business.typeOfBusiness
                                }
                            </td>
                        </tr>
                    </table>
                }
                case _ => {}

            }
        }
    }

    @model.activities.map { activity =>
        <table class="table--spaced-top">
            <tr>
                <th>@Messages("businessmatching.registerservices.heading")</th>
                <td width="12"><a href="@controllers.businessmatching.routes.RegisterServicesController.get(true)">@Messages("button.edit")</a></td>
            </tr>
            @activity.businessActivities.map { line =>
            <tr>
                <td colspan="2">
                    @line match {
                        case AccountancyServices => {@Messages("businessmatching.registerservices.servicename.lbl.01")}
                        case BillPaymentServices => {@Messages("businessmatching.registerservices.servicename.lbl.02")}
                        case EstateAgentBusinessService => {@Messages("businessmatching.registerservices.servicename.lbl.03")}
                        case HighValueDealing => {@Messages("businessmatching.registerservices.servicename.lbl.04")}
                        case MoneyServiceBusiness => {@Messages("businessmatching.registerservices.servicename.lbl.05")}
                        case TrustAndCompanyServices => {@Messages("businessmatching.registerservices.servicename.lbl.06")}
                        case TelephonePaymentService => {@Messages("businessmatching.registerservices.servicename.lbl.07")}
                    }
                </td>
            </tr>
            }
        </table>
    }

    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("businessmatching.button.confirm.start")</a>
}