@import include._
@import models.businessmatching._


@(model: BusinessMatching)(implicit request: Request[_])

@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.businessmatching")

    @model.reviewDetails.map { review =>
        @review.businessType.map { m =>
            @m match {
                case BusinessType.LLP | BusinessType.CORPORATE_BODY => {
                    <table>
                        <tr>
                            <th class="summary-title">@Messages("businessmatching.registrationnumber.heading")</th>
                            <td><a href="@controllers.businessmatching.routes.CompanyRegistrationNumberController.get(true)">@Messages("button.edit")</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @model.companyRegistrationNumber.map {number =>
                                    @number.companyRegistrationNumber
                                }
                            </td>
                        </tr>
                    </table>
                }
                case BusinessType.UNINCORPORATED_BODY =>{
                    <table>
                        <tr>
                            <th class="summary-title">@Messages("businessmatching.typeofbusiness.heading")</th>
                            <td><a href="@controllers.businessmatching.routes.TypeOfBusinessController.get(true)">@Messages("button.edit")</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @model.typeOfBusiness.map {business =>
                                    @business.typeOfBusiness
                                }
                            </td>
                        </tr>
                    </table>
                }
                case _=> {
                @model.activities.map { activity =>
                    <table>
                        <tr>
                            <th class="summary-title">@Messages("businessmatching.registerservices.heading")</th>
                            <td><a href="@controllers.businessmatching.routes.RegisterServicesController.get(true)">@Messages("button.edit")</a></td>
                        </tr>
                        @activity.businessActivities.map { line =>
                        <tr>
                            <td colspan="2">
                                @line match {
                                case AccountancyServices => {@Messages("businessmatching.registerservices.servicename.lbl.01")}
                                case BillPaymentServices => {@Messages("businessmatching.registerservices.servicename.lbl.02")}
                                case EstateAgentBusinessService => {@Messages("businessmatching.registerservices.servicename.lbl.03")}
                                case HighValueDealing => {@Messages("businessmatching.registerservices.servicename.lbl.04")}
                                case MoneyServiceBusiness => {@Messages("businessmatching.registerservices.servicename.lbl.05")}
                                case TrustAndCompanyServices => {@Messages("businessmatching.registerservices.servicename.lbl.06")}
                                case TelephonePaymentService => {@Messages("businessmatching.registerservices.servicename.lbl.07")}
                                }
                            </td>
                        </tr>
                        }
                    </table>

                }
            }
        }
    }


    }

    <a class="button" href="@controllers.routes.MainSummaryController.onPageLoad()">Accept and complete section</a>
}