@import forms.Form2
@import include.{main, heading}
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages, lang: Lang)

@header = {
    @errorSummary(f)
    @heading("businessmatching.typeofbusiness.title", "summary.businessmatching")
}

@main(
    title = Messages("businessmatching.typeofbusiness.title") + " - " + Messages("summary.businessmatching"),
    heading = header
) {

    @form(f, controllers.businessmatching.routes.TypeOfBusinessController.post(edit)) {

        <div class="form-field-group">
            @input(
                field = f("typeOfBusiness"),
                labelText = "businessmatching.typeofbusiness.lbl",
                labelHidden = true,
                hintText = Messages("businessmatching.typeofbusiness.lbl.hint")
            )
        </div>

        @submit(edit)
    }
}
