@import include._
@import models.ResponseType.{SubscriptionResponseType,AmendOrVariationResponseType}
@import config.ApplicationConfig

@(feeResponse: FeeResponse)(implicit request: Request[_], lang: Lang)

<p>@Messages("fee.details.heading")</p>

<div class="panel panel-border-wide">
    <p>@Messages("fee.details.registration.fee.lbl") </p>
    <p class="heading-large">
    @feeResponse.responseType match {
        case SubscriptionResponseType => {£@feeResponse.totalFees}
        case AmendOrVariationResponseType => {£@feeResponse.difference}
    }
    </p>
    <p>@Messages("fee.reference.number.lbl")</p>
    <p class="heading-large">@feeResponse.paymentReference </p>
    <p>@Messages("fee.details.note")</p>

</div>

<p><a class="button" href="@ApplicationConfig.paymentsUrl">@Messages("button.payfee")</a></p>
