@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("businessactivities.accountantForAMLSRegulations.title", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.accountantForAMLSRegulations.title") + " - " + Messages("summary.businessactivities"),
    heading = header
) {

    @form(f, controllers.businessactivities.routes.AccountantForAMLSRegulationsController.post(edit)) {

        <p>@Messages("businessactivities.accountantForAMLSRegulations.subtext")</p>

        @fieldset(
            f = f("accountantForAMLSRegulations"),
            legend = "businessactivities.accountantForAMLSRegulations.title",
            legendHidden = true,
            panel = false
        ) {
            @radio(
                f = f("accountantForAMLSRegulations"),
                labelText = "lbl.yes",
                value = "true",
                inline = true
            )
            @radio(
                f = f("accountantForAMLSRegulations"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

    @submit(edit)

    }
}
