@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @heading("businessactivities.accountantForAMLSRegulations.title", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.accountantForAMLSRegulations.title"),
    heading = header
) {

    @form(f, controllers.businessactivities.routes.AccountantForAMLSRegulationsController.post(edit)) {

        <p>@Messages("businessactivities.accountantForAMLSRegulations.subtext")</p>

        @inlineRadioGroup(f("accountantForAMLSRegulations")) {
            @radio(f("accountantForAMLSRegulations"), "lbl.yes", "true")
            @radio(f("accountantForAMLSRegulations"), "lbl.no", "false")
        }

    @submit(edit)

    }
}
