@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages)

@target = @{
    s"""${f("franchiseName").id}-panel"""
}

@header = {
    @errorSummary(f)
    @heading("businessactivities.businessfranchise.title", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.businessfranchise.title") + " - " + Messages("summary.businessactivities"),
    heading = header
)  {

    @form(f, controllers.businessactivities.routes.BusinessFranchiseController.post(edit)) {

        <p class="form-hint">@Messages("businessactivities.businessfranchise.subtitle")</p>

        @fieldset(
            f = f("redundantvalue"),
            legend = "businessactivities.businessfranchise.title",
            legendHidden = true,
            panel = false
        ) {

            @errorGroup(
                field = f("businessFranchise")
            ) {

                @radio(
                    f = f("businessFranchise"),
                    labelText = "lbl.yes",
                    value = "true",
                    target = s"#$target",
                    inline = true
                )
                @radio(
                    f = f("businessFranchise"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @panel(
            field = Some(f(s"$target")),
            jsHidden = false
        ) {
            @input(
                field = f("franchiseName"),
                labelText = "businessactivities.businessfranchise.lbl.franchisename",
                bold = false
            )
        }

        @submit(edit)
   }
}
