@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{
s"""${f("franchiseName").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("businessactivities.businessfranchise.heading", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.businessfranchise.title"),
    heading = header
)  {

    @form(f, controllers.businessactivities.routes.BusinessFranchiseController.post(edit)) {

        <p class="form-hint">@Messages("businessactivities.businessfranchise.subtitle")</p>

        <div class="form-field-group">
        @inlineRadioGroup(f("businessFranchise")) {
            @legend("businessactivities.businessfranchise.title", jsHidden = true)
            @radio(f("businessFranchise"), "lbl.yes", "true", target = s"#$target")
            @radio(f("businessFranchise"), "lbl.no", "false")
            @fieldset("businessactivities.businessfranchise.lbl.franchisename", jsHidden = true, id = target) {
                @input(f("franchiseName"), "businessactivities.businessfranchise.lbl.franchisename", bold = false)
            }
        </div>
        }

        @submit(edit)
   }
}
