@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{
s"""${f("franchiseName").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("businessactivities.employees.title", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.employees.title") + " - " + Messages("summary.businessactivities"),
    heading = header
)  {

    @form(f, controllers.businessactivities.routes.HowManyEmployeesController.post(edit)) {

        @fieldset(
            f = f("employees"),
            legend = "businessactivities.employees.title",
            legendHidden = true,
            panel = false
        ) {
            @input(
                field = f("employeeCount"),
                labelText = "businessactivities.employees.line1.text",
                hintText = "businessactivities.employees.line1.hint",
                bold = false
            )
            @input(
                field = f("employeeCountAMLSSupervision"),
                labelText = "businessactivities.employees.line2.text",
                hintText = "businessactivities.employees.line2.hint",
                bold = false
            )
        }

        @submit(edit)

    }
}
