@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{
s"""${f("franchiseName").id}-fieldset"""
}

@header = {
    @heading("businessactivities.employees.title", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.employees.title"),
    heading = header
)  {

    @form(f, controllers.businessactivities.routes.HowManyEmployeesController.post(edit)) {

        <div class="form-field-group">
            <label class="form-label">@Messages("businessactivities.employees.line1.text")</label>
            @input(f("employeeCount"), "", bold = false)
        </div>

        <div class="form-field-group">
            <label class="form-label">@Messages("businessactivities.employees.line2.text")</label>
            @input(f("employeeCountAMLSSupervision"), "", bold = false)
        </div>

        @submit(edit)

    }
}
