@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@main(
    title = Messages("businessactivities.customer.outside.uk.title")
) {

    @heading("businessactivities.customer.outside.uk.title", "summary.businessactivities")

    @form(f, controllers.businessactivities.routes.CustomersOutsideUKController.post(edit)) {

        <div class="form-field-group">
        @inlineRadioGroup(f("isOutside")) {
            @legend("businessactivities.customer.outside.uk.title", jsHidden = true)
            @radio(f("isOutside"), "lbl.yes", "true", target = s"#${f("countries").id}-fieldset")
            @radio(f("isOutside"), "lbl.no", "false")
            @fieldset("businessactivities.hight.value.customer.lbl", jsHidden = true, id = s"""${f("countries").id}-fieldset""") {
                <div class="form-field-group">
                    <label class="form-label">
                        @Messages("businessactivities.hight.value.customer.lbl")
                    </label>
                    <p class="form-field--hint">
                        @Messages("businessactivities.hight.value.customer.lbl.hint")
                    </p>

                    @country(f("country_1"))
                    @country(f("country_2"))
                    @country(f("country_3"))
                    @country(f("country_4"))
                    @country(f("country_5"))
                    @country(f("country_6"))
                    @country(f("country_7"))
                    @country(f("country_8"))
                    @country(f("country_9"))
                    @country(f("country_10"))
                </div>
            }
        }
        </div>

        @submit(edit)
    }
}
