@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang:Lang,  m: Messages, request: Request[_])

@target = @{
    s"""${f("transactions").id}-panel"""
}

@target1 = @{
    s"""${f("name").id}-panel"""
}

@header = {
    @errorSummary(f)
    @heading("businessactivities.keep.customer.records.title", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.keep.customer.records.title") + " - " + Messages("summary.businessactivities"),
    heading = header
) {
        @form(f, controllers.businessactivities.routes.TransactionRecordController.post(edit)) {

        @fieldset(
            legend = "businessactivities.keep.customer.records.title",
            legendHidden = true,
            panel = false,
            f = f("isRecorded-field")
        ) {
            @errorGroup(
                field = f("isRecorded")
            ) {
                @radio(
                    f = f("isRecorded"),
                    labelText = "lbl.yes",
                    value = "true",
                    target = s".$target",
                    inline = true
                )
                @radio(
                    f = f("isRecorded"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @fieldset(
            f = f("transactions-fieldset"),
            legend = "businessactivities.do.keep.records",
            hint = "businessactivities.do.keep.records.hint",
            classes = Seq(s"$target")
        ) {
            @errorGroup(
                field = f("transactions")
            ) {
                @checkbox(
                    f = f("transactions[]"),
                    labelText = "businessactivities.transactiontype.lbl.01",
                    value = "01"
                )
                @checkbox(
                    f = f("transactions[]"),
                    labelText = "businessactivities.transactiontype.lbl.02",
                    value = "02"
                )
                @checkbox(
                    f = f("transactions[]"),
                    labelText = "businessactivities.transactiontype.lbl.03",
                    value = "03",
                    target = s"#$target"
                )
            }
            @panel(
                field = Some(f(s"$target")),
                panel = false
            ) {
                @input(
                    classes = Seq("form-control-3-4 form-control-3-4"),
                    field = f("name"),
                    labelText = "businessactivities.name.software.pkg.lbl"
                )
            }
        }


        @submit(edit)
    }
}
