@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("businessactivities.identify-suspicious-activity.heading", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.identify-suspicious-activity.title"),
    heading = header
) {

    @form(f, controllers.businessactivities.routes.IdentifySuspiciousActivityController.post(edit)) {

        <div class="form-field-group">
            @inlineRadioGroup(f("hasWrittenGuidance")) {
                @radio(f("hasWrittenGuidance"), "lbl.yes", "true")
                @radio(f("hasWrittenGuidance"), "lbl.no", "false")
                }
            @submit(edit)
        </div>
        }
    }
