@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@main(
    title = Messages("businessactivities.identify-suspicious-activity.title")) {

    @heading("businessactivities.identify-suspicious-activity.title", "summary.businessactivities")

    @form(f, controllers.businessactivities.routes.IdentifySuspiciousActivityController.post(edit)) {

        <div class="form-field-group">
            @inlineRadioGroup(f("hasWrittenGuidance")) {
                @radio(f("hasWrittenGuidance"), "lbl.yes", "true")
                @radio(f("hasWrittenGuidance"), "lbl.no", "false")
                }
            @submit(edit)
        </div>
        }
    }