@import include._
@import forms2._
@import models.businessmatching._

@(f: forms.Form2[_], edit: Boolean, bmModel: BusinessMatching)(implicit request: Request[_])

@target = @{
    s"""${f("details").id}-fieldset"""
}

@header = {
    @heading("businessactivities.involved.other.heading", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.involved.other.title"),
    heading = header
)  {

    <p>@Messages("bankdetails.confirm-activities.subtitle")</p>

    @bmModel.activities.map { a=>
    <ul class="panel-indent panel-indent--gutter panel-border-wide">
        @a.businessActivities.map {line =>
            @line match {
                case AccountancyServices => {<li>@Messages("businessmatching.registerservices.servicename.lbl.01")</li>}
                case BillPaymentServices => {<li>@Messages("businessmatching.registerservices.servicename.lbl.02")</li>}
                case EstateAgentBusinessService => {<li>@Messages("businessmatching.registerservices.servicename.lbl.03")</li>}
                case HighValueDealing => {<li>@Messages("businessmatching.registerservices.servicename.lbl.04")</li>}
                case MoneyServiceBusiness => {<li>@Messages("businessmatching.registerservices.servicename.lbl.05")</li>}
                case TrustAndCompanyServices => {<li>@Messages("businessmatching.registerservices.servicename.lbl.06")</li>}
                case TelephonePaymentService => {<li>@Messages("businessmatching.registerservices.servicename.lbl.07")</li>}
            }
        }
    </ul>
    }

    @form(f, controllers.businessactivities.routes.InvolvedInOtherController.post(edit)) {

        <div class="form-field-group">
            @inlineRadioGroup(f("involvedInOther")) {
                @legend("businessactivities.involved.other.legend")
                @radio(f("involvedInOther"), "lbl.yes", "true", target = s"#$target")
                @radio(f("involvedInOther"), "lbl.no", "false")
                @fieldset(
                    legend = "businessactivities.confirm-activities.line1.text",
                    jsHidden = true,
                    id = target
                ) {
                    @textarea(f("details"), "businessactivities.confirm-activities.lbl.details", bold = false)
                }
            }
        </div>

        @submit(false)

    }
}
