@import include._
@import forms2._
@import models.businessmatching._

@(f: forms.Form2[_], edit: Boolean, bmModel: BusinessMatching, businessTypes: Option[String])(implicit request: Request[_])

@target = @{
    s"""${f("details").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("businessactivities.involved.other.legend", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.involved.other.legend") + " - " + Messages("summary.businessactivities"),
    heading = header
)  {

    @form(f, controllers.businessactivities.routes.InvolvedInOtherController.post(edit)) {

        <p>@Messages("bankdetails.confirm-activities.subtitle") @businessTypes</p>

        @fieldset(
            f = f("involvedInOther"),
            legend = "businessactivities.involved.other.title",
            legendHidden = true,
            panel = false,
            hint = "businessactivities.involved.other.hint"
        ) {
            @radio(
                f = f("involvedInOther"),
                labelText = "lbl.yes",
                value = "true",
                target = s"#$target",
                inline = true
            )
            @radio(
                f = f("involvedInOther"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @fieldset(
            f = f(s"$target"),
            legend = "businessactivities.confirm-activities.line1.text",
            legendHidden = true,
            id = target
        ) {
            @textarea(
                field = f("details"),
                labelText = "businessactivities.confirm-activities.lbl.details",
                bold = false
            )
        }

        @submit(false)

    }
}
