@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("businessactivities.ncaRegistered.title", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.ncaRegistered.title") + " - " + Messages("summary.businessactivities"),
    heading = header
) {

    @form(f, controllers.businessactivities.routes.NCARegisteredController.post(edit)) {

        @fieldset(
            f = f("ncaRegistered-fieldset"),
            legend = "businessactivities.ncaRegistered.title",
            legendHidden = true,
            hint = "businessactivities.ncaRegistered.subtitle",
            panel = false
        ) {
            @errorGroup(
                field = f("ncaRegistered")
            ) {
                @radio(
                    f = f("ncaRegistered"),
                    labelText = "lbl.yes",
                    value = "true",
                    inline = true
                )
                @radio(
                    f = f("ncaRegistered"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @submit(edit)

    }
}
