@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @heading("businessactivities.ncaRegistered.heading", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.ncaRegistered.title"),
    heading = header
) {

@form(f, controllers.businessactivities.routes.NCARegisteredController.post(edit)) {

    <p class="form-hint">@Messages("businessactivities.ncaRegistered.subtitle")</p>

    <div class="form-field-group">
        @inlineRadioGroup(f("ncaRegistered")) {
            @radio(f("ncaRegistered"), "lbl.yes", "true")
            @radio(f("ncaRegistered"), "lbl.no", "false")
        }
    </div>
    @submit(edit)

    }
}
