@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])


@main(
title = Messages("businessactivities.ncaRegistered.title")
) {

@heading("businessactivities.ncaRegistered.title", "summary.businessactivities")

@form(f, controllers.businessactivities.routes.NCARegisteredController.post(edit)) {
    <span class="form-hint">
        @Messages("businessactivities.ncaRegistered.subtitle")
    </span>

    @inlineRadioGroup(f("NCARegisteredController")) {
        @radio(f("ncaRegistered"), "lbl.yes", "true")
        @radio(f("ncaRegistered"), "lbl.no", "false")
    }
    @submit(edit)

    }
}