@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("businessactivities.riskassessment.policy.title", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.riskassessment.policy.title") + " - " + Messages("summary.businessactivities"),
    heading = header
) {

    @form(f, controllers.businessactivities.routes.RiskAssessmentController.post(edit)) {

        @fieldset(
            f = f("hasPolicy"),
            legend = "businessactivities.riskassessment.policy.title",
            legendHidden = true,
            panel = false
        ) {
            @radio(
                f = f("hasPolicy"),
                labelText = "lbl.yes",
                value = "true",
                inline = true,
                target = "#riskassessments"
            )
            @radio(
                f = f("hasPolicy"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @fieldset(
            f = f("riskassessments"),
            legend = "businessactivities.paper.or.digital"
        ) {
            @hint(
                hint = "lbl.select.all"
            )
            @checkbox(
                f = f("riskassessments[]"),
                labelText = "businessactivities.RiskAssessmentType.lbl.01",
                value = "01"
            )
            @checkbox(
                f = f("riskassessments[]"),
                labelText = "businessactivities.RiskAssessmentType.lbl.02",
                value = "02"
            )
        }

        @submit(edit)
    }
}
