@import include._
@import forms2._
@()(implicit request: Request[_],m:Messages)

@header = {
    @heading("title.wyn", "summary.businessactivities")
}

@whatyouneed(
    title = Messages("title.wyn") + " - " + Messages("summary.businessactivities"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("businessactivities.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("businessactivities.whatyouneed.line_1")</li>
        <li>@Messages("businessactivities.whatyouneed.line_2")</li>
        <li>@Messages("businessactivities.whatyouneed.line_3")</li>
    </ul>

    @anchor(
        attrHref = controllers.businessactivities.routes.InvolvedInOtherController.get().toString,
        attrRole = true,
        linkText = Messages("button.continue"),
        visuallyhidden = Messages("summary.businessactivities")
    )

}

@sidebar = {
    <div class="user-attention">
        <h2 class="heading-small">@Messages("main.sidebar.title")</h2>
        <p>@Messages("main.sidebar.information")</p>
    </div>
}
