@import include._
@()(implicit request: Request[_])

@sidebar = {
<div class="bevel-container">
    <h3>@Messages("main.sidebar.title")</h3>
    <p>@Messages("main.sidebar.information")</p>
</div>
}

@header = {
    @heading("businessactivities.whatyouneed.heading", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.whatyouneed.title"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("businessactivities.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("businessactivities.whatyouneed.line_1")</li>
        <li>@Messages("businessactivities.whatyouneed.line_2")</li>
        <li>@Messages("businessactivities.whatyouneed.line_3")</li>
    </ul>

    <p>@Messages("businessactivities.whatyouneed.possiblerequiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("businessactivities.whatyouneed.line_4")</li>
        <li>@Messages("businessactivities.whatyouneed.line_5")</li>
        <li>@Messages("businessactivities.whatyouneed.line_6")</li>
        <li>@Messages("businessactivities.whatyouneed.line_7")</li>
        <li>@Messages("businessactivities.whatyouneed.line_8")</li>
    </ul>

    <div class="form-group">
        <a class="button" href="@controllers.businessactivities.routes.InvolvedInOtherController.get()">@Messages("button.continue")</a>
    </div>
}
