@import include._
@()(implicit request: Request[_])

@header = {
    @heading("businessactivities.whatyouneed.heading", "summary.businessactivities")
}

@whatyouneed(
    title = Messages("businessactivities.whatyouneed.title"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("businessactivities.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("businessactivities.whatyouneed.line_1")</li>
        <li>@Messages("businessactivities.whatyouneed.line_2")</li>
        <li>@Messages("businessactivities.whatyouneed.line_3")</li>
    </ul>

    <p>@Messages("businessactivities.whatyouneed.possiblerequiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("businessactivities.whatyouneed.line_4")</li>
        <li>@Messages("businessactivities.whatyouneed.line_5")</li>
        <li>@Messages("businessactivities.whatyouneed.line_6")</li>
        <li>@Messages("businessactivities.whatyouneed.line_7")</li>
    </ul>

    <div class="form-group">
        <a class="button" role="button" href="@controllers.businessactivities.routes.InvolvedInOtherController.get()">
            @Messages("button.continue")<span class="visuallyhidden"> @Messages("summary.businessactivities")</span>
        </a>
    </div>

}

@sidebar = {
    <div class="user-attention">
        <h2>@Messages("main.sidebar.title")</h2>
        <p>@Messages("main.sidebar.information")</p>
    </div>
}
