@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@header = {
    @errorSummary(f)
    @heading("businessactivities.whoisyouraccountant.heading", "summary.businessactivities")
}

@main(
    title = Messages("businessactivities.whoisyouraccountant.title"),
    heading = header
) {

    @form(f, controllers.businessactivities.routes.WhoIsYourAccountantController.post(edit)) {

        <fieldset>
            @legend("businessactivities.whoisyouraccountant.heading", jsHidden = true)
            <div class="form-field-group">
                @input(
                    field = f("name"),
                    labelText = "businessactivities.whoisyouraccountant.name"
                )

                @input(
                    field = f("tradingName"),
                    labelText = "businessactivities.whoisyouraccountant.tradingName"
                )
            </div>
        </fieldset>

        @inlineRadioGroup(f("isUK")) {
            @legend("businessactivities.whoisyouraccountant.address.location", jsHidden = true)
            @radio(f("isUK"), "businessactivities.whoisyouraccountant.ukAddress", "true", target = s"#${f("postCode").id}-field")
            @radio(f("isUK"), "businessactivities.whoisyouraccountant.nonUkAddress", "false", target = s"#${f("country").id}-field")
        }

        @fieldset(
            legend = "businessactivities.whoisyouraccountant.address",
            panel = false
        ) {
            <div class="form-field-group">
                @input(f("addressLine1"), labelText = "lbl.address.line1", labelHidden = true)
                @input(f("addressLine2"), labelText = "lbl.address.line2", labelHidden = true)
                @input(f("addressLine3"), labelText = "lbl.address.line3", labelHidden = true)
                @input(f("addressLine4"), labelText = "lbl.address.line4", labelHidden = true)
                @fieldset(
                    id = s"${f("postCode").id}-field",
                    legend = "businessactivities.whoisyouraccountant.postCode",
                    jsHidden = true,
                    panel = false
                ) {
                    @input(
                        field = f("postCode"),
                        labelText = "businessactivities.whoisyouraccountant.postCode",
                        classes = Seq("postcode")
                    )
                }
                @fieldset(
                    id = s"${f("country").id}-field",
                    legend = "businessactivities.whoisyouraccountant.country",
                    jsHidden = true,
                    panel = false
                ) {
                    @country(
                        field = f("country"),
                        labelText = "businessactivities.whoisyouraccountant.country"
                    )
                }
            </div>
        }

        @fieldset(
            legend = "businessactivities.whoisyouraccountant.taxMessage",
            panel = false
        ) {
            @inlineRadioGroup(f("alsoDealsWithTax")) {
                @radio(f("alsoDealsWithTax"), "lbl.yes", "true", target = s"#${f("accountantsReferenceNumber").id}-fieldset")
                @radio(f("alsoDealsWithTax"), "lbl.no", "false")
                @fieldset("businessactivities.whoisyouraccountant.reference.details", jsHidden = true, id = s"${f("accountantsReferenceNumber").id}-fieldset") {
                    @input(f("accountantsReferenceNumber"), "businessactivities.whoisyouraccountant.reference.details", bold = false)
                }
            }
        }

    @submit(edit)

    }
}
