@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index:Int, count:Int)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("bankdetails.accounttype.title", "summary.bankdetails")
}

@main(
    title = Messages("bankdetails.accounttype.title") + " - " + Messages("summary.bankdetails"),
    heading = header
) {

    @form(f, controllers.bankdetails.routes.BankAccountTypeController.post(index, edit, count)) {

        @fieldset(
            f = f("bankAccountType"),
            legend = "bankdetails.accounttype.title",
            legendHidden = true,
            panel = false
        ) {
            @radio(
                f = f("bankAccountType"),
                labelText = "bankdetails.accounttype.lbl.01",
                value = "01"
            )
            @radio(
                f = f("bankAccountType"),
                labelText = "bankdetails.accounttype.lbl.02",
                value = "02"
            )
            @radio(
                f = f("bankAccountType"),
                labelText = "bankdetails.accounttype.lbl.03",
                value = "03"
            )
            @if(count <= 1) {
                @radio(
                    f = f("bankAccountType"),
                    labelText = "bankdetails.accounttype.lbl.04",
                    value = "04"
                )
            }
        }

        @submit(false)
    }
}
