@import include._
@import forms2._

@(f: forms.Form2[_], index: Int)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("bankdetails.bank.account.registered.title", "summary.bankdetails")
}

@main(
    title = Messages("bankdetails.bank.account.registered.title") + " - " + Messages("summary.bankdetails"),
    heading = header
) {

    @form(f, controllers.bankdetails.routes.BankAccountRegisteredController.post(index)) {

        @panel(
            wide = true
        ) {
            @if(index <= 1) {
                <p>@Messages("bankdetails.have.registered.account.text", index)</p>
            } else {
                <p>@Messages("bankdetails.have.registered.accounts.text", index)</p>
            }
        }

        @fieldset(
            f = f("registerAnotherBank"),
            legend = "bankdetails.want.to.register.another.account",
            panel = false
        ) {
            @radio(
                f = f("registerAnotherBank"),
                labelText = "lbl.yes",
                value = "true",
                inline = true
            )
            @radio(
                f = f("registerAnotherBank"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @submit()
    }
}

