@import include._
@import forms2._
@import utils._

@(f: forms.Form2[_], edit: Boolean, index:Int)(implicit lang: Lang, request: Request[_])

@target = @{
    s"""${f("accountNumber").id}-fieldset"""
    s"""${f("sortCode").id}-fieldset"""
}

@target1 = @{
    s"""${f("nonUKAccountNumber").id}-fieldset"""
    s"""${f("IBANNumber").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("bankdetails.accountdetails.title", "summary.bankdetails")
}

@main(
    title = Messages("bankdetails.accountdetails.title") + " - " + Messages("summary.bankdetails"),
    heading = header
) {

    @form(f, controllers.bankdetails.routes.BankAccountController.post(index, edit)) {

        @input(
            field = f("accountName"),
            labelText = "bankdetails.bankaccount.accountname",
            bold = false
        )

        @fieldset(
            f = f("isUK"),
            legend = "bankdetails.bankaccount.accounttype",
            panel = false
        ) {
            @radio(
                f = f("isUK"),
                labelText = "lbl.yes",
                value = "true",
                inline = true,
                target = s"#$target"
            )
            @radio(
                f = f("isUK"),
                labelText = "lbl.no",
                value = "false",
                inline = true,
                target = s"#$target1"
            )
        }

        @panel(
            f = Some(f(s"$target"))
        ) {
            @input(
                field = f("sortCode"),
                labelText = "bankdetails.bankaccount.sortcode",
                hintText = "bankdetails.bankaccount.sortcode.hint",
                bold = false
            )
            @input(
                field = f("accountNumber"),
                labelText = "bankdetails.bankaccount.accountnumber",
                hintText = "bankdetails.bankaccount.accountnumber.hint",
                bold = false
            )
        }

        @panel(
            f = Some(f(s"$target1"))
        ) {
            @input(
                field = f("IBANNumber"),
                labelText = "bankdetails.bankaccount.iban",
                hintText = "bankdetails.bankaccount.iban.hint",
                bold = false
            )
            <p>or</p>
            @input(
                field = f("nonUKAccountNumber"),
                labelText = "bankdetails.bankaccount.accountnumber",
                hintText = "bankdetails.bankaccount.accountnumber.nonuk.hint",
                bold = false
            )
        }

        @submit(edit)
    }

}
