@import forms.Form2
@import include.{main, heading}
@import include.forms2._

@(f: forms.Form2[_],index: Int, accountName:String, complete:Boolean)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("bankdetails.remove.bank.account.title", "summary.bankdetails")
}

@main(
    title = Messages("bankdetails.remove.bank.account.title") + " - " + Messages("summary.bankdetails"),
    heading = header
) {

    @form(f, controllers.bankdetails.routes.RemoveBankDetailsController.remove(index, complete)) {

        @panel(
            wide = true,
            jsHidden = false
        ) {
            <p>@Messages("bankdetails.remove.bank.account.text", accountName)</p>
        }

        @submit(false, Some(Messages("bankdetails.remove.bank.account.btn")))
    }
}
