@import include._
@import models.bankdetails._
@import utils.StatusConstants
@import forms2._

@(model: Seq[BankDetails], complete: Boolean, hasBankAccount : Boolean)(implicit request: Request[_], lang: Lang)

@header = {
    @heading(if(complete) "title.ya" else "title.cya", "summary.bankdetails")
}

@main(
    title = if(complete) {
        Messages("title.ya") + " - " + Messages("summary.bankdetails")
    } else {
        Messages("title.cya") + " - " + Messages("summary.bankdetails")
    },
    heading = header
) {

    @if(!hasBankAccount) {
        <div class="panel-indent panel-border-wide">
            <p>@Messages("bankdetails.summary.nobank.account")</p>
            <a href="@controllers.bankdetails.routes.BankAccountAddController.get(false)"> @Messages("bankdetails.summary.nobank.add.account") </a>
        </div>
    }

    @if(complete && hasBankAccount) {
        <div class="panel-indent panel-border-wide">
            <a href="@controllers.bankdetails.routes.BankAccountAddController.get(false)"> @Messages("bankdetails.summary.nobank.add.account") </a>
        </div>
    }

    @model.zipWithIndex.map { case (x, y) =>
        @x.bankAccount.map {bankAccount =>
            @if(!x.status.contains(StatusConstants.Deleted)) {
                <ul class="list">
                @bankAccount.account match {
                    case f:UKAccount => {
                        @checkYourAnswersBanks(
                            question = bankAccount.accountName,
                            editUrl = controllers.bankdetails.routes.BankAccountTypeController.get(y+1, true).toString,
                            removeUrl = controllers.bankdetails.routes.RemoveBankDetailsController.get(y+1, complete).toString
                        ) {
                            <ul class="list">
                                <li>@Messages("bankdetails.bankaccount.sortcode"): @f.displaySortCode</li>
                                <li>@Messages("bankdetails.bankaccount.accountnumber"): @f.accountNumber</li>
                                <li>@Messages("lbl.uk") @Messages("bankdetails.summary.bankaccount")</li>
                                <li>@Messages("bankdetails.bankaccount.accounttype.lbl"): @x.bankAccountType.map {
                                    case PersonalAccount => {@Messages("bankdetails.summary.accounttype.lbl.01")}
                                    case BelongsToBusiness => {@Messages("bankdetails.summary.accounttype.lbl.02")}
                                    case BelongsToOtherBusiness => {@Messages("bankdetails.summary.accounttype.lbl.03")}
                                }</li>
                            </ul>
                        }
                    }
                    case f:NonUKAccountNumber => {
                        @checkYourAnswersBanks(
                            question = bankAccount.accountName,
                            editUrl = controllers.bankdetails.routes.BankAccountTypeController.get(y+1, true).toString,
                            removeUrl = controllers.bankdetails.routes.RemoveBankDetailsController.get(y+1, complete).toString
                        ) {
                            <ul class="list">
                                <li>@Messages("bankdetails.bankaccount.accountnumber"): @f.accountNumber</li>
                                <li>@Messages("lbl.overseas") @Messages("bankdetails.summary.bankaccount")</li>
                                <li>@Messages("bankdetails.bankaccount.accounttype.lbl"): @x.bankAccountType.map {
                                    case PersonalAccount => {@Messages("bankdetails.summary.accounttype.lbl.01")}
                                    case BelongsToBusiness => {@Messages("bankdetails.summary.accounttype.lbl.02")}
                                    case BelongsToOtherBusiness => {@Messages("bankdetails.summary.accounttype.lbl.03")}
                                }</li>
                            </ul>
                        }
                    }
                    case f:NonUKIBANNumber => {
                        @checkYourAnswersBanks(
                            question = bankAccount.accountName,
                            editUrl = controllers.bankdetails.routes.BankAccountTypeController.get(y+1, true).toString,
                            removeUrl = controllers.bankdetails.routes.RemoveBankDetailsController.get(y+1, complete).toString
                        ) {
                            <ul class="list">
                                <li>@Messages("bankdetails.bankaccount.iban"): @f.IBANNumber</li>
                                <li>@Messages("lbl.overseas") @Messages("bankdetails.summary.bankaccount")</li>
                                <li>@Messages("bankdetails.bankaccount.accounttype.lbl"): @x.bankAccountType.map {
                                    case PersonalAccount => {@Messages("bankdetails.summary.accounttype.lbl.01")}
                                    case BelongsToBusiness => {@Messages("bankdetails.summary.accounttype.lbl.02")}
                                    case BelongsToOtherBusiness => {@Messages("bankdetails.summary.accounttype.lbl.03")}
                                }</li>
                            </ul>
                        }
                    }
                }
                </ul>
            }
        }
    }

    @if(complete) {
        <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>

    } else {
        <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>
    }
}
