@import include._
@(index: Int)(implicit request: Request[_])

@main(
    title = Messages("bankdetails.whatyouneed.title")
) {

    @heading("bankdetails.whatyouneed.heading", "summary.bankdetails")

    <p>@Messages("bankdetails.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet spacelarge">
        <li>@Messages("bankdetails.whatyouneed.line_1")</li>
        <li>@Messages("bankdetails.whatyouneed.line_2")</li>
        <li>@Messages("bankdetails.whatyouneed.line_3")</li>
        <li>@Messages("bankdetails.whatyouneed.line_4")</li>
        <li>@Messages("bankdetails.whatyouneed.line_5")</li>
    </ul>

    <div class="form-group">
        <a class="button" href="@controllers.bankdetails.routes.BankAccountTypeController.get(index)">@Messages("button.continue")</a>
    </div>
}
