@import include._
@(index:Int)(implicit request: Request[_])

@header = {
    @heading("bankdetails.whatyouneed.heading", "summary.bankdetails")
}

@main(
    title = Messages("bankdetails.whatyouneed.title"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("bankdetails.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("bankdetails.whatyouneed.line_1")</li>
        <li>@Messages("bankdetails.whatyouneed.line_2")</li>
        <li>@Messages("bankdetails.whatyouneed.line_3")</li>
        <li>@Messages("bankdetails.whatyouneed.line_4")</li>
        <li>@Messages("bankdetails.whatyouneed.line_5")</li>
    </ul>

     <div class="form-field">
            <a class="button" href="@controllers.bankdetails.routes.BankAccountTypeController.get(index)">@Messages("button.continue")</a>
     </div>
}

@sidebar = {
<div class="user-attention">
  <h2>@Messages("main.sidebar.title")</h2>
  <p>@Messages("main.sidebar.information")</p>
</div>
}
