@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("renewal.hvd.percentage.title", "summary.renewal")
}

@main(
    title = Messages("renewal.hvd.percentage.title") + " - " + Messages("summary.renewal"),
    heading = header
) {

    <span class="form-hint">@Messages("hvd.percentage.text")</span>

    @form(f, controllers.renewal.routes.PercentageOfCashPaymentOver15000Controller.post(edit)) {

        @fieldset(
            f = f("percentage-fieldset"),
            legend = "hvd.percentage.title",
            legendHidden = true,
            panel = false
        ) {
            @errorGroup(
                field = f("percentage")
            ) {
                @radio(
                    f = f("percentage"),
                    labelText = "hvd.percentage.lbl.01",
                    value = "01"
                )
                @radio(
                    f = f("percentage"),
                    labelText = "hvd.percentage.lbl.02",
                    value = "02"
                )
                @radio(
                    f = f("percentage"),
                    labelText = "hvd.percentage.lbl.03",
                    value = "03"
                )
                @radio(
                    f = f("percentage"),
                    labelText = "hvd.percentage.lbl.04",
                    value = "04"
                )
                @radio(
                    f = f("percentage"),
                    labelText = "hvd.percentage.lbl.05",
                    value = "05"
                )
            }
        }

        @submit(edit)
    }
}
