@import include._
@import forms2._
@import models.renewal._
@import models.businessmatching.{BusinessActivities, MsbServices, TransmittingMoney}

@(model: Renewal, bmBusinessActivities: Option[BusinessActivities], bmMsbServices: Option[MsbServices])(implicit request: Request[_], messages: Messages, lang: Lang)

@header = {
    @heading("title.cya", "summary.renewal")
}

@main(
    title = Messages("title.cya") + " - " + Messages("summary.renewal"),
    heading = header
) {

    @model.involvedInOtherActivities.map { involvedInOther =>
        @checkYourAnswers(
            question = Messages("renewal.involvedinother.title"),
            editUrl = controllers.renewal.routes.InvolvedInOtherController.get(true).toString
        ) {
            <p>@involvedInOther match {
                case InvolvedInOtherNo => { @Messages("lbl.no") }
                case InvolvedInOtherYes(v) => { @v }
            }</p>
        }
    }

    @model.businessTurnover.map { turnover =>
        @checkYourAnswers(
            question = Messages("renewal.business-turnover.title"),
            editUrl = controllers.renewal.routes.BusinessTurnoverController.get(true).toString
        ) {
            <p>@turnover match {
                case BusinessTurnover.First => { @Messages("businessactivities.turnover.lbl.01") }
                case BusinessTurnover.Second => { @Messages("businessactivities.turnover.lbl.02") }
                case BusinessTurnover.Third => { @Messages("businessactivities.turnover.lbl.03") }
                case BusinessTurnover.Fourth => { @Messages("businessactivities.turnover.lbl.04") }
                case BusinessTurnover.Fifth => { @Messages("businessactivities.turnover.lbl.05") }
                case BusinessTurnover.Sixth => { @Messages("businessactivities.turnover.lbl.06") }
                case BusinessTurnover.Seventh => { @Messages("businessactivities.turnover.lbl.07") }
            }</p>
        }
    }

    @model.turnover.map { turnover =>
        @checkYourAnswers(
            question = Messages("renewal.turnover.title"),
            editUrl = controllers.renewal.routes.AMLSTurnoverController.get(true).toString
        ) {
            <ul class="list list-bullet">
                @bmBusinessActivities.map { ba =>
                    @ba.businessActivities.map {activity =>
                        <li>@Messages("businessmatching.registerservices.servicename.lbl."+ba.getValue(activity))</li>
                    }
                }

            </ul>

            <p>@turnover match {
                case AMLSTurnover.First => { @Messages("businessactivities.business-turnover.lbl.01") }
                case AMLSTurnover.Second => { @Messages("businessactivities.business-turnover.lbl.02") }
                case AMLSTurnover.Third => { @Messages("businessactivities.business-turnover.lbl.03") }
                case AMLSTurnover.Fourth => { @Messages("businessactivities.business-turnover.lbl.04") }
                case AMLSTurnover.Fifth => { @Messages("businessactivities.business-turnover.lbl.05") }
                case AMLSTurnover.Sixth => { @Messages("businessactivities.business-turnover.lbl.06") }
                case AMLSTurnover.Seventh => { @Messages("businessactivities.business-turnover.lbl.07") }
            }</p>
        }
    }

    @model.customersOutsideUK.map { boa =>
        @checkYourAnswers(
            question = Messages("renewal.customer.outside.uk.title"),
            editUrl = controllers.renewal.routes.CustomersOutsideUKController.get(true).toString
            ) {
            @boa.countries.fold {
            <p>@Messages("lbl.no")</p>
            } { branches =>
            <ul class="list list-bullet">
                @branches.map { country =>
                <li>@country</li>
                }
            </ul>
            }
        }
    }

    @model.percentageOfCashPaymentOver15000.map { p =>
        @checkYourAnswers(
            question = Messages("hvd.percentage.title"),
            editUrl = controllers.hvd.routes.PercentageOfCashPaymentOver15000Controller.get(true).toString
            ) {
                <p>@p match {
                    case PercentageOfCashPaymentOver15000.First => {@Messages("hvd.percentage.lbl.01")}
                    case PercentageOfCashPaymentOver15000.Second => {@Messages("hvd.percentage.lbl.02")}
                    case PercentageOfCashPaymentOver15000.Third => {@Messages("hvd.percentage.lbl.03")}
                    case PercentageOfCashPaymentOver15000.Fourth => {@Messages("hvd.percentage.lbl.04")}
                    case PercentageOfCashPaymentOver15000.Fifth => {@Messages("hvd.percentage.lbl.05")}
                }</p>
            }
    }

    @bmMsbServices.map {services =>

        @model.msbThroughput.map { m =>
            @checkYourAnswers(
                question = messages("renewal.msb.throughput.header"),
                editUrl = controllers.renewal.routes.MsbThroughputController.get(edit = true).url
            ) {
                <p>@MsbThroughput.labelFor(m)</p>
            }
        }

        @model.msbTransfers.map { m =>
            @checkYourAnswers(
                question = messages("renewal.msb.transfers.header"),
                editUrl = controllers.renewal.routes.MsbMoneyTransfersController.get(edit = true).url
            ) {
                <p>@m.transfers</p>
            }
        }

        @if(services.msbServices.contains(TransmittingMoney)) {
            @model.mostTransactions.map { mt =>
                @checkYourAnswers(
                    question = Messages("renewal.msb.most.transactions.title"),
                    editUrl = controllers.renewal.routes.MsbMostTransactionsController.get(edit = true).url
                ) {
                    <ul class="list list--comma">
                        @mt.countries.map { country =>
                            <li>@country.name</li>
                        }
                    </ul>
                }
            }
        }
    }

    @model.ceTransactions.map{ trans =>
        @checkYourAnswers(
            question = Messages("renewals.msb.ce.transactions.expected.title"),
            editUrl = controllers.renewal.routes.MsbCurrencyExchangeTransactionsController.get(true).toString
        ) {
            <p>@trans.ceTransaction</p>
        }
    }

    @model.sendTheLargestAmountsOfMoney.map { lom =>
        @checkYourAnswers(
            question = Messages("msb.send.the.largest.amounts.of.money.title"),
            editUrl = controllers.msb.routes.SendTheLargestAmountsOfMoneyController.get(true).toString
        ) {
        <ul class="list list--comma">
            @lom.countryList.map { country =>
                <li>@country.name</li>
            }
        </ul>
        }
    }

    @anchor(
        attrHref = controllers.renewal.routes.RenewalProgressController.get().toString,
        attrRole = true,
        linkText = Messages("button.checkyouranswers.acceptandcomplete")
    )
}
