@import forms._
@import models.renewal.TransactionsInLast12Months
@import include._
@import forms2._
@import utils.HtmlElementHelpers._

@(f: Form2[TransactionsInLast12Months], edit: Boolean)(implicit messages: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("renewal.msb.transfers.header", "summary.renewal")
}

@main(
    title = s"${messages("renewal.msb.transfers.header")} - ${messages("summary.renewal")}",
    heading = header
) {

    @form(f, controllers.renewal.routes.TransactionsInLast12MonthsController.post(edit)) {

        @input(
            field = f("transfers"),
            labelText = "Transfers",
            labelHidden = true,
            attrType = "number",
            dataAttrs = digitsOnlyAttributes
        )

        @submit()
    }
}
