@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean, index: Int)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("responsiblepeople.additional_extra_address.title", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.additional_extra_address.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @form(f, controllers.responsiblepeople.routes.AdditionalExtraAddressController.post(index, edit)) {

        @inlineRadioGroup(f("isUK")) {
            @legend("responsiblepeople.wherepersonlives.need.to.know", jsHidden = true)
            @radio(f("isUK"), "responsiblepeople.additional_extra_address.ukAddress", "true", target = s"#${f("postCode").id}-fieldset")
            @radio(f("isUK"), "responsiblepeople.additional_extra_address.nonUkAddress", "false", target = s"#${f("country").id}-fieldset")
        }

        @fieldset(
            legend = "responsiblepeople.wherepersonlives.is.uk",
            jsHidden = true,
            panel = false,
            id = s"""${f("postCode").id}-fieldset"""
        ) {
            @fieldset(
                legend = "responsiblepeople.additional_extra_address.address",
                jsHidden = false,
                panel = false,
                id = s"""${f("address").id}-fieldset"""
            ) {
                @input(f("addressLine1"), labelText = "lbl.address.line1")
                @input(f("addressLine2"), labelText = "lbl.address.line2")
                @input(f("addressLine3"), labelText = "lbl.address.line3", requiredField = false)
                @input(f("addressLine4"), labelText = "lbl.address.line4", requiredField = false)
                @input(
                    field = f("postCode"),
                    labelText = "responsiblepeople.additional_extra_address.postCode",
                    classes = Seq("postcode")
                )
            }
        }

        @fieldset(
            legend = "responsiblepeople.wherepersonlives.is.uk",
            jsHidden = true,
            panel = false,
            id = s"""${f("country").id}-fieldset"""
        ) {
            @fieldset(
                legend = "responsiblepeople.additional_extra_address.address",
                jsHidden = false,
                panel = false,
                id = s"""${f("address-overseas").id}-fieldset"""
            ) {
                @input(f("addressLineNonUK1"), labelText = "lbl.address.line1")
                @input(f("addressLineNonUK2"), labelText = "lbl.address.line2")
                @input(f("addressLineNonUK3"), labelText = "lbl.address.line3", requiredField = false)
                @input(f("addressLineNonUK4"), labelText = "lbl.address.line4", requiredField = false)
                @country(
                    field = f("country"),
                    labelText = "responsiblepeople.additional_extra_address.country"
                )
            }
        }

        @fieldset(
            legend = "responsiblepeople.additional_extra_address.how_long",
            jsHidden = false,
            panel = false,
            id = s"""${f("address-history").id}-fieldset"""
        ) {
            @radioGroup(f("timeAtAddress")) {
                @radio(f("timeAtAddress"), "responsiblepeople.additional_extra_address.0_5_months", "01")
                @radio(f("timeAtAddress"), "responsiblepeople.additional_extra_address.6_11_months", "02")
                @radio(f("timeAtAddress"), "responsiblepeople.additional_extra_address.1_3_years", "03")
                @radio(f("timeAtAddress"), "responsiblepeople.additional_extra_address.more_3_years", "04")
            }
        }

        @submit(edit)
    }

}
