@import forms.Form2
@import include.{main, headingWithPlaceholder}
@import include.forms2._
@import models.responsiblepeople.Positions

@(f: Form2[_], edit: Boolean = false, index: Int, fromDeclaration: Boolean = false, personName: String)(implicit request: Request[_],m:Messages, lang: Lang)

@header = {
    @errorSummary(f)
    @headingWithPlaceholder(("responsiblepeople.aretheynominatedofficer.heading", personName), "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.aretheynominatedofficer.title", personName) + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @panel(
        wide = true,
        jsHidden = false,
        gutter = true
    ) {
        @Messages("responsiblepeople.position_within_business.important")
    }


    @form(f, controllers.responsiblepeople.routes.AreTheyNominatedOfficerController.post(index, edit, fromDeclaration)) {

        <div class="form-field">
            @fieldset(
                f = f("positions"),
                legend = "responsiblepeople.aretheynominatedofficer.title",
                legendHidden = true,
                panel = false
            ) {
                @errorGroup(
                    field = f("isNominatedOfficer")
                ) {
                    @radio(
                        f = f("isNominatedOfficer"),
                        labelText = "lbl.yes",
                        value = "true",
                        inline = true
                    )
                    @radio(
                        f = f("isNominatedOfficer"),
                        labelText = "lbl.no",
                        value = "false",
                        inline = true
                    )
                }
            }
        </div>

        @submit(edit)
    }
}
