@import include._
@import models.responsiblepeople._
@import utils.StatusConstants

@(model: Seq[ResponsiblePeople])(implicit request: Request[_], lang: Lang)

@header = {
    @heading("responsiblepeople.your_answers.heading", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.your_answers.title"),
    heading = header
) {

    <table>
        <tbody>
            @model.zipWithIndex.map { case (responsiblePerson, idx)=>

                @if(!responsiblePerson.status.contains(StatusConstants.Deleted)) {
                    @responsiblePerson.personName.map { personDetails =>
                     <tr>
                        <th class="summary-title">
                            @personDetails.fullName
                        </th>
                        <td class="numeric">
                            <a href="@controllers.responsiblepeople.routes.DetailedAnswersController.get(idx + 1)">@Messages("button.edit") </a> @Messages("lbl.or")
                            <a href="@controllers.responsiblepeople.routes.RemoveResponsiblePersonController.get(idx + 1, false)">Remove</a>
                        </td>
                    </tr>
                    }
                }
            }
        </tbody>
    </table>

    <div class="form-field">
        <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.checkyouranswers.acceptandcomplete")</a>
    </div>
}
