@import include._
@import models.responsiblepeople._

@(model: Seq[ResponsiblePeople])(implicit request: Request[_], lang: Lang)

@header = {
    @heading("summary.checkyouranswers.title", "summary.responsiblepeople")
}

@main(
    title = Messages("summary.checkyouranswers.title"),
    heading = header
) {

    <table>
        <tbody>
            @model.zipWithIndex.map { case (responsiblePerson, idx)=>

                @responsiblePerson.personName.map { personDetails =>
                 <tr>
                    <th class="summary-title">
                        @personDetails.fullName
                    </th>
                    <td>
                        <a href="@controllers.responsiblepeople.routes.DetailedAnswersController.get(idx + 1)">@Messages("button.edit") </a>
                    </td>
                </tr>
                }

            }
        </tbody>
    </table>

    <div class="form-field">
        <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.checkyouranswers.acceptandcomplete")</a>
    </div>
}
