@import include._
@import include.forms2._
@import models.responsiblepeople._

@(model: Seq[ResponsiblePeople])(implicit request: Request[_], lang: Lang)

@header = {
    @heading("summary.checkyouranswers.title", "summary.responsiblepeople")
}

@main(
    title = Messages("summary.checkyouranswers.title"),
    heading = header
) {

    <ul class="list">
        @model.zipWithIndex.map { case (responsiblePerson, idx)=>

            @responsiblePerson.personName.map { personDetails =>
                @checkYourAnswersListing(
                    item = personDetails.fullName,
                    editUrl = controllers.responsiblepeople.routes.DetailedAnswersController.get(idx + 1).toString
                ) {

                }
            }

        }
    </ul>

    <div class="form-field">
        <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.checkyouranswers.acceptandcomplete")</a>
    </div>
}
