@import forms.Form2
@import include._
@import include.forms2._
@import models.aboutthebusiness._

@(f: Form2[_], edit: Boolean, index: Int, fromYourAnswers: Boolean = false, personName: String)(implicit request: Request[_],m:Messages, lang:Lang)

@header = {
    @errorSummary(f)
    @headingWithPlaceholder(("responsiblepeople.contact_details.heading", personName), "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.contact_details.title", personName) + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @panel(
        wide = true,
        jsHidden = false,
        gutter = true
    ) {
    <p>@Messages("responsiblepeople.contact_details.lbl")</p>
    }

    @form(f, controllers.responsiblepeople.routes.ContactDetailsController.post(index, edit, fromYourAnswers)) {

        @fieldset(
            legend = "responsiblepeople.contact_details.title",
            f = f("contact-details"),
            legendHidden = true,
            panel = false
        ) {
            @input(
                field = f("phoneNumber"),
                labelText = Messages("responsiblepeople.contact_details.phone.lbl"),
                hintText = "aboutthebusiness.contactingyou.phone.hint"
            )

            @input(
                field = f("emailAddress"),
                labelText = Messages("responsiblepeople.contact_details.email.lbl"),
                hintText = "aboutthebusiness.contactingyou.email.hint",
                attrType = "email"
            )
        }

        @submit()
    }
}
