@import forms.Form2
@import include._
@import include.forms2._
@import models.businessmatching._


@(f: Form2[_], bamodel : BusinessActivities, edit: Boolean, index: Int)(implicit request: Request[_], lang: Lang)

@target = @{
    s"""${f("information").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("responsiblepeople.experiencetraining.title", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.experiencetraining.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    <p>@Messages("responsiblepeople.experiencetraining.businessactivities")</p>

    <ul class="panel-indent panel-indent--gutter panel-border-wide">
        @bamodel.businessActivities.map { ba =>
        <li>@Messages("businessmatching.registerservices.servicename.lbl."+bamodel.getValue(ba))</li>
        }
    </ul>

    @form(f, controllers.responsiblepeople.routes.ExperienceTrainingController.post(index, edit)) {

        <div class="form-group">
            @inlineRadioGroup(f("experienceTraining")) {
                @radio(f("experienceTraining"), "lbl.yes", "true", target = s"#$target")
                @radio(f("experienceTraining"), "lbl.no", "false")
                @fieldset(
                    legend = "responsiblepeople.experiencetraining.information",
                    jsHidden = false,
                    id = target
                ) {
                    @textarea(f("experienceInformation"), bold = false)
                }
            }
        </div>

        @submit(edit)
    }
}
