@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean, index: Int, fromDeclaration: Boolean = false)(implicit request: Request[_],m:Messages, lang: Lang)

@header = {
    @errorSummary(f)
    @heading("responsiblepeople.fit_and_proper.title", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.fit_and_proper.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @form(f, controllers.responsiblepeople.routes.FitAndProperController.post(index, edit, fromDeclaration)) {

        @fieldset(
            f = f("hasAlreadyPassedFitAndProper-fieldset"),
            legend = "responsiblepeople.fit_and_proper.title",
            legendHidden = true,
            panel = false
        ) {
            @errorGroup(
                field = f("hasAlreadyPassedFitAndProper")
            ) {
                @radio(
                    f = f("hasAlreadyPassedFitAndProper"),
                    labelText = "lbl.yes",
                    value = "true",
                    inline = true
                )
                @radio(
                    f = f("hasAlreadyPassedFitAndProper"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @submit(edit)

    }
}
