@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index: Int, fromDeclaration: Boolean = false, personName: String)(implicit request: Request[_],m:Messages)

@target = @{
    s"""${f("other").id}-fieldset"""
}
@header = {
    @errorSummary(f)
    @headingWithPlaceholder(("responsiblepeople.nationality.heading", personName), "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.nationality.title", personName) + " - " + Messages("summary.responsiblepeople"),
    heading = header
)  {

    @form(f, controllers.responsiblepeople.routes.NationalityController.post(index, edit, fromDeclaration)) {

        @fieldset(
            f = f("nationality-fieldset"),
            legend = "responsiblepeople.nationality.title",
            legendHidden = true,
            panel = false
        ) {
            @errorGroup(
                field = f("nationality")
            ) {
                @radio(
                    f = f("nationality"),
                    labelText = "responsiblepeople.nationality.selection.british",
                    value = "01"
                )
                @radio(
                    f = f("nationality"),
                    labelText = "responsiblepeople.nationality.selection.irish",
                    value = "02"
                )
                @radio(
                    f = f("nationality"),
                    labelText = "responsiblepeople.nationality.selection.other",
                    value = "03",
                    target = s"#$target"
                )
            }
        }

        @fieldset(
            f = f(s"$target"),
            legend = "responsiblepeople.nationality.selection.other.name",
            legendHidden = true,
            jsHidden = true,
            id = target
        ) {
            @country(
                field = f("otherCountry"),
                labelText = "responsiblepeople.nationality.selection.other.name"
            )
        }

        @submit(edit)
    }
}
