@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], index: Int, personName: String)(implicit request: Request[_],m:Messages, lang: Lang)

@header = {
    @errorSummary(f)
    @headingWithPlaceholder(("responsiblepeople.new.home.heading", personName), "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.new.home.title", personName) + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @form(f, controllers.responsiblepeople.routes.NewHomeAddressController.post(index)) {

        <div class="form-group">
            @fieldset(
                f = f("isUK"),
                legend = "responsiblepeople.wherepersonlives.is.uk",
                panel=false
            ) {
                @radio(
                    f = f("isUK"),
                    labelText = "responsiblepeople.wherepersonlives.ukAddress",
                    value = "true",
                    target = ".ukAddress-fieldset",
                    inline = true
                )
                @radio(
                    f = f("isUK"),
                    labelText = "responsiblepeople.wherepersonlives.nonUkAddress",
                    value = "false",
                    target = ".nonUkAddress-fieldset",
                    inline = true
                )
            }
        </div>

        <div class="form-group">
            @fieldset(
                legend = "responsiblepeople.new.home.title",
                legendHidden = true,
                panel = false,
                classes = Seq("ukAddress-fieldset"),
                f = f("ukAddress-fieldset")
            ) {
                @input(
                    field = f("addressLine1"),
                    labelText = "lbl.address.line1"
                )
                @input(
                    field = f("addressLine2"),
                    labelText = "lbl.address.line2",
                    labelHidden = true
                )
                @input(
                    field = f("addressLine3"),
                    labelText = "lbl.address.line3",
                    labelHidden = true
                )
                @input(
                    field = f("addressLine4"),
                    labelText = "lbl.address.line4",
                    labelHidden = true
                )
                @input(
                    field = f("postCode"),
                    labelText = "responsiblepeople.wherepersonlives.postcode",
                    classes = Seq("form-control-1-4 form-control-1-4")
                )
            }

        @fieldset(
            legend = "responsiblepeople.new.home.title",
            legendHidden = true,
            panel = false,
            classes = Seq("nonUkAddress-fieldset"),
            f = f("nonUkAddress-fieldset")
        ) {
            @input(
                field = f("addressLineNonUK1"),
                labelText = "lbl.address.line1"
            )
            @input(
                field = f("addressLineNonUK2"),
                labelText = "lbl.address.line2",
                labelHidden = true
            )
            @input(
                field = f("addressLineNonUK3"),
                labelText = "lbl.address.line3",
                labelHidden = true
            )
            @input(
                field = f("addressLineNonUK4"),
                labelText = "lbl.address.line4",
                labelHidden = true
            )
            @country(
                field = f("country"),
                labelText = "responsiblepeople.wherepersonlives.country"
            )
        }

        </div>

        @submit(false, Some("button.saveandcontinue"))
    }
}

