@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean, index: Int)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("responsiblepeople.personName.heading", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.personName.title"),
    heading = header
) {

    @form(f, controllers.responsiblepeople.routes.PersonNameController.post(index, edit)) {

        @input(
            field = f("firstName"),
            labelText = Messages("responsiblepeople.personName.firstname")
        )

        @input(
            field = f("middleName"),
            labelText = Messages("responsiblepeople.personName.middlename")
        )

        @input(
            field = f("lastName"),
            labelText = Messages("responsiblepeople.personName.lastname")
        )

        @inlineRadioGroup(f("hasPreviousName")) {

            @legend("responsiblepeople.personName.isknownbyothernames")

            @radio(f("hasPreviousName"), "lbl.yes", "true", target = "#previous-fieldset")
            @radio(f("hasPreviousName"), "lbl.no", "false")

            @fieldset("responsiblepeople.personName.isknownbyothernames", jsHidden = true, id = "previous-fieldset") {

                @errorGroup(f("previous")) {
                    @input(f("previous.firstName"), "responsiblepeople.personName.otherfirstnames")
                    @input(f("previous.middleName"), "responsiblepeople.personName.othermiddlenames")
                    @input(f("previous.lastName"), "responsiblepeople.personName.otherlastnames")
                }

                @date(f, "previous.date", "responsiblepeople.personName.previous.date.lbl")
            }
        }

        @inlineRadioGroup(f("hasOtherNames")) {

            @legend("responsiblepeople.personName.hasOtherNames")

            @radio(f("hasOtherNames"), "lbl.yes", "true", target = "#otherNames-fieldset")
            @radio(f("hasOtherNames"), "lbl.no", "false")

            @fieldset("responsiblepeople.personName.hasOtherNames", jsHidden = true, id = "otherNames-fieldset") {
                @input(f("otherNames"), "responsiblepeople.personName.alternativeName")
            }
        }

    @submit(edit)
  }
}
