@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index: Int)(implicit request: Request[_])

@main(
title = Messages("responsiblepeople.person.a.resident.title")
)  {

@heading("responsiblepeople.person.a.resident.heading", "summary.responsiblepeople")

    @form(f, controllers.responsiblepeople.routes.PersonResidentTypeController.post(index, edit)) {

        @inlineRadioGroup(f("isUKResidence")) {
            @legend("TODO", jsHidden = true)
            @radio(f("isUKResidence"), "lbl.yes", "true", target = s"#${f("targetyes").id}-fieldset")
            @radio(f("isUKResidence"), "lbl.no", "false", target = s"#${f("targetno").id}-fieldset")
            @fieldset("TODO", jsHidden = true, id = s"""${f("targetyes").id}-fieldset""") {
                @input(f("nino"), "lbl.nino", bold = false)
            }
            @fieldset("TODO", jsHidden = true, id = s"""${f("targetno").id}-fieldset""") {
                @date(
                    f = f,
                    p = "dateOfBirth",
                    labelText = "responsiblepeople.dob.lbl",
                    hintText = "responsiblepeople.dob.lbl.hint",
                    false
                )
                @radioGroup(f("passportType")) {
                    @legend("responsiblepeople.passporttype.lbl", jsHidden = false, bold = true)
                    @radio(f("passportType"), "responsiblepeople.uk.passport.lbl", "01", target = s"#${f("ukPassportNumber").id}-fieldset")
                    @fieldset("TODO", jsHidden = true, id = s"""${f("ukPassportNumber").id}-fieldset""") {
                       @input(f("ukPassportNumber"), "lbl.passport.number", bold = false)
                    }
                    @radio(f("passportType"), "responsiblepeople.non.uk.passport.lbl", "02", target = s"#${f("nonUKPassportNumber").id}-fieldset")
                    @fieldset("TODO", jsHidden = true, id = s"""${f("nonUKPassportNumber").id}-fieldset""") {
                        @input(f("nonUKPassportNumber"), "lbl.passport.number", bold = false)
                    }
                    <p class="form-block">or</p>
                    @radio(f("passportType"), "responsiblepeople.no.passport.lbl", "03")
                }
            }
        }

        @legend("responsiblepeople.country.of.birth.lbl", bold = true)
        @country(f("countryOfBirth"))

        @legend("lbl.nationality", bold = true)
        @country(f("nationality"))

        @submit(edit)
    }
}