@import include._
@import forms2._

@(f: forms.Form2[_], index: Int, fromDeclaration: Boolean = false)(implicit request: Request[_],m:Messages)

@header = {
    @errorSummary(f)
    @heading("responsiblepeople.person.registered.title", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.person.registered.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

     @panel(
            jsHidden = false,
            wide = true,
            gutter = true
        ) {
            @if(index <= 1){
                <p>@Messages("responsiblepeople.have.registered.person.text", index) </p>
            } else {
                <p>@Messages("responsiblepeople.have.registered.people.text", index) </p>
            }
        }

        <p>@Messages("responsiblepeople.have.registered.people.line1")</p>
        <ul class="list list-bullet">
            <li>@Messages("responsiblepeople.have.registered.people.line2")</li>
            <li>@Messages("responsiblepeople.have.registered.people.line3")</li>
            <li>@Messages("responsiblepeople.have.registered.people.line4")</li>
        </ul>

    @form(f, controllers.responsiblepeople.routes.PersonRegisteredController.post(index, fromDeclaration)) {



        @fieldset(
            f = f("registerAnotherPerson-fieldset"),
            legend = "responsiblepeople.want.to.register.another.person",
            panel = false,
            legendHidden = true
        ) {
            @errorGroup(
                field = f("registerAnotherPerson")
            ) {
                @radio(
                    f = f("registerAnotherPerson"),
                    labelText = "lbl.yes",
                    value = "true",
                    inline = true
                )
                @radio(
                    f = f("registerAnotherPerson"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @submit()
    }
}
