@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index: Int)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("responsiblepeople.person.a.resident.title", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.person.a.resident.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
)  {

    @form(f, controllers.responsiblepeople.routes.PersonResidentTypeController.post(index, edit)) {

        <div class="form-field-group">
        @inlineRadioGroup(f("isUKResidence")) {

            @legend("responsiblepeople.person.a.resident.title", jsHidden = true)
            @radio(f("isUKResidence"), "lbl.yes", "true", target = s"#${f("targetyes").id}-fieldset")
            @radio(f("isUKResidence"), "lbl.no", "false", target = s"#${f("targetno").id}-fieldset")

            @fieldset("responsiblepeople.person.a.resident.heading.lbl.yes", jsHidden = true, id = s"""${f("targetyes").id}-fieldset""") {
                @input(f("nino"), "lbl.nino", "lbl.nino.hint", bold = false)
            }

            @fieldset("responsiblepeople.person.a.resident.heading.lbl.no", jsHidden = true, id = s"""${f("targetno").id}-fieldset""") {

                @radioGroup(f("passportType")) {
                    @legend("responsiblepeople.passporttype.lbl", jsHidden = false, bold = false)
                    @radio(f("passportType"), "responsiblepeople.uk.passport.lbl", "01", target = s"#${f("ukPassportNumber").id}-fieldset")
                    @fieldset("lbl.passport.number", jsHidden = true, id = s"""${f("ukPassportNumber").id}-fieldset""") {
                       @input(f("ukPassportNumber"), "lbl.passport.number", bold = false)
                    }
                    @radio(f("passportType"), "responsiblepeople.non.uk.passport.lbl", "02", target = s"#${f("nonUKPassportNumber").id}-fieldset")
                    @fieldset("lbl.passport.number", jsHidden = true, id = s"""${f("nonUKPassportNumber").id}-fieldset""") {
                        @input(f("nonUKPassportNumber"), "lbl.passport.number", bold = false)
                    }
                    @radio(f("passportType"), "responsiblepeople.no.passport.lbl", "03")
                }
                @date(
                    f = f,
                    p = "dateOfBirth",
                    labelText = "responsiblepeople.dob.lbl",
                    hintText = "responsiblepeople.dob.lbl.hint",
                    example = false,
                    jsHidden = true
                )
            }
        }
        </div>

        <div class="form-field-group">
            <div class="form-field">
                @country(f("countryOfBirth"), labelText = "responsiblepeople.country.of.birth.lbl" )
            </div>
        </div>

        @submit(false)
    }
}
