@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean, index: Int, fromDeclaration: Boolean = false)(implicit request: Request[_],m:Messages, lang: Lang)

@header = {
    @errorSummary(f)
    @heading("responsiblepeople.personName.title", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.personName.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {
    @form(f, controllers.responsiblepeople.routes.PersonNameController.post(index, edit, fromDeclaration)) {

        @fieldset(
            panel = false,
            legend = "responsiblepeople.personName.title",
            legendHidden = true,
            jsHidden = false,
             f = f("redundantvalue")
        ) {

            @input(
                field = f("firstName"),
                labelText = Messages("responsiblepeople.personName.firstname")
            )

            @input(
                field = f("middleName"),
                labelText = Messages("responsiblepeople.personName.middlename")
            )

            @input(
                field = f("lastName"),
                labelText = Messages("responsiblepeople.personName.lastname")
            )
        }

        <div class="form-group">
        @fieldset(
            f = f("hasPreviousName"),
            legend = "responsiblepeople.personName.isknownbyothernames",
            panel=false
        ) {
            @radio(f("hasPreviousName"), "lbl.yes", "true", target = "#previous-panel", inline=true)
            @radio(f("hasPreviousName"), "lbl.no", "false", inline=true)
        }

        @panel(
            jsHidden = true,
            field = Some(f("previous-panel"))
        ) {
            @fieldset(
                legend = "responsiblepeople.personName.isknownbyothernames",
                jsHidden = true,
                f = f("previous"),
                legendHidden = true
            ) {
                @input(f("previous.firstName"), "responsiblepeople.personName.otherfirstnames")
                @input(f("previous.middleName"), "responsiblepeople.personName.othermiddlenames")
                @input(f("previous.lastName"), "responsiblepeople.personName.otherlastnames")
            }
            @date(
                f = f,
                p = "previous.date",
                labelText = "responsiblepeople.personName.previous.date.lbl"
            )
        }

        </div>

        @fieldset(
            f = f("hasOtherNames"),
            legend = "responsiblepeople.personName.hasOtherNames",
            panel = false

        ) {
            @radio(f("hasOtherNames"), "lbl.yes", "true", target = ".otherNames-fieldset", inline=true)
            @radio(f("hasOtherNames"), "lbl.no", "false", inline=true)
        }

        @fieldset(
            legend = "responsiblepeople.personName.hasOtherNames",
            jsHidden = true,
            legendHidden = true,
            classes = Seq("otherNames-fieldset"),
            f = f("otherNames-fieldset")
        ) {
            @input(f("otherNames"), "responsiblepeople.personName.alternativeName")
        }

        @submit(edit)
    }
}
