@import include._
@import forms2._
@import config.ApplicationConfig
@import models.businessmatching.{BusinessType, BusinessMatching}

@(f: forms.Form2[_], edit: Boolean, index: Int, businessType: BusinessType, fromDeclaration: Boolean = false, personName: String)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @headingWithPlaceholder(("responsiblepeople.position_within_business.heading", personName), "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.position_within_business.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @panel(
        wide = true,
        jsHidden = false,
        gutter = true
    ) {


        <p>@Messages("responsiblepeople.position_within_business.important")</p>
    }

    <span class="form-hint">@Messages("lbl.select.all")</span>

    @form(f, controllers.responsiblepeople.routes.PositionWithinBusinessController.post(index, edit, fromDeclaration)) {

        <div class="form-group">
            @fieldset(
                f = f("positions"),
                legend = "responsiblepeople.position_within_business.title",
                legendHidden = true,
                panel = false
            ) {
                @businessType match {
                    case BusinessType.SoleProprietor => {
                        @checkbox(
                            f = f("positions[]"),
                            labelText = "responsiblepeople.position_within_business.lbl.06",
                            value = "06"
                        )
                        @checkbox(
                            f = f("positions[]"),
                            labelText = "responsiblepeople.position_within_business.lbl.04",
                            value = "04"
                        )
                    }
                    case BusinessType.Partnership => {
                        @checkbox(
                            f = f("positions[]"),
                            labelText = "responsiblepeople.position_within_business.lbl.05",
                            value = "05"
                        )
                        @checkbox(
                            f = f("positions[]"),
                            labelText = "responsiblepeople.position_within_business.lbl.04",
                            value = "04"
                        )
                    }
                    case (BusinessType.LPrLLP | BusinessType.UnincorporatedBody | BusinessType.LimitedCompany) => {
                        @checkbox(
                            f = f("positions[]"),
                            labelText = "responsiblepeople.position_within_business.lbl.01",
                            value = "01"
                        )
                        @checkbox(
                            f = f("positions[]"),
                            labelText = "responsiblepeople.position_within_business.lbl.02",
                            value = "02"
                        )
                        @checkbox(
                            f = f("positions[]"),
                            labelText = "responsiblepeople.position_within_business.lbl.04",
                            value = "04"
                        )
                        @if(ApplicationConfig.release7 && (businessType == BusinessType.LPrLLP)) {
                            @checkbox(
                                f = f("positions[]"),
                                labelText = "responsiblepeople.position_within_business.lbl.07",
                                value = "07"
                            )
                        }
                    }
                }
            }
        </div>

        @date(
            f = f,
            p = "startDate",
            labelText = "responsiblepeople.position_within_business.startDate.lbl",
            hintText = "responsiblepeople.position_within_business.startDate.hint",
            example = false
        )

        @submit()
    }
}
