@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@main(title = Messages("responsiblepeople.position_within_business.title")) {

    @heading("responsiblepeople.position_within_business.title", "summary.responsiblepeople")

    <div class="form-group">
        <span class="icon icon-important"></span>
        <span class="notice">@Messages("responsiblepeople.position_within_business.important")</span>
    </div>

    @form(f, controllers.responsiblepeople.routes.PositionWithinBusinessController.post(edit)) {
        <span>@Messages("lbl.select.all")</span>
        @radioGroup(f("positionWithinBusiness")) {
            @legend("TODO", jsHidden = true)
                @checkbox(f("positionWithinBusiness[]"), "responsiblepeople.position_within_business.lbl.01", "01")
                @checkbox(f("positionWithinBusiness[]"), "responsiblepeople.position_within_business.lbl.02", "02")
                @checkbox(f("positionWithinBusiness[]"), "responsiblepeople.position_within_business.lbl.03", "03")
                @checkbox(f("positionWithinBusiness[]"), "responsiblepeople.position_within_business.lbl.04", "04")
                @checkbox(f("positionWithinBusiness[]"), "responsiblepeople.position_within_business.lbl.05", "05")
                @checkbox(f("positionWithinBusiness[]"), "responsiblepeople.position_within_business.lbl.06", "06")
        }

        @submit(edit)
    }
}
