@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index: Int, fromYourAnswers: Boolean = false, personName: String)(implicit request: Request[_],m:Messages)

@target = @{
s"""${f("utrNumber").id}-fieldset"""
}

@header = {
    @rpErrorSummary(f, personName)
    @headingWithPlaceholder(("responsiblepeople.registeredforselfassessment.title", personName), "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.registeredforselfassessment.title", personName) + " - " + Messages("summary.responsiblepeople"),
    heading = header
)  {

    @form(f, controllers.responsiblepeople.routes.RegisteredForSelfAssessmentController.post(index, edit, fromYourAnswers)) {
        @fieldset(
            f = f("saRegistered-fieldset"),
            legend = "responsiblepeople.registeredforselfassessment.title",
            panel=false,
            legendHidden = true
        ) {
            @rpErrorGroup(
                field = f("saRegistered"),
                personName = personName
            ) {
                @radio(
                    f = f("saRegistered"),
                    labelText = "lbl.yes",
                    value = "true",
                    inline = true,
                    target = s".saRegistered-fieldset"
                )
                @radio(
                    f = f("saRegistered"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @fieldset(
            classes = Seq("saRegistered-fieldset"),
            f = f("utrNumber-fieldset"),
            legend = "aboutthebusiness.registeredforcorporationtax.taxReferenceHint",
            legendHidden = true
        ) {
            @input(
                attrMaxlength = "10",
                attrPattern = "[0-9]{1,10}",
                bold = false,
                classes = Seq("form-control-1-4 form-control-1-4"),
                field = f("utrNumber"),
                hintText = "responsiblepeople.registeredforselfassessment.lbl.utrnumber.hint",
                labelText = "responsiblepeople.registeredforselfassessment.lbl.utrnumber"
            )
        }

        @submit(edit)

    }
}
