@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index: Int)(implicit request: Request[_])

@target = @{
s"""${f("utrNumber").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("responsiblepeople.registeredforselfassessment.title", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.registeredforselfassessment.title"),
    heading = header
)  {

    @form(f, controllers.responsiblepeople.routes.RegisteredForSelfAssessmentController.post(index, edit)) {

        @inlineRadioGroup(f("saRegistered")) {
            @legend("TODO", jsHidden = true)
            @radio(f("saRegistered"), "lbl.yes", "true", target = s"#$target")
            @radio(f("saRegistered"), "lbl.no", "false")
            @fieldset("TODO", jsHidden = true, id = target) {
                @input(f("utrNumber"), "responsiblepeople.registeredforselfassessment.lbl.utrnumber", bold = false, hintText = "aboutthebusiness.registeredforcorporationtax.taxReferenceHint")
            }
        }

    @submit(edit)
    }
}
