@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index: Int, fromDeclaration: Boolean = false, personName: String)(implicit request: Request[_],m:Messages)

@header = {
    @rpErrorSummary(f, personName)
    @headingWithPlaceholder(("responsiblepeople.sole.proprietor.another.business.title", personName), "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.sole.proprietor.another.business.title", personName) + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @form(f, controllers.responsiblepeople.routes.SoleProprietorOfAnotherBusinessController.post(index, edit, fromDeclaration)) {

        @fieldset(
            f = f("soleProprietorOfAnotherBusiness-fieldset"),
            legend = "responsiblepeople.sole.proprietor.another.business.title",
            legendHidden = true,
            panel = false
        ) {
            @rpErrorGroup(
                field = f("soleProprietorOfAnotherBusiness"),
                personName = personName
                ) {
                    @radio(
                        f = f("soleProprietorOfAnotherBusiness"),
                        labelText = "lbl.yes",
                        value = "true",
                        inline = true
                    )
                @radio(
                    f = f("soleProprietorOfAnotherBusiness"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @submit()
    }
}
