@import include._
@import models.responsiblepeople._

@(model: Seq[ResponsiblePeople])(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("summary.checkyouranswers.title")
) {
    @heading("summary.checkyouranswers.title", "summary.responsiblepeople")

    <table>
        <tbody>
            @model.zipWithIndex.map { case (responsiblePerson, idx)=>
                <tr>
                    @responsiblePerson.personName.map { personDetails =>
                        <th class="summary-title">
                            @personDetails.firstName
                            @personDetails.middleName
                            @personDetails.lastName
                        </th>
                    }.getOrElse{
                        <td>
                            @Messages("missing.personName")
                        </td>
                    }
                    <td>
                        <a href="@controllers.responsiblepeople.routes.DetailedAnswersController.get(idx + 1)">@Messages("button.edit")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}