@import include._
@import models.responsiblepeople._

@(model: Seq[ResponsiblePeople], indexesToHide : Seq[Int])(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.responsiblepeople")

    @model.zipWithIndex.filterNot({case (responsiblePerson, idx) => indexesToHide.contains(idx)}).map { case (responsiblePerson, idx) =>
                @idx <br/>
                @responsiblePerson
                <hr />
    }
}