@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean, index: Int, fromDeclaration: Boolean = false, personName: String)(implicit request: Request[_],m:Messages, lang: Lang)

@target = @{
    s"""${f("information").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @headingWithPlaceholder(("responsiblepeople.training.heading", personName), "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.training.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @form(f, controllers.responsiblepeople.routes.TrainingController.post(index, edit, fromDeclaration)) {

        @fieldset(
            f = f("training-fieldset"),
            legend = "responsiblepeople.training.title",
            legendHidden = true,
            hint = "responsiblepeople.training.hinttext",
            panel = false
        ) {
            @errorGroup(
                field = f("training")
            ) {
                @radio(
                    f = f("training"),
                    labelText = "lbl.yes",
                    value = "true",
                    inline = true,
                    target = s"#$target"
                )
                @radio(
                    f = f("training"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @fieldset(
            f = f(s"$target"),
            legend = "responsiblepeople.training.information",
            jsHidden = false
        ) {
            @textarea(
                field = f("information"),
                bold = false,
                largeWidth = true,
                cols = "30",
                rows ="8"
            )
        }

        @submit(edit)

    }

}
