@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index: Int)(implicit request: Request[_],m:Messages)

@target = @{
    s"""${f("vrnNumber").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("responsiblepeople.registeredforvat.title", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.registeredforvat.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @form(f, controllers.responsiblepeople.routes.VATRegisteredController.post(index, edit)) {

        @fieldset(
            f = f("registeredForVAT"),
            legend = "responsiblepeople.registeredforvat.title",
            legendHidden = true,
            panel = false
        ) {
            @radio(
                f = f("registeredForVAT"),
                labelText = "lbl.yes",
                value = "true",
                inline = true,
                target = s"#$target"
            )
            @radio(
                f = f("registeredForVAT"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @fieldset(
            f = f(s"$target"),
            legend = "responsiblepeople.registeredforvat.lbl.vatNumber",
            legendHidden = true
        ) {
            @input(f("vrnNumber"), "responsiblepeople.registeredforvat.lbl.vatNumber", bold = false)
        }

        @submit()
    }
}
