@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index: Int)(implicit request: Request[_])

@target = @{
    s"""${f("vrnNumber").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("responsiblepeople.registeredforvat.title", "summary.responsiblepeople")
}

@main(
    title = Messages("responsiblepeople.registeredforvat.title") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    @form(f, controllers.responsiblepeople.routes.VATRegisteredController.post(index, edit)) {

        @inlineRadioGroup(f("registeredForVAT")) {
            @legend("responsiblepeople.registeredforvat.heading", jsHidden = true)
            @radio(f("registeredForVAT"), "lbl.yes", "true", target = s"#$target")
            @radio(f("registeredForVAT"), "lbl.no", "false")
            @fieldset(
                legend = "responsiblepeople.registeredforvat.lbl.vatNumber",
                jsHidden = true,
                id = target
            ) {
                @input(f("vrnNumber"), "responsiblepeople.registeredforvat.lbl.vatNumber", bold = false)
            }
        }
        @submit()
    }
}
