@import include._
@import forms2._
@(index: Int, fromDeclaration: Boolean = false)(implicit request: Request[_],m:Messages)

@header = {
    @heading("title.wyn", "summary.responsiblepeople")
}

@main(
    title = Messages("title.wyn") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    <p>@Messages("responsiblepeople.whatyouneed.requiredinfo")</p>
    <p>@Messages("responsiblepeople.whatyouneed.possiblerequiredinfo")</p>


     <ul class="list list-bullet">
        <li>@Messages("responsiblepeople.whatyouneed.line_1")</li>
        <li>@Messages("responsiblepeople.whatyouneed.line_2")</li>
        <li>@Messages("responsiblepeople.whatyouneed.line_3")</li>
        <li>@Messages("responsiblepeople.whatyouneed.line_4")</li>
        <li>@Messages("responsiblepeople.whatyouneed.line_5")</li>
    </ul>

    @anchor(
        attrHref = controllers.responsiblepeople.routes.PersonNameController.get(index, false, fromDeclaration).toString,
        attrRole = true,
        linkText = Messages("button.continue"),
        visuallyhidden = Messages("summary.responsiblepeople")
    )

}
