@import include._
@import include.forms2._
@import models.responsiblepeople.ResponsiblePeople
@import utils.StatusConstants

@(responsiblePeople: Seq[ResponsiblePeople])(implicit request: Request[_])

@header = {
    @heading("title.ya", "summary.responsiblepeople")
}

@main(
    title = Messages("title.ya") + " - " + Messages("summary.responsiblepeople"),
    heading = header
) {

    <div class="panel-indent panel-border-wide">
        <a id="addResponsiblePerson" href="@controllers.responsiblepeople.routes.ResponsiblePeopleAddController.get(false)">@Messages("responsiblepeople.check_your_answers.add")</a>
    </div>

    <ul class="list">
        @responsiblePeople.zipWithIndex.map { case (rp, index) =>
            @if(!rp.status.contains(StatusConstants.Deleted)) {
                @rp.personName.map { pn =>
                    @checkYourAnswersListing(
                        item = pn.fullName,
                        editUrl = controllers.responsiblepeople.routes.DetailedAnswersController.get(index + 1).toString,
                        removeUrl = controllers.responsiblepeople.routes.RemoveResponsiblePersonController.get(index + 1, true).toString
                    ) {

                    }
                }
            }
        }
    </ul>

    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>
}
