@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@target = @{
    s"""${f("other").id}-fieldset"""
}

@main(
    title = Messages("aboutyou.rolewithinbusiness.title")
) {

    @heading("aboutyou.rolewithinbusiness.title", "summary.aboutyou")

    @form(f, controllers.aboutyou.routes.RoleWithinBusinessController.post(edit)) {

        @radioGroup(f("roleWithinBusiness")) {
            @legend("TODO", jsHidden = true)
            @radio(f("roleWithinBusiness"), "aboutyou.rolewithinbusiness.lbl.01", "01")
            @radio(f("roleWithinBusiness"), "aboutyou.rolewithinbusiness.lbl.02", "02")
            @radio(f("roleWithinBusiness"), "aboutyou.rolewithinbusiness.lbl.03", "03")
            @radio(f("roleWithinBusiness"), "aboutyou.rolewithinbusiness.lbl.04", "04")
            @radio(f("roleWithinBusiness"), "aboutyou.rolewithinbusiness.lbl.05", "05")
            @radio(f("roleWithinBusiness"), "aboutyou.rolewithinbusiness.lbl.06", "06")
            @radio(f("roleWithinBusiness"), "aboutyou.rolewithinbusiness.lbl.07", "07")
            @radio(f("roleWithinBusiness"), "aboutyou.rolewithinbusiness.lbl.08", "08", target = s"#$target")
            @fieldset("TODO", jsHidden = true, id = target) {
                @input(f("other"), "lbl.pleasespecify", bold = false)
            }
        }

        @submit(edit)
    }
}
