@import forms.Form2
@import include.{main, heading}
@import include.forms2._

@(f: Form2[_], edit: Boolean = false)(implicit request: Request[_], lang: Lang)

@target = @{
    s"""${f("penalisedUnderEstateAgentsActDetails").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("estateagentbusiness.penalisedunderestateagentsact.title", "summary.estateagentbusiness")
}

@main(
    title = Messages("estateagentbusiness.penalisedunderestateagentsact.title") + " - " + Messages("summary.estateagentbusiness"),
    heading = header
) {

    <div class="form-field">
        @Messages("estateagentbusiness.penalisedunderestateagentsact.subtitle")
    </div>

    @form(f, controllers.estateagentbusiness.routes.PenalisedUnderEstateAgentsActController.post(edit)) {

        <ul class="list list-bullet form-group">
            <li>@Messages("estateagentbusiness.penalisedunderestateagentsact.warning")</li>
            <li>@Messages("estateagentbusiness.penalisedunderestateagentsact.banned")</li>
        </ul>

        <div class="form-field">
            @inlineRadioGroup(f("penalisedUnderEstateAgentsAct")) {
                @legend("TODO", jsHidden = true)
                @radio(f("penalisedUnderEstateAgentsAct"), "lbl.yes", "true", target = s"#$target")
                @radio(f("penalisedUnderEstateAgentsAct"), "lbl.no", "false")

                @fieldset("TODO", jsHidden = true, id = target) {
                    @textarea(f("penalisedUnderEstateAgentsActDetails"), "estateagentbusiness.penalisedunderestateagentsact.lbl.detailslbl", hintText = "Enter 255 characters or less." ,bold = false)
                }
            }
        </div>

        @submit(edit)
    }
}
