@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@target = @{
s"""${f("professionalBody").id}-fieldset"""
}

@header = {
    @heading("estateagentbusiness.penalisedbyprofessional.title", "summary.estateagentbusiness")
}

@main(
    title = Messages("estateagentbusiness.penalisedbyprofessional.title"),
    heading = header
) {

    <div class="form-field">
        @Messages("estateagentbusiness.penalisedbyprofessional.subtitle")
    </div>

    @form(f, controllers.estateagentbusiness.routes.PenalisedByProfessionalController.post(edit)) {

        <ul class="list list-bullet form-group">
            <li>@Messages("estateagentbusiness.penalisedbyprofessional.line_1")</li>
            <li>@Messages("estateagentbusiness.penalisedbyprofessional.line_2")</li>
            <li>@Messages("estateagentbusiness.penalisedbyprofessional.line_3")</li>
            <li>@Messages("estateagentbusiness.penalisedbyprofessional.line_4")</li>
        </ul>

        <div class="form-field">
            @inlineRadioGroup(f("penalised")) {
                @legend("TODO", jsHidden = true)
                @radio(f("penalised"), "lbl.yes", "true", target = s"#$target")
                @radio(f("penalised"), "lbl.no", "false")
                @fieldset("TODO", jsHidden = true, id = target) {
                    @textarea(f("professionalBody"), "estateagentbusiness.penalisedbyprofessional.lbl.detailslbl", hintText = "Enter 255 characters or less." , bold = false)
                }
            }
        </div>
        @submit(edit)

    }
}
