@import forms.Form2
@import include.{main, heading}
@import include.forms2._

@(f: Form2[_], edit: Boolean = false)(implicit request: Request[_], lang: Lang)


@header = {
    @errorSummary(f)
    @heading("estateagentbusiness.penalisedunderestateagentsact.title", "summary.estateagentbusiness")
}

@main(
    title = Messages("estateagentbusiness.penalisedunderestateagentsact.title") + " - " + Messages("summary.estateagentbusiness"),
    heading = header
) {

    <div class="form-field">
        @Messages("estateagentbusiness.penalisedunderestateagentsact.subtitle")
    </div>

    @form(f, controllers.estateagentbusiness.routes.PenalisedUnderEstateAgentsActController.post(edit)) {

        <ul class="list list-bullet form-group">
            <li>@Messages("estateagentbusiness.penalisedunderestateagentsact.warning")</li>
            <li>@Messages("estateagentbusiness.penalisedunderestateagentsact.banned")</li>
        </ul>

        @fieldset(
            f = f("penalisedUnderEstateAgentsAct"),
            legend = "estateagentbusiness.penalisedunderestateagentsact.title",
            panel = false
        ){
            @radio(
                f = f("penalisedUnderEstateAgentsAct"),
                labelText = "lbl.yes",
                value = "true",
                inline = true,
                target = s".professionalBodyAct-fieldset"
            )
            @radio(
                f = f("penalisedUnderEstateAgentsAct"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @fieldset(
            legend = "estateagentbusiness.penalisedunderestateagentsact.lbl.detailslbl",
            legendHidden = true,
            jsHidden = true,
            classes = Seq("professionalBodyAct-fieldset"),
            f = f("penalisedUnderEstateAgentsActDetails-fieldset")
        ) {
            @textarea(
                f("penalisedUnderEstateAgentsActDetails"),
                labelText = "estateagentbusiness.penalisedunderestateagentsact.lbl.detailslbl",
                hintText = "hint.255.chars",
                bold = false
            )
        }

        @submit(edit)
    }
}
