@import include._
@()(implicit request: Request[_])

@sidebar = {
<div class="bevel-container">
    <h3>@Messages("main.sidebar.title")</h3>
    <p>@Messages("main.sidebar.information")</p>
</div>
}

@header = {
    @heading("estateagentbusiness.whatyouneed.heading", "summary.estateagentbusiness")
}

@main(
    title = Messages("estateagentbusiness.whatyouneed.title"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("estateagentbusiness.whatyouneed.subheading")</p>

    <ul class="list list-bullet spacelarge">
        <li>@Messages("estateagentbusiness.whatyouneed.line_1")</li>
        <li>@Messages("estateagentbusiness.whatyouneed.line_2")</li>
        <li>@Messages("estateagentbusiness.whatyouneed.line_3")</li>
    </ul>

    <div class="form-group">
        <a class="button" href="@controllers.estateagentbusiness.routes.BusinessServicesController.get()">@Messages("button.continue")</a>
    </div>

}
