@import include._
@()(implicit request: Request[_])
@main(
title = Messages("estateagentbusiness.whatyouneed.title")
) {

@heading("estateagentbusiness.whatyouneed.heading", "summary.estateagentbusiness")


    <p>@Messages("estateagentbusiness.whatyouneed.subheading")</p>

    <ul class="list list-bullet">
        <li>@Messages("estateagentbusiness.whatyouneed.line_1")</li>
        <li>@Messages("estateagentbusiness.whatyouneed.line_2")</li>
        <li>@Messages("estateagentbusiness.whatyouneed.line_3")</li>
    </ul>

    <div class="form-field">
        <a class="button" href="@controllers.estateagentbusiness.routes.BusinessServicesController.get()">@Messages("button.continue")</a>
    </div>

}
