@import include._
@import forms2._
@()(implicit request: Request[_])

@header = {
    @heading("title.wyn", "summary.estateagentbusiness")
}

@whatyouneed(
    title = Messages("title.wyn") + " - " + Messages("summary.estateagentbusiness"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("estateagentbusiness.whatyouneed.subheading")</p>

    <ul class="list list-bullet">
        <li>@Messages("estateagentbusiness.whatyouneed.line_1")</li>
        <li>@Messages("estateagentbusiness.whatyouneed.line_2")</li>
        <li>@Messages("estateagentbusiness.whatyouneed.line_3")</li>
    </ul>

    @anchor(
        attrHref = controllers.estateagentbusiness.routes.BusinessServicesController.get().toString,
        attrRole = true,
        linkText = Messages("button.continue"),
        visuallyhidden = Messages("summary.estateagentbusiness")
    )

}

@sidebar = {
    <div class="user-attention">
        <h2>@Messages("main.sidebar.title")</h2>
        <p>@Messages("main.sidebar.information")</p>
    </div>
}
