@import forms.FormHelpers._

@(
    name: String,
    labelText: String,
    options: Seq[(String, String)],
    hintText: String = "",
    fieldsetPresentation: Presentation = Defaults.radioGroup,
    containerPresentation: Presentation = Defaults.field,
    legendPresentation: Presentation = Defaults.legend,
    hintPresentation: Presentation = Defaults.hint
)(implicit
    form: Form[_],
    lang: Lang
)

@containerPresentation_ = @{
    if (form(name).hasErrors) {
        containerPresentation.copy(
            classes = "form-field--error" +: containerPresentation.classes
        )
    } else {
        containerPresentation
    }
}

@fieldset(
    legend = labelText,
    containerPresentation = containerPresentation_,
    presentation = fieldsetPresentation,
    legendPresentation = legendPresentation
) {
    @hint(hintText, id(name), hintPresentation)
    @errorField(name)
    @options.map { case (key, value) =>
        <label class="block-label">
            <input type="checkbox" name="@name" value="@value">
            @key
        </label>
    }
}
