@import forms.FormHelpers._

@(
name: String,
textFieldName: (String, String),
labelText: (String, String),
textFieldLabelText: (String, String),
options: Seq[(String, String)],
hintText: String = "",
fieldsetPresentation: Presentation = Defaults.radioGroup,
containerPresentation: Presentation = Defaults.field,
legendPresentation: Presentation = Defaults.legend,
hintPresentation: Presentation = Defaults.hint
)(implicit
form: Form[_],
lang: Lang
)

@fieldsetPresentation_ = @{
// Make groups of 2 radio buttons inline
if (options.length < 3) {
fieldsetPresentation.copy(
classes = "inline" +: fieldsetPresentation.classes
)
} else {
fieldsetPresentation
}
}

@containerPresentation_ = @{
if (form(name).hasErrors) {
containerPresentation.copy(
classes = "form-field--error" +: containerPresentation.classes
)
} else {
containerPresentation
}
}

@fieldset(
legend = "OOK",
containerPresentation = containerPresentation_,
presentation = fieldsetPresentation_,
legendPresentation = legendPresentation
) {
@hint(hintText, id(name), hintPresentation)
@errorField(name)
@options.map { case (key, value) =>
@if(key.length>0){
    <label class="block-label">
        @if(value == "01" || value == "02") {
        <input type="radio" name="@name" value="@value"
               @form(name).value.filter( _ == value).map{ _ => checked="checked"} data-toggle-true="#@id(name)-@value"  >

        } else {
        <input type="radio" name="@name" value="@value"
               @form(name).value.filter( _ == value).map{ _ => checked="checked"}  >
        }
        @key

    </label>
}
}
<fieldset id="@id(name)-01">
    <legend class="js-hidden heading-medium">
        @textFieldLabelText._1
    </legend>
    <div class="form-group panel-indent">
        @input(
        name = textFieldName._1,
        labelText = textFieldLabelText._1
        )
    </div>
</fieldset>
<fieldset id="@id(name)-02">
    <legend class="js-hidden heading-medium">
        @textFieldLabelText._2
    </legend>
    <div class="form-group panel-indent">
        @input(
        name = textFieldName._2,
        labelText = textFieldLabelText._2
        )
    </div>
</fieldset>
}
