@import forms.Form2
@import include._
@import include.forms2._
@import models.registrationprogress.Section

@(sections: Seq[Section], declarationAvailable: Boolean)(implicit request: Request[_])

@main2(
    title = Messages("progress.title")
) {

    @* Heading *@
    <div class="grid-layout">
        <div class="grid-layout__column grid-layout__column--2-3">
            @heading("progress.heading")
            <p class="lede">@Messages("progress.lede")</p>
        </div>
        <div class="grid-layout__column grid-layout__column--1-3">
            &nbsp;
        </div>
    </div>

    <div class="grid-layout grid-layout--stacked">

        @* Main section *@
        <ul class="grid-layout__column grid-layout__column--2-3 progress-steps" role="menu">
            @sections.map { case Section(name, status, call) =>
                @section(name, status, call)
            }
        </ul>

        @* Sidebar *@
        <div class="grid-layout__column grid-layout__column--1-3 progress-step--submit">
            <div class="application-submit">
                <form method="get" action="@controllers.declaration.routes.AddPersonController.get.url">
                    @fieldset(
                        legend = "progress.submit",
                        jsHidden = false,
                        panel = false,
                        bold = true
                    ) {
                        <p>
                            @if(declarationAvailable) {
                                @Messages("progress.declarationavailable")
                            } else {
                                @Messages("progress.declarationunavailable")
                            }
                        </p>
                        <button type="submit" name="submit" class="button" @if(!declarationAvailable) {disabled}>@Messages("progress.submit")</button>
                    }
                </form>
            </div>
        </div>

    </div>
}
