@import include._
@import models.registrationprogress.Section

@(sections: Seq[Section], declarationAvailable: Boolean)(implicit request: Request[_])

@main2(
    title = Messages("progress.title")
) {

    @* Heading *@
    <div class="grid-layout">
        <div class="grid-layout__column grid-layout__column--2-3">
            @heading("progress.title")
            <p class="lede"><i@Messages("progress.lede")</p>
        </div>
        <div class="grid-layout__column grid-layout__column--1-3">
            &nbsp;
        </div>
    </div>

    <div class="grid-layout">

        @* Main section *@
        <div class="grid-layout__column grid-layout__column--2-3">
            @sections.map { case Section(name, status, call) =>
                @section(name, status, call)
            }
        </div>

        @* Sidebar *@
        <div class="grid-layout__column grid-layout__column--1-3">
            <div class="progress-submit">
                <h3 class="heading-small">@Messages("progress.submit")</h3>
                <p>
                    @if(declarationAvailable) {
                        @Messages("progress.declarationavailable")
                    } else {
                        @Messages("progress.declarationunavailable")
                    }
                </p>
                <form method="get" action="@controllers.declaration.routes.AddPersonController.get.url">
                    <input type="submit" value="@Messages("progress.submit")" @if(!declarationAvailable) {disabled} class="button"></input>
                </form>
            </div>
        </div>

    </div>
}
