@import models.registrationprogress._

@(name: String, status: Status, call: Call)(implicit request: Request[_], lang: Lang)

<li role="menuitem">
    <a class="progress-step" href="@call.url">
        @status match {

            case NotStarted => {
                <div class="grid-layout__column grid-layout__column--2-3 progress-step--details">
                    <h3 class="heading-small">@Messages(s"progress.${name}.name")</h3>
                    <p class="visuallyhidden">@Messages("progress.visuallyhidden.not.started")</p>
                    <p>@Messages(s"progress.$name.description")</p>
                </div>
                <div class="grid-layout__column grid-layout__column--1-3 progress-step--status progress-step--status__not-started">
                    <div class="grid-layout__column--2-3 progress-step--status-time">
                        <p class="visuallyhidden">@Messages("progress.visuallyhidden.approximately")</p>
                        <span class="heading-large">@Messages(s"progress.${name}.time")</span>
                        <p class="font-xsmall">@Messages("progress.minutes")</p>
                    </div>
                    <div class="grid-layout__column grid-layout__column--1-3">
                      &nbsp;
                    </div>
                </div>
            }

            case Started => {
                <div class="grid-layout__column grid-layout__column--2-3 progress-step--details">
                    <h3 class="heading-small">@Messages(s"progress.${name}.name")</h3>
                    <p class="visuallyhidden">@Messages("progress.visuallyhidden.started")</p>
                    <p class="progress-step__edit" aria-label="@Messages("progress.visuallyhidden.continue")">@Messages("progress.continue")</p>
                </div>
                <div class="grid-layout__column grid-layout__column--1-3 progress-step--status progress-step--status__started">
                    &nbsp;
                </div>
            }

            case Completed => {
                <div class="grid-layout__column grid-layout__column--2-3 progress-step--details">
                    <h3 class="heading-small">@Messages(s"progress.${name}.name")</h3>
                    <p class="visuallyhidden">@Messages("progress.visuallyhidden.completed")</p>
                    <p class="progress-step__edit" aria-label="@Messages("progress.visuallyhidden.edit")">@Messages("progress.edit")</p>
                </div>
                <div class="grid-layout__column grid-layout__column--1-3 progress-step--status progress-step--status__completed">
                  &nbsp;
                </div>
            }
        }
    </a>
</li>
