@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{

s"""${f("agentRegNo").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("asp.other.business.tax.matters.title", "summary.asp")
}

@main(
    title = Messages("asp.other.business.tax.matters.title") + " - " + Messages("summary.asp"),
    heading = header
) {

    <p>@Messages("asp.other.business.tax.matters.lbl")</p>

    @form(f, controllers.asp.routes.OtherBusinessTaxMattersController.post(edit)) {

        @inlineRadioGroup(f("otherBusinessTaxMatters")) {
            @radio(f("otherBusinessTaxMatters"), "lbl.yes", "true", target = s"#$target")
            @radio(f("otherBusinessTaxMatters"), "lbl.no", "false")

        }

        @submit(edit)
    }
}


