@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("asp.other.business.tax.matters.title", "summary.asp")
}

@main(
    title = Messages("asp.other.business.tax.matters.title") + " - " + Messages("summary.asp"),
    heading = header
) {

    @form(f, controllers.asp.routes.OtherBusinessTaxMattersController.post(edit)) {

        @fieldset(
            f = f("otherBusinessTaxMatters"),
            legend = "asp.other.business.tax.matters.lbl",
            panel = false) {
            @radio(f("otherBusinessTaxMatters"), "lbl.yes", "true", inline = true)
            @radio(f("otherBusinessTaxMatters"), "lbl.no", "false", inline = true)
        }

        @submit(edit)
    }
}


