@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("asp.services.title", "summary.asp")
}

@main(
    title = Messages("asp.services.title") + " - " + Messages("summary.asp"),
    heading = header
) {

    @form(f, controllers.asp.routes.ServicesOfBusinessController.post(edit)) {
        @fieldset(
            f = f("services"),
            legend = "lbl.select.all",
            panel = false
        ) {
            @checkbox(
                f = f("services[]"),
                labelText = "asp.service.lbl.01",
                value = "01"
            )
            @checkbox(
                f = f("services[]"),
                labelText = "asp.service.lbl.02",
                value = "02"
            )
            @checkbox(
                f = f("services[]"),
                labelText = "asp.service.lbl.03",
                value = "03"
            )
            @checkbox(
                f = f("services[]"),
                labelText = "asp.service.lbl.04",
                value = "04"
            )
            @checkbox(
                f = f("services[]"),
                labelText = "asp.service.lbl.05",
                value = "05"
            )
        }
        @submit(edit)
    }
}
