@import include._
@import forms2._
@import models.asp._

@(model: Asp)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("title.cya", "summary.asp")
}

@main(
    title = Messages("title.cya") + " - " + Messages("summary.asp"),
    heading = header
) {

    @model.services.map { a =>
        @checkYourAnswers(
            question = Messages("asp.services.title"),
            editUrl = controllers.asp.routes.ServicesOfBusinessController.get(true).toString
        ) {
            <ul class="list list--comma">
            @a.services.map { line =>
                <li>@line match {
                    case Accountancy => {@Messages("asp.service.lbl.01")}
                    case PayrollServices => {@Messages("asp.service.lbl.02")}
                    case BookKeeping => {@Messages("asp.service.lbl.03")}
                    case Auditing => {@Messages("asp.service.lbl.04")}
                    case FinancialOrTaxAdvice => {@Messages("asp.service.lbl.05")}
                }</li>
            }
            </ul>
        }
    }

    @checkYourAnswers(
        question = Messages("asp.other.business.tax.matters.title"),
        editUrl = controllers.asp.routes.OtherBusinessTaxMattersController.get(true).toString
    ) {
        <p>@model.otherBusinessTaxMatters.map {
            case OtherBusinessTaxMattersNo => { @Messages("lbl.no") }
            case OtherBusinessTaxMattersYes => { @Messages("lbl.yes") }
        }</p>
    }

    @anchor(
        attrHref = controllers.routes.RegistrationProgressController.get().toString,
        attrRole = true,
        linkText = Messages("button.checkyouranswers.acceptandcomplete")
    )
}
