@import include._
@import models.asp._

@(model: Asp)(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.asp")
    @model.services.map { a =>
        <table>
            <tr>
                <th class="summary-title">@Messages("asp.services.title")</th>
                <td colspan="2"><a href="@controllers.asp.routes.ServicesOfBusinessController.get(true)">@Messages("button.edit")</a></td>
            </tr>
            @a.services.map { line =>
            <tr>
                <td colspan="2">
                    @line match {
                        case Accountancy => {@Messages("asp.service.lbl.01")}
                        case PayrollServices => {@Messages("asp.service.lbl.02")}
                        case BookKeeping => {@Messages("asp.service.lbl.03")}
                        case Auditing => {@Messages("asp.service.lbl.04")}
                        case FinancialOrTaxAdvice => {@Messages("asp.service.lbl.05")}
                    }
                </td>
            </tr>
            }

        </table>
    }
    <table>
        <tr>
            <th class="summary-title">@Messages("asp.other.business.tax.matters.title")</th>
            <td colspan="2"><a href="@controllers.asp.routes.OtherBusinessTaxMattersController.get(true)">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            <td colspan="2">
                @model.otherBusinessTaxMatters.map {
                    case OtherBusinessTaxMattersNo => { @Messages("lbl.no") }
                    case OtherBusinessTaxMattersYes(v) => { @Messages("lbl.yes") }
                }
            </td>
        </tr>

        @model.otherBusinessTaxMatters.map {
            case OtherBusinessTaxMattersNo => { }
            case OtherBusinessTaxMattersYes(v) => {
            <tr>
                <td colspan="2">
                    @v
                </td>
            </tr>
            }
        }

    </table>
    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>
}
