@import include._
@()(implicit request: Request[_])

@header = {
    @heading("asp.whatyouneed.title", "summary.asp")
}

@whatyouneed(
    title = Messages("asp.whatyouneed.title"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("asp.whatyouneed.subheading")</p>

    <ul class="list list-bullet">
        <li>@Messages("asp.whatyouneed.line_1")</li>
        <li>@Messages("asp.whatyouneed.line_2")</li>
        <li>@Messages("asp.whatyouneed.line_3")</li>
    </ul>

    <div class="form-group">
        <a class="button" role="button" href="@controllers.asp.routes.ServicesOfBusinessController.get()">
            @Messages("button.continue") <span class="visuallyhidden"> @Messages("summary.asp")</span>
        </a>
    </div>

}

@sidebar = {
    <div class="user-attention">
        <h2>@Messages("main.sidebar.title")</h2>
        <p>@Messages("main.sidebar.information")</p>
    </div>
}
