@import include._
@()(implicit request: Request[_])

@sidebar = {
<div class="bevel-container">
    <h3>@Messages("main.sidebar.title")</h3>
    <p>@Messages("main.sidebar.information")</p>
</div>
}

@main(
    title = Messages("asp.whatyouneed.title"),
    sidebar = sidebar
    ) {

    @heading("asp.whatyouneed.title", "summary.asp")

    <p>@Messages("asp.whatyouneed.subheading")</p>

    <ul class="list list-bullet spacelarge">
        <li>@Messages("asp.whatyouneed.line_1")</li>
        <li>@Messages("asp.whatyouneed.line_2")</li>
        <li>@Messages("asp.whatyouneed.line_3")</li>
    </ul>

    <div class="form-group">
        <a class="button" href="@controllers.asp.routes.ServicesOfBusinessController.get()">@Messages("button.continue")</a>
    </div>

}
