@import models.registrationprogress._

@(name: String, status: Status, hasChanged: Boolean, call: Call)(implicit request: Request[_],m:Messages, lang: Lang)

@progressClass(status:Status) = {
    @status match {
        case Completed => {progress-step}
        case _ => {progress-step progress-step__started}
    }
}

<li>
    <a href="@call.url" class="@{progressClass(status)}" aria-label="@Messages(s"progress.$name.name"). @Messages(s"progress.$name.description"). @Messages("progress.visuallyhidden.view.amend")">
        <div class="grid-layout__column grid-layout__column--2-3 progress-step--details">
            <h2 class="heading-small">@Messages(s"progress.$name.name")</h2>
            <p>@Messages(s"progress.$name.description")</p>
        </div>
        <div class="grid-layout__column grid-layout__column--1-3 progress-step--status @if(hasChanged && status == Completed){progress-step_changed}else{@progressClass(status:Status)}">

            <div class="grid-layout__column grid-layout__column--2-3 progress-step--status-time">
                <p class="font-xsmall">@Messages("progress.visuallyhidden.view.amend")</p>
            </div>
            <div class="grid-layout__column grid-layout__column--1-3">
                &nbsp;
            </div>

        </div>
    </a>
</li>
