@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("tcsp.provided_services.heading", "summary.tcsp")
}

@main(
    title = Messages("tcsp.provided_services.title"),
    heading = header
) {

    <p>@Messages("lbl.select.all")</p>

    @form(f, controllers.tcsp.routes.ProvidedServicesController.post(edit)) {
        @radioGroup(f("services")) {
            @legend("tcsp.provided_services.title", jsHidden = true)
            @checkbox(f("services[]"), "tcsp.provided_services.service.lbl.01", "01")
            @checkbox(f("services[]"), "tcsp.provided_services.service.lbl.02", "02")
            @checkbox(f("services[]"), "tcsp.provided_services.service.lbl.03", "03")
            @checkbox(f("services[]"), "tcsp.provided_services.service.lbl.04", "04")
            @checkbox(f("services[]"), "tcsp.provided_services.service.lbl.05", "05")
            @checkbox(f("services[]"), "tcsp.provided_services.service.lbl.06", "06")
            @checkbox(f("services[]"), "tcsp.provided_services.service.lbl.07", "07")
            @checkbox(f("services[]"), "tcsp.provided_services.service.lbl.08", "08", target = s"#${f("details").id}-fieldset")
            @fieldset("tcsp.provided_services.service.lbl.08", jsHidden = true, id = s"""${f("details").id}-fieldset""") {
                @input(f("details"), "tcsp.provided_services.service.lbl.details", bold = false)
            }
        }

        @submit(edit)
    }

}
