@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("tcsp.kind.of.service.provider.title", "summary.tcsp")
}

@main(
    title = Messages("tcsp.kind.of.service.provider.title") + " - " + Messages("summary.tcsp"),
    heading = header
) {

    <p>@Messages("lbl.select.all")</p>

    @form(f, controllers.tcsp.routes.TcspTypesController.post(edit)) {

            @fieldset(
                "tcsp.kind.of.service.provider.title",
                f = f("serviceProviders"),
                panel = false,
                legendHidden = true
            ) {
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.01", "01")
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.02", "02")
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.03", "03")
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.04", "04")
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.05", "05", target = s"#${f("agent").id}-options")
            }



                <div id="@{s"""${f("agent").id}-options"""}">

                @panel(
                    jsHidden = false
                ) {

                    <div class="form-field-group">
                    @fieldset(
                        "tcsp.off-the-shelf.companies.lbl",
                        f = f("onlyOffTheShelfCompsSold"),
                        panel = false
                    ) {
                        @radio(
                            f = f("onlyOffTheShelfCompsSold"),
                            labelText = "lbl.yes",
                            value = "true",
                            inline = true
                        )
                        @radio(
                            f = f("onlyOffTheShelfCompsSold"),
                            labelText = "lbl.no",
                            value = "false",
                            inline = true
                        )
                    }
                    </div>

                    @fieldset(
                        "tcsp.create.complex.corporate.structures.lbl",
                        f = f("complexCorpStructureCreation"),
                        panel = false
                    ) {
                        @radio(
                            f = f("complexCorpStructureCreation"),
                            labelText = "lbl.yes",
                            value = "true",
                            inline = true
                        )
                        @radio(
                            f = f("complexCorpStructureCreation"),
                            labelText = "lbl.no",
                            value = "false",
                            inline = true
                        )
                    }
                }
            </div>

        @submit(false)
    }
}
