@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{

s"""${f("mlrRefNumber").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("tcsp.servicesOfAnotherTcsp.title", "summary.tcsp")
}

@main(
    title = Messages("tcsp.servicesOfAnotherTcsp.title"),
    heading = header
) {

    @form(f, controllers.tcsp.routes.ServicesOfAnotherTCSPController.post(edit)) {

        @inlineRadioGroup(f("servicesOfAnotherTCSP")) {
            @radio(f("servicesOfAnotherTCSP"), "lbl.yes", "true", target = s"#$target")
            @radio(f("servicesOfAnotherTCSP"), "lbl.no", "false")
            @fieldset("TODO", jsHidden = true, id = target) {
                @input(f("mlrRefNumber"), "tcsp.servicesOfAnotherTcsp.mlrregno.lbl", bold = false)
            }
        }

        @submit(edit)
    }
}


