@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{

s"""${f("mlrRefNumber").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("tcsp.servicesOfAnotherTcsp.title", "summary.tcsp")
}

@main(
    title = Messages("tcsp.servicesOfAnotherTcsp.title") + " - " + Messages("summary.tcsp"),
    heading = header
) {

    @form(f, controllers.tcsp.routes.ServicesOfAnotherTCSPController.post(edit)) {

        @inlineRadioGroup(f("servicesOfAnotherTCSP")) {
            @hint("tcsp.servicesOfAnotherTcsp.other.hint")
            @radio(f("servicesOfAnotherTCSP"), "lbl.yes", "true", target = s"#$target")
            @radio(f("servicesOfAnotherTCSP"), "lbl.no", "false")
            @fieldset(
                legend = "tcsp.servicesOfAnotherTcsp.mlrregno.lbl",
                jsHidden = true,
                id = target
            ) {
                @input(f("mlrRefNumber"),
                    labelText = "tcsp.servicesOfAnotherTcsp.mlrregno.lbl",
                    hintText = "hint.8.digits",
                    bold = false
                )
            }
        }

        @submit(edit)
    }
}


