@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("tcsp.kind.of.service.provider.title", "summary.tcsp")
}

@main(
    title = Messages("tcsp.kind.of.service.provider.title"),
    heading = header
) {

    <p>@Messages("lbl.select.all")</p>

    @form(f, controllers.tcsp.routes.TcspTypesController.post(edit)) {

            @radioGroup(f("transactions")) {
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.01", "01")
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.02", "02")
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.03", "03")
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.04", "04")
                @checkbox(f("serviceProviders[]"), "tcsp.service.provider.lbl.05", "05", target = s"#${f("agent").id}-fieldset")
                @fieldset("tcsp.service.provider.lbl.05", jsHidden = true, id = s"""${f("agent").id}-fieldset""") {
                    @inlineRadioGroup(f("onlyOffTheShelfCompsSold")) {
                        @legend("tcsp.off-the-shelf.companies.lbl", false, bold = false)
                        @radio(f("onlyOffTheShelfCompsSold"), "lbl.yes", "true")
                        @radio(f("onlyOffTheShelfCompsSold"), "lbl.no", "false")
                    }
                    @inlineRadioGroup(f("complexCorpStructureCreation")) {
                        @legend("tcsp.create.complex.corporate.structures.lbl", false, bold = false)
                        @radio(f("complexCorpStructureCreation"), "lbl.yes", "true")
                        @radio(f("complexCorpStructureCreation"), "lbl.no", "false")
                    }
                }
            }

        @submit(false)
    }
}
