@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{

s"""${f("mlrRefNumber").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("tcsp.servicesOfAnotherTcsp.title", "summary.tcsp")
}

@main(
    title = Messages("tcsp.servicesOfAnotherTcsp.title") + " - " + Messages("summary.tcsp"),
    heading = header
) {

    <span class="form-hint">@Messages("tcsp.servicesOfAnotherTcsp.other.hint")</span>

    @form(f, controllers.tcsp.routes.ServicesOfAnotherTCSPController.post(edit)) {

        @fieldset(
            legend = "tcsp.servicesOfAnotherTcsp.title",
            legendHidden = true,
            f = f("servicesOfAnotherTCSP"),
            panel = false
        ) {

            @radio(
                f = f("servicesOfAnotherTCSP"),
                labelText = "lbl.yes",
                value = "true",
                target = s"#$target",
                inline = true
            )
            @radio(
                f = f("servicesOfAnotherTCSP"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )

        }

        @fieldset(
            f = f(target),
            legend = "tcsp.servicesOfAnotherTcsp.mlrregno.lbl",
            legendHidden = true
        ) {
            @input(f("mlrRefNumber"),
                labelText = "tcsp.servicesOfAnotherTcsp.mlrregno.lbl",
                hintText = "hint.8.digits",
                bold = false
            )
        }

        @submit(edit)
    }
}


