@import include._
@import include.forms2._
@import models.tcsp._

@(model: Tcsp)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("title.cya", "summary.tcsp")
}

@main(
    title = Messages("title.cya"),
    heading = header
) {

    @checkYourAnswers(
        question = Messages("tcsp.kind.of.service.provider.title"),
        editUrl = controllers.tcsp.routes.TcspTypesController.get(true).toString
    ) {
        @model.tcspTypes.map { v =>
        <ul class="list list--semicolon">
            @v.serviceProviders.map { x =>
                <li>@x match {
                    case NomineeShareholdersProvider => {@Messages("tcsp.service.provider.lbl.01")}
                    case TrusteeProvider => {@Messages("tcsp.service.provider.lbl.02")}
                    case RegisteredOfficeEtc => {@Messages("tcsp.service.provider.lbl.03")}
                    case CompanyDirectorEtc => {@Messages("tcsp.service.provider.lbl.04")}
                    case CompanyFormationAgent(_, _) => {@Messages("tcsp.service.provider.lbl.05")}
                }</li>
            }
        </ul>
        }
        @model.tcspTypes.map { v =>
            @v.serviceProviders.map { x =>
                @x match {
                    case CompanyFormationAgent(shelf, corp) => {
                        @checkYourAnswersExtra(
                            question = Messages("tcsp.off-the-shelf.companies.lbl")
                        ) {
                            @shelf match {
                                case true => {<p>@Messages("lbl.yes")</p>}
                                case false => {<p>@Messages("lbl.no")</p>}
                            }
                        }
                        @checkYourAnswersExtra(
                            question = Messages("tcsp.create.complex.corporate.structures.lbl")
                        ) {
                            @corp match {
                                case true => {<p>@Messages("lbl.yes")</p>}
                                case false => {<p>@Messages("lbl.no")</p>}
                            }
                        }
                    }
                    case _ => {

                    }
                }
            }
        }
    }

    @model.tcspTypes.map { v =>
        @if(v.serviceProviders.contains(RegisteredOfficeEtc)) {
            @checkYourAnswers(
                question = Messages("tcsp.provided_services.title"),
                editUrl = controllers.tcsp.routes.ProvidedServicesController.get(true).toString
            ) {
                <ul class="list list--comma">
                    @model.providedServices.map { a =>
                        @a.services.map { x =>
                            <li>@x.getMessage</li>
                        }
                    }
                </ul>
            }
        }
    }

    @checkYourAnswers(
        question = Messages("tcsp.servicesOfAnotherTcsp.title"),
        editUrl = controllers.tcsp.routes.ServicesOfAnotherTCSPController.get(true).toString
    ) {
        <p>@model.servicesOfAnotherTCSP.map {
            case ServicesOfAnotherTCSPNo => { @Messages("lbl.no") }
            case ServicesOfAnotherTCSPYes(v) => { @Messages("tcsp.cya.mlrregno"): @v }
        }</p>
    }

    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>
}
