@import forms.Form2
@import include._
@import include.forms2._

@()(implicit request: Request[_])

@sidebar = {
    <div class="user-attention">
        <h3>@Messages("tcsp.whatyouneed.sidebar.title")</h3>
        <p>@Messages("tcsp.whatyouneed.sidebar.information")</p>
    </div>
}

@header = {
    @heading("tcsp.whatyouneed.heading", "summary.tcsp")
}

@main(
    title = Messages("tcsp.whatyouneed.title"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("tcsp.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet spacelarge">
        <li>@Messages("tcsp.whatyouneed.requiredinfo.text.1")</li>
        <li>@Messages("tcsp.whatyouneed.requiredinfo.text.2")</li>
        <li>@Messages("tcsp.whatyouneed.requiredinfo.text.3")</li>
    </ul>

    <p>@Messages("tcsp.whatyouneed.dependinginfo.heading")</p>

    <ul class="list list-bullet spacelarge">
        <li>@Messages("tcsp.whatyouneed.dependinginfo.text.1")</li>
        <li>@Messages("tcsp.whatyouneed.dependinginfo.text.2")</li>
        <li>@Messages("tcsp.whatyouneed.dependinginfo.text.3")</li>
    </ul>

    <div class="form-group">
        <a class="button" href="@controllers.tcsp.routes.TcspTypesController.get()">
            @Messages("button.continue")
        </a>
    </div>

}
