@import include._
@import models.status._
@import config.ApplicationConfig
@import org.joda.time.LocalDate
@import utils.DateHelper

@(regNo: String, businessName: Option[String], completionState: CompletionStateViewModel, feeResponse: Option[FeeResponse], notifications: Boolean)(implicit request: Request[_],m:Messages)
@borderClass(entry:(SubmissionStatus,CompletionState)) = {
    @entry match{
        case (NotCompleted,Current)=> {status-list--start}
        case (SubmissionDecisionApproved,Current)=> {status-list--end}
        case (SubmissionDecisionRejected,Current)=> {status-list--end}
        case (_,_) => {}
    }
}

@statusTitle = @{completionState.currentState match {
case NotCompleted => {Messages("status.incomplete.heading")}
case SubmissionReady => {Messages("status.submissionready.heading")}
case SubmissionReadyForReview => {Messages("status.submissionreadyforreview.heading")}
case SubmissionDecisionApproved | ReadyForRenewal(_) | RenewalSubmitted(_) => {Messages("status.submissiondecisionapproved.heading")}
case SubmissionDecisionRejected => {Messages("status.submissiondecisionrejected.heading")}
case _ => {Messages("status.incomplete.heading")}
}}

@changeLink = @{completionState.currentState match {
case SubmissionReady => { Some("status.submissionready.changelink1") }
case (SubmissionReadyForReview | SubmissionDecisionApproved | ReadyForRenewal(_) | RenewalSubmitted(_)) if(ApplicationConfig.amendmentsToggle) => { Some("status.amendment.edit") }
case _ => { None }
}}


@main2(title = statusTitle +" - Your registration") {

@* Heading *@
<div class="grid-layout">
    <div class="grid-layout__column grid-layout__column--3-3">
        <h1 class="heading-xlarge">
        <span class="heading-secondary">
            @Messages("summary.status")
        </span>
            <span>@statusTitle</span>
        </h1>

    </div>
</div>

<div class="grid-layout">
    <div class="grid-layout__column grid-layout__column--2-3">

        @(businessName,completionState.currentState) match {
        case (Some(bn),SubmissionDecisionApproved) => {
        <div class="panel-indent panel-indent--gutter panel-border-wide">
            <p class="heading-small">@Messages("status.business")</p><p>@bn</p>
            <p class="heading-small">@Messages("status.referenceno")</p><p>@regNo</p>
        </div>}
        case (Some(bn),_) =>{
        <div class="panel-indent panel-indent--gutter panel-border-wide">
            <p class="heading-small">@Messages("status.business")</p><p>@bn</p>
        </div>}
        case (None,SubmissionDecisionApproved) => {
        <div class="panel-indent panel-indent--gutter panel-border-wide">
            <p class="heading-small">@Messages("status.referenceno")</p><p>@regNo</p>
        </div>}
        case _ => {}
        }
    </div>
    <div class = "grid-layout__column grid-layout__column--1-3">
        @if(completionState.notificationsAvailable && notifications){
            <div class="govuk-box-highlight messaging">
                <!-- <i class="icon icon-information"></i>  -->
                <a href="@controllers.routes.NotificationController.getMessages()">@Messages("notifications.youHaveMessages")</a>
            </div>
        }
        @changeLink match {
            case Some(text:String) => {
                <div class="grid-row statusblock declaration">
                    <h2 class="heading-small">@Messages("status.hassomethingchanged")</h2>
                    <ul>
                        <li><a href="@controllers.routes.RegistrationProgressController.get()">@Messages(text)</a></li>
                    </ul>
                </div>
            }
            case _ => {}
        }
    </div>

</div>

<div class="grid-layout grid-layout--stacked">
    <div class="grid-layout__column grid-layout__column--1-3">
        <ol class="list list-number status-list">

            @completionState.statuses.map{ entry =>
            @entry._1 match {
            case ReadyForRenewal(_) | RenewalSubmitted(_) => {}
            case _ => {<li class="status-list--pending @{entry._2.cssClass+borderClass(entry)}">@completionState.statusTitle(entry._1)</li>}
            }
            }
        </ol>
    </div>
    <div class="grid-layout__column grid-layout__column--2-3">
        <div class="status-detail">

            @completionState.currentState match {
                case NotCompleted => {@include.status.rightpanel_incomplete()}
                case SubmissionReady => {@include.status.rightpanel_submissionready()}
                case SubmissionReadyForReview => {@include.status.rightpanel_submissionreadyforreview(feeResponse)}
                case SubmissionDecisionApproved | ReadyForRenewal(_) | RenewalSubmitted(_) => {@include.status.rightpanel_submissiondecisionapproved(feeResponse)}
                case SubmissionDecisionRejected => {@include.status.rightpanel_submissiondecisionrejected()}
                case _ => {@include.status.rightpanel_incomplete()}
            }

        </div>

    </div>

</div>

@(completionState.currentState,ApplicationConfig.renewalsToggle) match {
case (ReadyForRenewal(renewalDateOpt:Option[LocalDate]),true)  => {
@renewalDateOpt match{
case Some(date) => {<div class="notice spacelarge"><i class="icon icon-important"><span class="visuallyhidden">Warning</span></i><strong class="bold-small">@Messages("status.readyforrenewal.warning",DateHelper.formatDate(date))</strong></div>}
case _ => {}
}

}
case _ => {}

}

@(completionState.currentState,ApplicationConfig.renewalsToggle) match {
    case (ReadyForRenewal(_),true) => {
<a class = "button" href = "@controllers.renewal.routes.WhatYouNeedController.get()">Renew supervision</a>

    }
    case _ => {}
}


@completionState.currentState match {
case SubmissionReadyForReview | SubmissionDecisionApproved | SubmissionDecisionRejected | ReadyForRenewal(_) | RenewalSubmitted(_) => {
<div class="grid-row">
    <div class="column-two-thirds">
        <h3 class="heading-small">@Messages("survey.satisfaction.beforeyougo")</h3>
        <p>@Messages("survey.satisfaction.please") <a href="@controllers.routes.SatisfactionSurveyController.get()">@Messages("survey.satisfaction.answer")</a> @Messages("survey.satisfaction.helpus")</p>
    </div>
</div>
}
case _ => {}
}

}
