@import include._

@(businessName: String)(implicit request: Request[_])
@main2(
title = Messages("status.title")
) {

@* Heading *@
<div class="grid-layout">
    <div class="grid-layout__column grid-layout__column--3-3">
        @heading("status.heading", "summary.status")

    </div>
    <div class="grid-layout__column grid-layout__column--2-3">
        &nbsp;
    </div>
</div>

<div class="grid-layout spacelarge">
    <div class="grid-layout__column grid-layout__column--1-3">
        <div class="panel-indent"><div class="heading-small">@Messages("status.business")</div><div>@businessName</div></div>
    </div>
    <div class="grid-layout__column grid-layout__column--2-3">&nbsp;</div>
</div>

<div class="grid-layout">
    <div class="grid-layout__column grid-layout__column--1-3">
        <ol class="list list-number status-list">
            <li class="status-list--pending status-list--start current">@Messages("status.incomplete")</li>
            <li class="status-list--upcoming">@Messages("status.submitted")</li>
            <li class="status-list--upcoming">@Messages("status.feepaid")</li>
            <li class="status-list--upcoming">@Messages("status.underreview")</li>
            <li class="status-list--upcoming">@Messages("status.decisionmade")</li>
        </ol>
    </div>
    <div class="grid-layout__column grid-layout__column--2-3">
        <div class="status-detail">
            <h2>@Messages("status.incompleteheading")</h2>
            <p>@Messages("status.description")</p>
            <p>@Messages("status.withdraw")</p>
            <a href="@controllers.routes.RegistrationProgressController.get()" class="button" type="submit">@Messages("status.buttontext")</a>
        </div>

    </div>
</div>



}
