@import forms.{Form2, ValidField, InvalidField}
@import include._
@import forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages)

@header = {
    @errorSummary(f)
    @heading("msb.branchesoragents.title", "summary.msb")
}

@main(
    title = Messages("msb.branchesoragents.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    <span class="form-hint">@Messages("msb.branchesoragents.intro")</span>

    @form(f, controllers.msb.routes.BranchesOrAgentsController.post(edit)) {

        @fieldset(
            f = f("hasCountries-fieldset"),
            legend = "msb.branchesoragents.title",
            legendHidden = true,
            panel = false
        ) {
            @errorGroup(
                field = f("hasCountries")
            ) {
                @radio(
                    f = f("hasCountries"),
                    labelText = "lbl.yes",
                    value = "true",
                    target = s"#countries",
                    inline = true
                )
                @radio(
                    f = f("hasCountries"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @panel(
            field = Some(f("countries")),
            jsHidden = false,
            data = Seq("data-toggle-new")
        ) {

            @fieldset(
                f = f("countries-fieldset"),
                hint = "msb.branchesoragents.hint",
                legend = "msb.branchesoragents.legend",
                panel = false
            ) {
                @addRemove("lbl.add.another.country") {
                    @for(i <- 0 until 10) {
                        @defining(
                            f(s"countries[$i]")
                        ) { field =>
                        @country(field, classes = field match {
                            case f: ValidField => Seq("")
                            case f: InvalidField => Seq("js-hidden")
                            })
                        }
                    }
                }
            }

        }

        @submit(edit)

    }
}
