@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @heading("msb.ipsp.heading", "summary.msb")
}

@main(
    title = Messages("msb.ipsp.title"),
    heading = header
) {

    @form(f, controllers.msb.routes.BusinessUseAnIPSPController.post(edit)) {

        @inlineRadioGroup(f("useAnIPSP")) {
            @legend("msb.ipsp.text", jsHidden = false)
            @radio(f("useAnIPSP"), "lbl.yes", "true", target = s"#${f("name").id}-fieldset")
            @radio(f("useAnIPSP"), "lbl.no", "false")
            @fieldset("msb.ipsp.text", jsHidden = true, id = s"""${f("name").id}-fieldset""") {
                @input(f("name"), "msb.ipsp.name.lbl", bold = false)
                @input(f("referenceNumber"), "msb.ipsp.referenceNumber.lbl", bold = false)
            }
        }

        @submit(edit)
    }
}
