@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.ipsp.title", "summary.msb")
}

@main(
    title = Messages("msb.ipsp.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    @form(f, controllers.msb.routes.BusinessUseAnIPSPController.post(edit)) {

        @fieldset(
            legend = "msb.ipsp.text",
            f = f("useAnIPSP"),
            legendHidden = true,
            panel = false
        ) {
            @radio(
                f = f("useAnIPSP"),
                labelText = "lbl.yes",
                value = "true",
                target = s"#${f("name").id}-fieldset",
                inline = true
            )
            @radio(
                f = f("useAnIPSP"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @fieldset(
            legend = "msb.ipsp.text",
            legendHidden = true,
            f = f(s"""${f("name").id}-fieldset""")
        ) {
            @input(f("name"), "msb.ipsp.name.lbl", bold = false)
            @input(f("referenceNumber"), "msb.ipsp.referenceNumber.lbl", bold = false)
        }

        @submit(edit)
    }
}
