@import forms.{Form2, ValidField, InvalidField}
@import include._
@import include.forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])


@main(
    title = Messages("msb.ce.transactions.expected.in.12.months.title")
) {

    @heading("msb.ce.transactions.expected.in.12.months.heading", "summary.msb")

    @form(f, controllers.msb.routes.CETransactionsInNext12MonthsController.post(edit)) {
        @input(f("ceTransaction"), "", bold = false)

        @submit(edit)
    }
}