@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.throughput.title", "summary.msb")
}

@main(
    title = Messages("msb.throughput.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    <span class="form-hint">@Messages("msb.throughput.sub")</span>

    @form(f, controllers.msb.routes.ExpectedThroughputController.post(edit)) {

        @fieldset(
            legend = "msb.throughput.heading",
            f = f("throughput"),
            legendHidden = true,
            panel = false
        ) {
            @radio(f("throughput"), "msb.throughput.lbl.01", "01")
            @radio(f("throughput"), "msb.throughput.lbl.02", "02")
            @radio(f("throughput"), "msb.throughput.lbl.03", "03")
            @radio(f("throughput"), "msb.throughput.lbl.04", "04")
            @radio(f("throughput"), "msb.throughput.lbl.05", "05")
            @radio(f("throughput"), "msb.throughput.lbl.06", "06")
            @radio(f("throughput"), "msb.throughput.lbl.07", "07")
        }

        @submit(edit)
    }
}
