@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.fundstransfer.title", "summary.msb")
}

@main(
    title = Messages("msb.fundstransfer.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    @form(f, controllers.msb.routes.FundsTransferController.post(edit)) {

        @fieldset(
            f = f("transferWithoutFormalSystems-fieldset"),
            legend = "msb.fundstransfer.hint",
            legendHidden = true,
            panel = false
        ) {
            @errorGroup(
                field = f("transferWithoutFormalSystems")
            ) {
                @radio(
                    f = f("transferWithoutFormalSystems"),
                    labelText = "lbl.yes",
                    value = "true",
                    inline = true
                )
                @radio(
                    f = f("transferWithoutFormalSystems"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @submit()
    }
}
