@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @heading("msb.linked.txn.title", "summary.msb")
}

@main(
    title = Messages("msb.linked.txn.title"),
    heading = header
) {

    @form(f, controllers.msb.routes.IdentifyLinkedTransactionsController.post(edit)) {

        @inlineRadioGroup(f("linkedTxn")) {
        @legend("TODO", jsHidden = true)
            @radio(f("linkedTxn"), "lbl.yes", "true")
            @radio(f("linkedTxn"), "lbl.no", "false")
        }
        @submit(edit)
    }
}
