@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.most.transactions.title", "summary.msb")
}

@main(
    title = Messages("msb.most.transactions.title") + " - " + Messages("summary.msb"),
    heading = header
) {

     <span class="form-hint">@Messages("lbl.list.upto.3.countries")</span>

    @form(f, controllers.msb.routes.MostTransactionsController.post(edit)) {

        @fieldset(
            f = f("mostTransactionsCountries-fieldset"),
            legend = "msb.most.transactions.list.countries",
            legendHidden = true,
            panel = false
        ) {
            @errorGroup(
                field = f("mostTransactionsCountries")
            ) {
                @country(f("mostTransactionsCountries[0]"))
                @country(f("mostTransactionsCountries[1]"))
                @country(f("mostTransactionsCountries[2]"))
            }
        }
        @submit(edit)
    }
}
