@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.most.transactions.title", "summary.msb")
}

@main(
    title = Messages("msb.most.transactions.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    @form(f, controllers.msb.routes.MostTransactionsController.post(edit)) {
        <p>@Messages("lbl.list.upto.3.countries")</p>
        @fieldset(
            legend = "msb.most.transactions.list.countries",
            f = f("mostTransactionsCountries"),
            legendHidden = true,
            panel = false
        ) {
            @country(f("mostTransactionsCountries[0]"))
            @country(f("mostTransactionsCountries[1]"))
            @country(f("mostTransactionsCountries[2]"))
        }
        @submit(edit)
    }
}
