@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.send.money.title", "summary.msb")
}

@main(
    title = Messages("msb.send.money.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    @form(f, controllers.msb.routes.SendMoneyToOtherCountryController.post(edit)) {

        @fieldset(
            f = f("money"),
            legend = "msb.send.money.title",
            legendHidden = true,
            panel = false
        ) {
            @radio(
                f = f("money"),
                labelText = "lbl.yes",
                value = "true",
                inline = true
            )
            @radio(
                f = f("money"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @submit(edit)
    }
}
