@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.send.money.heading", "summary.msb")
}

@main(
    title = Messages("msb.send.money.title"),
    heading = header
) {

    @form(f, controllers.msb.routes.SendMoneyToOtherCountryController.post(edit)) {

        @inlineRadioGroup(f("money")) {
        @legend("msb.send.money.heading", jsHidden = true)
            @radio(f("money"), "lbl.yes", "true")
            @radio(f("money"), "lbl.no", "false")
        }
        @submit(edit)
    }
}
