@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.services.heading", "summary.msb")
}

@main(
    title = Messages("msb.services.title"),
    heading = header
) {

    @form(f, controllers.msb.routes.ServicesController.post(edit)) {

      @radioGroup(f("msbServices")) {
          @legend("msb.services.list.heading")
          @checkbox(f("msbServices[]"), "msb.services.list.lbl.01", "01")
          @checkbox(f("msbServices[]"), "msb.services.list.lbl.02", "02")
          @checkbox(f("msbServices[]"), "msb.services.list.lbl.03", "03")
          @checkbox(f("msbServices[]"), "msb.services.list.lbl.04", "04")
      }

      @submit(edit)

    }
}
