@import include._
@import include.forms2._
@import models.moneyservicebusiness._
@import models.businessmatching._
@import models.Country

@(model: MoneyServiceBusiness, bmMsbServices: Option[MsbServices])(implicit request: Request[_], lang: Lang)

@header = {
    @heading("summary.checkyouranswers.title", "summary.msb")
}

@main(
    title = Messages("summary.msb.checkyouranswers.title"),
    heading = header
) {

    @bmMsbServices.map{ services =>
        @model.throughput.map{ throughput =>
            @checkYourAnswers(
                question = Messages("msb.throughput.heading"),
                editUrl = controllers.msb.routes.ExpectedThroughputController.get(true).toString
            ) {
                <p>@throughput match {
                    case ExpectedThroughput.First =>   {@Messages("msb.throughput.lbl.01")}
                    case ExpectedThroughput.Second =>  {@Messages("msb.throughput.lbl.02")}
                    case ExpectedThroughput.Third =>   {@Messages("msb.throughput.lbl.03")}
                    case ExpectedThroughput.Fourth =>  {@Messages("msb.throughput.lbl.04")}
                    case ExpectedThroughput.Fifth =>   {@Messages("msb.throughput.lbl.05")}
                    case ExpectedThroughput.Sixth =>   {@Messages("msb.throughput.lbl.06")}
                    case ExpectedThroughput.Seventh => {@Messages("msb.throughput.lbl.07")}
                }</p>
            }
        }

        @model.branchesOrAgents.map { boa =>
            @checkYourAnswers(
                question = Messages("msb.branchesoragents.heading"),
                editUrl = controllers.msb.routes.BranchesOrAgentsController.get(true).toString
            ) {
                @boa.branches.fold {
                    <p>@Messages("lbl.no")</p>
                    } { branches =>
                    <ul class="list list--comma">
                        @branches.map { country =>
                        <li>@country</li>
                        }
                    </ul>
                }
            }
        }

        @model.identifyLinkedTransactions.map { ilt =>
            @checkYourAnswers(
                question = Messages("msb.linked.txn.heading"),
                editUrl = controllers.msb.routes.IdentifyLinkedTransactionsController.get(true).toString
            ) {
                <p>@ilt.linkedTxn match {
                    case true => {@Messages("lbl.yes")}
                    case _ => {@Messages("lbl.no")}
                }</p>
            }
        }

        @if(services.services.contains(TransmittingMoney)) {
            @model.businessUseAnIPSP.map { ipsp =>
                @checkYourAnswers(
                    question = Messages("msb.ipsp.heading"),
                    editUrl = controllers.msb.routes.BusinessUseAnIPSPController.get(true).toString
                ) {
                    @ipsp match {
                        case BusinessUseAnIPSPNo => {<p>@Messages("lbl.no")</p>}
                        case BusinessUseAnIPSPYes(name , reference) => {
                        <ul class="list">
                            <li>@Messages("msb.summary.ipsp-name"): @name</li>
                            <li>@Messages("msb.summary.ipsp-registration-number"): @reference</li>
                        </ul>
                        }
                    }
                }
            }

            @model.fundsTransfer.map { ft =>
                @checkYourAnswers(
                    question = Messages("msb.fundstransfer.heading"),
                    editUrl = controllers.msb.routes.FundsTransferController.get(true).toString
                ) {
                    <p>@ft.transferWithoutFormalSystems match {
                        case true => {@Messages("lbl.yes")}
                        case _ => {@Messages("lbl.no")}
                    }</p>
                }
            }

            @model.transactionsInNext12Months.map{ trans =>
                @checkYourAnswers(
                    question = Messages("msb.transactions.expected.heading"),
                    editUrl = controllers.msb.routes.TransactionsInNext12MonthsController.get(true).toString
                ) {
                    <p>@trans.txnAmount</p>
                }
            }

            @model.sendMoneyToOtherCountry.map{ otherCountries =>
                @checkYourAnswers(
                    question = Messages("msb.send.money.heading"),
                    editUrl = controllers.msb.routes.SendMoneyToOtherCountryController.get(true).toString
                ) {
                    <p>@otherCountries.money match {
                        case true => {@Messages("lbl.yes")}
                        case _ => {@Messages("lbl.no")}
                    }</p>
                }

                @if(otherCountries.money) {
                    @model.sendTheLargestAmountsOfMoney.map { lom =>
                        @checkYourAnswers(
                            question = Messages("msb.send.the.largest.amounts.of.money.heading"),
                            editUrl = controllers.msb.routes.SendTheLargestAmountsOfMoneyController.get(true).toString
                        ) {
                            <ul class="list list--comma">
                                @lom.countryList.map { country =>
                                <li>@country.name</li>
                                }
                            </ul>
                        }
                    }

                    @model.mostTransactions.map { mt =>
                        @checkYourAnswers(
                            question = Messages("msb.most.transactions.heading"),
                            editUrl = controllers.msb.routes.MostTransactionsController.get(true).toString
                        ) {
                            <ul class="list list--comma">
                                @mt.countries.map { country =>
                                <li>@country.name</li>
                                }
                            </ul>
                        }
                    }
                }
            }
        }

        @if(services.services.contains(CurrencyExchange)) {
            @model.ceTransactionsInNext12Months.map{ trans =>
                @checkYourAnswers(
                    question = Messages("msb.ce.transactions.expected.in.12.months.heading"),
                    editUrl = controllers.msb.routes.CETransactionsInNext12MonthsController.get(true).toString
                ) {
                    <p>@trans.ceTransaction</p>
                }
            }

            @model.whichCurrencies.map { wc =>
                @checkYourAnswers(
                    question = Messages("msb.which_currencies.heading"),
                    editUrl = controllers.msb.routes.WhichCurrenciesController.get(true).toString
                ) {
                    <ul class="list list--comma">
                        @wc.currencies.map { cur =>
                        <li>@cur</li>
                        }
                    </ul>
                }
                @checkYourAnswers(
                    question = Messages("msb.which_currencies.who"),
                    editUrl = controllers.msb.routes.WhichCurrenciesController.get(true).toString
                ) {
                    <ul class="list">
                    @wc.bankMoneySource.map {bms =>
                        <li>
                            @Messages("msb.which_currencies.source.banks"): @bms.bankNames
                        </li>
                    }
                    @wc.wholesalerMoneySource.map {wms =>
                        <li>
                            @Messages("msb.which_currencies.source.wholesalers"): @wms.wholesalerNames
                        </li>
                    }
                    @if(wc.customerMoneySource) {
                        <li>
                            @Messages("msb.which_currencies.source.customers")
                        </li>
                    }
                    </ul>
                }
            }
        }
    }

    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>
}
