@import include._
@import models.moneyservicebusiness._

@(model: MoneyServiceBusiness)(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.msb")
    @Messages("summary.linetext")

    @model.msbServices.map{ services =>
        <table>
            <tr>
                <th>@Messages("msb.services.heading")</th>
                <td width="12"><a href="@controllers.msb.routes.ServicesController.get(true)">Edit</a></td>
            </tr>
            @services.services.map { svc =>
                <tr>
                    <td colspan="2">
                        @svc match {
                            case TransmittingMoney => {@Messages("msb.services.list.lbl.01")}
                            case CurrencyExchange => {@Messages("msb.services.list.lbl.02")}
                            case ChequeCashingNotScrapMetal => {@Messages("msb.services.list.lbl.03")}
                            case ChequeCashingScrapMetal => {@Messages("msb.services.list.lbl.04")}
                        }
                    </td>
                </tr>
            }
        </table>
    }

    @model.throughput.map{ throughput =>
        <table>
            <tr>
                <th>@Messages("msb.throughput.title")</th>
                <td width="12"><a href="@controllers.msb.routes.ExpectedThroughputController.get(true)">Edit</a></td>
            </tr>

            <tr>
                <td colspan="2">
                    @throughput match {
                        case ExpectedThroughput.First =>   {@Messages("msb.throughput.lbl.01")}
                        case ExpectedThroughput.Second =>  {@Messages("msb.throughput.lbl.02")}
                        case ExpectedThroughput.Third =>   {@Messages("msb.throughput.lbl.03")}
                        case ExpectedThroughput.Fourth =>  {@Messages("msb.throughput.lbl.04")}
                        case ExpectedThroughput.Fifth =>   {@Messages("msb.throughput.lbl.05")}
                        case ExpectedThroughput.Sixth =>   {@Messages("msb.throughput.lbl.06")}
                        case ExpectedThroughput.Seventh => {@Messages("msb.throughput.lbl.07")}
                    }
                </td>
            </tr>
        </table>
    }

    @model.branchesOrAgents.map { boa =>
    <table>
        <tr>
            <th>@Messages("msb.branchesoragents.heading")</th>
            <td width="12"><a href="@controllers.msb.routes.BranchesOrAgentsController.get(true)">Edit</a></td>
        </tr>
        @boa.branches.fold {
            <tr>
                <td colspan="2">
                    @Messages("lbl.no")
                </td>
            </tr>
        } { branches =>
            <tr>
                <td colspan="2">
                    @Messages("lbl.yes")
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @branches.map {country =>
                        @country <br/>
                    }
                </td>
            </tr>
        }

    </table>
    }

    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">@Messages("button.summary.acceptandcomplete")</a>
}
