@import forms.{Form2, ValidField, InvalidField}
@import include._
@import include.forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.transactions.expected.title", "summary.msb")
}

@main(
    title = Messages("msb.transactions.expected.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    @form(f, controllers.msb.routes.TransactionsInNext12MonthsController.post(edit)) {

        @input(
                field = f("txnAmount"),
                labelText = "msb.transactions.expected.title",
                labelHidden = true,
                bold = false
            )

        @submit(edit)
    }
}
