@import forms.{Form2, ValidField, InvalidField}
@import include._
@import include.forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang:Lang,  m: Messages, request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.transactions.expected.title", "summary.msb")
}

@main(
    title = Messages("msb.transactions.expected.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    @form(f, controllers.msb.routes.TransactionsInNext12MonthsController.post(edit)) {

        @input(
            attrMin = "1",
            attrStep = "1",
            attrType = "number",
            bold = false,
            field = f("txnAmount"),
            labelHidden = true,
            labelText = "msb.transactions.expected.title"
        )

        @submit(edit)
    }
}
