@import include._
@()(implicit request: Request[_])

@sidebar = {
    <div class="bevel-container">
        <h3 class="heading-small">@Messages("msb.whomustregister.sidebar.title")</h3>
        <p>@Messages("msb.whomustregister.sidebar.information")</p>
    </div>
}

@main(
    title = Messages("msb.whatyouneed.title"),
    sidebar = sidebar
) {

    @heading("msb.whatyouneed.heading", "summary.msb")

    <p>@Messages("msb.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("msb.whatyouneed.line_1")</li>
        <li>@Messages("msb.whatyouneed.line_2")</li>
        <li>@Messages("msb.whatyouneed.line_3")</li>
        <li>@Messages("msb.whatyouneed.line_4")</li>
        <li>@Messages("msb.whatyouneed.line_5")</li>
        <li>@Messages("msb.whatyouneed.line_6")</li>
        <li>@Messages("msb.whatyouneed.line_7")</li>
        <li>@Messages("msb.whatyouneed.line_8")</li>
    </ul>

    <p>@Messages("msb.whatyouneed.possiblerequiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_1")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_2")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_3")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_4")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_5")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_6")</li>
    </ul>

    <div class="form-field">
        <a class="button" href="@controllers.msb.routes.WhatYouNeedController.get()">
            @Messages("button.continue")
        </a>
    </div>
}
