@import include._
@()(implicit request: Request[_])

@header = {
    @heading("title.wyn", "summary.msb")
}

@whatyouneed(
    title = Messages("title.wyn") + " - " + Messages("summary.msb"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("msb.whatyouneed.requiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("msb.whatyouneed.line_1")</li>
        <li>@Messages("msb.whatyouneed.line_2")</li>
        <li>@Messages("msb.whatyouneed.line_3")</li>
        <li>@Messages("msb.whatyouneed.line_4")</li>
        <li>@Messages("msb.whatyouneed.line_5")</li>
        <li>@Messages("msb.whatyouneed.line_6")</li>
        <li>@Messages("msb.whatyouneed.line_7")</li>
        <li>@Messages("msb.whatyouneed.line_8")</li>
    </ul>

    <p>@Messages("msb.whatyouneed.possiblerequiredinfo.heading")</p>

    <ul class="list list-bullet">
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_1")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_2")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_3")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_4")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_5")</li>
        <li>@Messages("msb.whatyouneed.possiblerequiredinfo.line_6")</li>
    </ul>

    <div class="form-group">
        <a class="button" role="button" href="@controllers.msb.routes.ExpectedThroughputController.get()">
            @Messages("button.continue")<span class="visuallyhidden"> @Messages("summary.msb")</span>
        </a>
    </div>

}

@sidebar = {
    <div class="user-attention">
        <h2>@Messages("main.sidebar.title")</h2>
        <p>@Messages("main.sidebar.information")</p>
    </div>
}
