@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages)

@header = {
    @errorSummary(f)
    @heading("msb.which_currencies.title", "summary.msb")
}

@main(
    title = Messages("msb.which_currencies.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    @form(f, controllers.msb.routes.WhichCurrenciesController.post(edit)) {

        @fieldset(
            legend = "msb.which_currencies.title",
            legendHidden = true,
            panel = false,
            classes = Seq("form-field-group-end"),
            hint = "msb.which_currencies.uptoThree.hint",
            f = f("currencies-fieldset")
        ) {
            @errorGroup(f("currencies")) {
                @currency(field=f("currencies[0]"))
                @currency(field=f("currencies[1]"), requiredField = false)
                @currency(field=f("currencies[2]"), requiredField = false)
            }
        }

    @if(config.ApplicationConfig.release7) {

        @fieldset(
            legend = Messages("msb.which_currencies.foreign_currencies_question"),
            panel = false,
            f = f("redundantvalue")
        ) {

            @errorGroup(f("usesForeignCurrencies")) {
                @radio(
                    f = f("usesForeignCurrencies"),
                    labelText = "lbl.yes",
                    value = "Yes",
                    target = "#usesForeignCurrency-fieldset",
                    inline = true )

                @radio(
                    f = f("usesForeignCurrencies"),
                    labelText = "lbl.no",
                    value = "No",
                    inline = true )
            }

            @panel(
                field = Some(f("usesForeignCurrency-fieldset")),
                jsHidden = false
            ) {
                @panelContents
            }
        }

    } else {
        @panelContents
    }

    @submit()

    }
}

@panelContents = {
    <h2 class="heading-medium">@Messages("msb.which_currencies.who")</h2>
    <span class="form-hint">@Messages("lbl.select.all")</span>

    @errorGroup(
        field = f("WhoWillSupply")
    ) {
        @checkbox(
            f = f("bankMoneySource"),
            labelText = "msb.which_currencies.source.banks",
            value = "Yes",
            target = ".form-group:has(#bankNames)"
        )
        @input(
            field = f("bankNames"),
            labelText = "msb.which_currencies.source.which_banks",
            panel = true,
            jsHidden = true
        )
        @checkbox(
            f = f("wholesalerMoneySource"),
            labelText = "msb.which_currencies.source.wholesalers",
            value = "Yes",
            target = ".form-group:has(#wholesalerNames)"
        )
        @input(
            field = f("wholesalerNames"),
            labelText = "msb.which_currencies.source.which_wholesalers",
            panel = true,
            jsHidden = true
        )
        @checkbox(
            f = f("customerMoneySource"),
            labelText = "msb.which_currencies.source.customers",
            value = "Yes"
        )
    }
}
