@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("msb.which_currencies.title", "summary.msb")
}

@main(
    title = Messages("msb.which_currencies.title") + " - " + Messages("summary.msb"),
    heading = header
) {

    @form(f, controllers.msb.routes.WhichCurrenciesController.post(edit)) {

    @fieldset(
        legend = "msb.which_currencies.title",
        legendHidden = true,
        panel = false,
        classes = Seq("form-field-group-end"),
        hint = "msb.which_currencies.uptoThree.hint",
        f = f("currencies-fieldset")
    )   {
        @errorGroup(f("currencies")) {
        @currency(field=f("currencies[0]"))
        @currency(field=f("currencies[1]"), requiredField = false)
        @currency(field=f("currencies[2]"), requiredField = false)
        }
    }



        @fieldset(
            legend = "msb.which_currencies.who",
            panel = false,
            bold = false,

            classes = Seq("form-field-group-end"),
            hint = "lbl.select.all",
            f = f("WhoWillSupply-fieldset")
        ) {
            @errorGroup(f("WhoWillSupply")) {

                @checkbox(f("bankMoneySource"),
                    "msb.which_currencies.source.banks",
                    "Yes",
                    target = ".form-group:has(#bankNames)")
                    @fieldset(
                        legend = "msb.which_currencies.source.which_banks",
                        panel = false,
                        classes = Seq("form-group visuallyhidden-legend"),
                        f = f("bankNames-fieldset")
                    ) {
                        @input(f("bankNames"),
                            labelText = "msb.which_currencies.source.which_banks",
                            panel = true,
                            jsHidden = true)

                    }

                @checkbox(f("wholesalerMoneySource"),
                    "msb.which_currencies.source.wholesalers",
                    "Yes",
                    target = ".form-group:has(#wholesalerNames)")
                    @fieldset(
                        legend = "msb.which_currencies.source.which_wholesalers",
                        panel = false,
                        classes = Seq("form-group visuallyhidden-legend"),
                        f = f("wholesalerNames-fieldset")
                    ) {
                        @input(f("wholesalerNames"),
                            labelText = "msb.which_currencies.source.which_wholesalers",
                            panel = true,
                            jsHidden = true)
                    }
                @checkbox(f("customerMoneySource"),
                    "msb.which_currencies.source.customers",
                    "Yes")
                }
            }


        @submit()
    }
}
