@import config.{ApplicationConfig => appConfig, CachedStaticHtmlPartialProvider}
@import layouts.{govuk_template => hmrcGovUkTemplate}
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}

@(
    sectionTitle: Option[String] = None,
    title: String,
    mainClass: Option[String] = None,
    mainDataAttributes: Option[Html] = None,
    bodyClasses: Option[String] = None,
    sidebar: Html = HtmlFormat.empty,
    contentHeader: Html = HtmlFormat.empty,
    scriptElem: Option[Html] = None,
    linkElement : Option[Html] = None,
    nameBusiness : Option[String] = None,
    serviceInfoContent: Option[Html] = None
)(mainContent: Html = HtmlFormat.empty)(implicit request: Request[_])

@styles = {
    <link href="assets/amls.css" rel="stylesheet" type="text/css"/>
    @linkElement
}

@head = {
    @uiLayouts.head(
        assetsPrefix = appConfig.assetsPrefix,
        linkElem = Some(styles),
        headScripts = None
    )
    <meta name="format-detection" content="telephone=no" />
}

@scripts = {
    <script src="assets/amls.js"></script>
    @scriptElem
}

@logoutLink = {}

@insideHeader = {
    @uiLayouts.header_nav(
        navTitle = Some(Messages("amls.title")),
        navTitleLink = None,
        showBetaLink = false,
        navLinks = Some(Html("<li><a id=\"logOutNavHref\" href=\"\">Sign out</a></li>"))
    )
}

@afterHeader = {}

@bodyEnd = {
    @uiLayouts.footer(
        analyticsToken = appConfig.analyticsToken,
        analyticsHost = appConfig.analyticsHost,
        assetsPrefix = appConfig.assetsPrefix,
        ssoUrl = None,
        scriptElem = Some(scripts),
        gaCalls = None
    )
}

@footerTop = {}
@footerLinks = {}

@betaBanner = {
    @uiLayouts.betaBanner(
        // TODO: determine what this should be
        userLoggedIn = true,
        betaFeedbackUrl = appConfig.betaFeedbackUrl,
        betaFeedbackUnauthenticatedUrl = appConfig.betaFeedbackUnauthenticatedUrl,
        showFeedbackLinkInBetaBanner = true
    )
}

@serviceInfo = {
    @uiLayouts.serviceInfo(
        betaBanner = betaBanner,
        includeGridWrapper = false,
        serviceInfoContent = serviceInfoContent
    )
}

@defaultHeading = {
    <h1 class="heading-large" >@title</h1>
}

@mainContentHeader = {
    @contentHeader
    @sectionTitle.fold(defaultHeading) { sectionTitle =>
        <h1 class="heading-large">
            <span class="heading-secondary">
               @sectionTitle
            </span>
        @title
        </h1>
    }
}

@getHelpForm = {
    @config.CachedStaticHtmlPartialProvider.getPartialContent(appConfig.reportAProblemUrl)
}

@content = {
    @uiLayouts.main_content(
        article = mainContent,
        mainClass = mainClass,
        mainDataAttributes = mainDataAttributes,
        mainContentHeader = mainContentHeader,
        serviceInfo = serviceInfo,
        getHelpForm = getHelpForm,
        sidebar = sidebar
    )
}

@hmrcGovUkTemplate(
    Some(title),
    bodyClasses
)(
    head,
    bodyEnd,
    insideHeader,
    afterHeader,
    footerTop,
    Some(uiLayouts.footer_links()),
    true
)(content)