@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@header = {
    @heading("aboutthebusiness.activity.start.date.title", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.activity.start.date.title"),
    heading = header
) {

    @Messages("aboutthebusiness.activity.start.date.text")

    @form(f, controllers.aboutthebusiness.routes.ActivityStartDateController.post(edit)) {

        @date(
            f = f,
            p = "startDate",
            labelText = "",
            hintText = "",
            true
        )

        @submit(edit)
    }
}
