@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@header = {
    @errorSummary(f)
    @heading("aboutthebusiness.activity.start.date.title", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.activity.start.date.title") + " - " + Messages("summary.aboutbusiness"),
    heading = header
) {

    <p>@Messages("aboutthebusiness.activity.start.date.text")</p>

    @form(f, controllers.aboutthebusiness.routes.ActivityStartDateController.post(edit)) {

        @date(
            f = f,
            p = "startDate",
            labelText = "aboutthebusiness.activity.start.date.title",
            example = true,
            legendHidden = true
        )

        @submit(false)
    }
}
