@import forms.Form2
@import include.{main, heading, registered_office_helper}
@import include.forms2._
@import models.aboutthebusiness._

@(f: Form2[_], model: RegisteredOffice, edit: Boolean = false)(implicit request: Request[_], lang: Lang)

@header = {
    @errorSummary(f)
    @heading("aboutthebusiness.confirmingyouraddress.title", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.confirmingyouraddress.title") + " - " + Messages("summary.aboutbusiness"),
    heading = header
) {

    @form(f, controllers.aboutthebusiness.routes.ConfirmRegisteredOfficeController.post(edit)) {

        @registered_office_helper(model)

        <div class="form-field">
        @inlineRadioGroup(f("isRegOfficeOrMainPlaceOfBusiness")) {
            @legend("aboutthebusiness.confirmingyouraddress.title", jsHidden = true)
            @radio(f("isRegOfficeOrMainPlaceOfBusiness"), "lbl.yes", "true")
            @radio(f("isRegOfficeOrMainPlaceOfBusiness"), "lbl.no", "false")
        }
        </div>

        @submit(edit)
    }
}
