@import forms.Form2
@import include._
@import include.forms2._
@import models.aboutthebusiness._

@(f: Form2[_], model: RegisteredOffice, edit: Boolean)(implicit request: Request[_], lang:Lang)

@header = {
    @heading("aboutthebusiness.contactingyou.heading", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.contactingyou.title"),
    heading = header
) {

    <p>@Messages("aboutthebusiness.contactingyou.lbl")</p>

    @form(f, controllers.aboutthebusiness.routes.ContactingYouController.post(edit)) {

        <div class="form-field-group">
        @input(
            field = f("phoneNumber"),
            labelText = Messages("aboutthebusiness.contactingyou.phone.lbl")
        )

        @input(
            field = f("email"),
            labelText = Messages("aboutthebusiness.contactingyou.email.lbl")
        )
        </div>


        @registered_office_helper(model)

        <div class="form-field">
            <span class="form-label">@Messages("aboutthebusiness.contactingyou.sendletter.lbl")</span>
            @inlineRadioGroup(f("letterToThisAddress")) {
                @legend("aboutthebusiness.contactingyou.sendletter.lbl", jsHidden = true)
                @radio(f("letterToThisAddress"), "lbl.yes", "true")
                @radio(f("letterToThisAddress"), "lbl.no", "false")
            }
        </div>

        @submit()
    }
}
