@import forms.Form2
@import include._
@import forms2._
@import models.aboutthebusiness._

@(f: Form2[_], model: RegisteredOffice, edit: Boolean)(implicit request: Request[_], lang:Lang)

@header = {
    @errorSummary(f)
    @heading("aboutthebusiness.contactingyou.title", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.contactingyou.title") + " - " + Messages("summary.aboutbusiness"),
    heading = header
) {

    <p>@Messages("aboutthebusiness.contactingyou.lbl")</p>

    @form(f, controllers.aboutthebusiness.routes.ContactingYouController.post(edit)) {

        @fieldset(
            f = f("contactingyou-fieldset"),
            legend = "aboutthebusiness.contactingyou.title",
            legendHidden = true,
            panel = false
        ) {
            @input(
                field = f("email"),
                labelText = "aboutthebusiness.contactingyou.email.lbl",
                hintText = "aboutthebusiness.contactingyou.email.hint"
            )

            @input(
                field = f("phoneNumber"),
                labelText = "aboutthebusiness.contactingyou.phone.lbl",
                hintText = "aboutthebusiness.contactingyou.phone.hint"
            )

        }

        @registered_office_helper(model)

        @fieldset(
            f = f("letterToThisAddress"),
            legend = "aboutthebusiness.contactingyou.sendletter.lbl",
            panel = false
        ) {
            @radio(
                f = f("letterToThisAddress"),
                labelText = "lbl.yes",
                value = "true",
                inline = true
            )
            @radio(
                f = f("letterToThisAddress"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @submit()
    }
}
