@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{
    s"""${f("corporationTaxReference").id}-fieldset"""
}

@header = {
    @errorSummary(f)
    @heading("aboutthebusiness.registeredforcorporationtax.title", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.registeredforcorporationtax.title") + " - " + Messages("summary.aboutbusiness"),
    heading = header
) {

    @form(f, controllers.aboutthebusiness.routes.CorporationTaxRegisteredController.post(edit)) {

        @fieldset(
            f = f("registeredForCorporationTax"),
            legend = "aboutthebusiness.registeredforcorporationtax.title",
            legendHidden = true,
            panel = false
        ) {
            @radio(
                f = f("registeredForCorporationTax"),
                labelText = "lbl.yes",
                value = "true",
                target = s"#$target",
                inline = true
            )
            @radio(
                f = f("registeredForCorporationTax"),
                labelText = "lbl.no",
                value = "false",
                inline = true
            )
        }

        @fieldset(
            f = f("corporationTaxReference-fieldset"),
            legend = "aboutthebusiness.registeredforcorporationtax.taxReference",
            legendHidden = true,
            jsHidden = true,
            id = target
        ) {
            @input(
                field = f("corporationTaxReference"),
                labelText = "aboutthebusiness.registeredforcorporationtax.taxReference",
                hintText = "aboutthebusiness.registeredforcorporationtax.taxReferenceHint",
                bold = false
            )
        }

        @submit(edit)
    }
}
