@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages)

@target = @{
    s"""${f("corporationTaxReference").id}-panel"""
}

@header = {
    @errorSummary(f)
    @heading("aboutthebusiness.registeredforcorporationtax.title", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.registeredforcorporationtax.title") + " - " + Messages("summary.aboutbusiness"),
    heading = header
) {

    @form(f, controllers.aboutthebusiness.routes.CorporationTaxRegisteredController.post(edit)) {

        @fieldset(
            f = f("registeredforcorporationtax-fieldset"),
            legend = "aboutthebusiness.registeredforcorporationtax.title",
            legendHidden = true,
            panel = false
        ) {

             @errorGroup(
                field = f("registeredForCorporationTax")
            ) {

                @radio(
                    f = f("registeredForCorporationTax"),
                    labelText = "lbl.yes",
                    value = "true",
                    inline = true,
                    target = s".$target"
                )
                @radio(
                    f = f("registeredForCorporationTax"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @panel(
            field = Some(f(s"$target")),
            classes = Seq(s"$target"),
            jsHidden = false
        ) {
            @input(
                field = f("corporationTaxReference"),
                labelText = "aboutthebusiness.registeredforcorporationtax.taxReference",
                hintText = "aboutthebusiness.registeredforcorporationtax.taxReferenceHint",
                bold = false,
                //classes = Seq("form-control-1-4 form-control-1-4"), // yes, twice to override shady asset library nonsense *facepalm*
                attrType = "tel",
                attrMaxlength = "10",
                attrPattern = "[0-9]{1,10}"
            )
        }

        @submit(edit)
    }
}
