@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages)

@target = @{
    s"""${f("prevMLRRegNo").id}-panel"""
}

@header = {
    @errorSummary(f)
    @heading("aboutthebusiness.registeredformlr.title", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.registeredformlr.title") + " - " + Messages("summary.aboutbusiness"),
    heading = header
) {

    <p class="form-hint">@Messages("aboutthebusiness.registeredformlr.lbl")</p>

    @form(f, controllers.aboutthebusiness.routes.PreviouslyRegisteredController.post(edit)) {

        @fieldset(
            legend = "aboutthebusiness.registeredformlr.title",
            legendHidden = true,
            panel = false,
            f = f("previouslyRegistered-fieldset")
        ) {

            @errorGroup(
                field = f("previouslyRegistered")
            ) {

                @radio(
                    f = f("previouslyRegistered"),
                    labelText = "lbl.yes",
                    value = "true",
                    target = s"#$target",
                    inline = true)
                @radio(
                    f = f("previouslyRegistered"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @panel(
            field = Some(f(s"$target")),
            jsHidden = false,
            id = target
        ) {
            @input(
                field = f("prevMLRRegNo"),
                labelText = "aboutthebusiness.registeredformlr.mlrregno.lbl",
                hintText = "aboutthebusiness.registeredformlr.taxReferenceHint",
                bold = false,
                // classes = Seq("form-control-1-4 form-control-1-4"), // yes, twice to override shady asset library nonsense *facepalm*
                attrType = "tel",
                attrMaxlength = "8",
                attrPattern = "[0-9]{1,8}"
            )
        }

        @submit(false)
    }
}
