@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{
    s"""${f("prevMLRRegNo").id}-fieldset"""
}

@main(
    title = Messages("aboutthebusiness.registeredformlr.title")
) {

    @heading("aboutthebusiness.registeredformlr.title", "summary.aboutbusiness")

    <p>@Messages("aboutthebusiness.registeredformlr.lbl")</p>

    @form(f, controllers.aboutthebusiness.routes.PreviouslyRegisteredController.post(edit)) {

        @inlineRadioGroup(f("previouslyRegistered")) {
            @legend("TODO", jsHidden = true)
            @radio(f("previouslyRegistered"), "lbl.yes", "true", target = s"#$target")
            @radio(f("previouslyRegistered"), "lbl.no", "false")
            @fieldset("TODO", jsHidden = true, id = target) {
                @input(f("prevMLRRegNo"),
                        "aboutthebusiness.registeredformlr.mlrregno.lbl",
                        hintText = "aboutthebusiness.registeredformlr.taxReferenceHint",
                        bold = false)
            }
        }

        @submit(edit)
    }
}
