@import include._
@import models.aboutthebusiness._
@import utils._

@(model: AboutTheBusiness)(implicit request: Request[_], lang: Lang)

@header = {
    @heading("summary.checkyouranswers.heading", "summary.aboutbusiness")
}

@main(
    title = Messages("summary.aboutbusiness.checkyouranswers.title"),
    heading = header
) {

    <table class="table--spaced-top">
        <tr>
            <th>@Messages("aboutthebusiness.registeredformlr.heading")</th>
            <td width="12"><a href="@controllers.aboutthebusiness.routes.PreviouslyRegisteredController.get(true)">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            <td colspan="2">
                @model.previouslyRegistered.map {
                case PreviouslyRegisteredNo => { @Messages("lbl.no") }
                case PreviouslyRegisteredYes(v) => { @Messages("lbl.yes") }
                }
            </td>
        </tr>
        @model.previouslyRegistered.map {
            case PreviouslyRegisteredNo => { }
            case PreviouslyRegisteredYes(v) => {
            <tr>
                <td colspan="2">
                    @v
                </td>
            </tr>
            }
        }

    </table>

    @model.activityStartDate.map { activityStartDate =>
    <table class="table--spaced-top">
        <tr>
            <th>@Messages("aboutthebusiness.activity.start.date.heading")</th>
            <td width="12"><a href="@controllers.aboutthebusiness.routes.ActivityStartDateController.get(true)">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            <td colspan="2">
                @Messages("lbl.start.date") @DateHelper.formatDate(activityStartDate.startDate)
            </td>
        </tr>
    </table>
    }

    @model.vatRegistered.map { vatRegistered =>
    <table class="table--spaced-top">
        <tr>
            <th>@Messages("aboutthebusiness.registeredforvat.heading")</th>
            <td width="12"><a href="@controllers.aboutthebusiness.routes.VATRegisteredController.get(true)">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            <td colspan="2">
                @vatRegistered match {
                case VATRegisteredNo => { @Messages("lbl.no") }
                case VATRegisteredYes(v) => { @Messages("lbl.yes") }
                }
            </td>
        </tr>

        @vatRegistered match {
        case VATRegisteredNo => { }
        case VATRegisteredYes(v) => {
        <tr>
            <td colspan="2">
                @Messages("lbl.vat.reg.number") @v
            </td>
        </tr>
        }
        }
    </table>
    }

    @model.corporationTaxRegistered.map { ctRegistered =>
    <table class="table--spaced-top ">
        <tr>
            <th>@Messages("aboutthebusiness.registeredforcorporationtax.heading")</th>
            <td width="12"><a href="@controllers.aboutthebusiness.routes.CorporationTaxRegisteredController.get(true)">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            <td colspan="2">
                @ctRegistered match {
                case CorporationTaxRegisteredNo => { @Messages("lbl.no") }
                case CorporationTaxRegisteredYes(v) => { @Messages("lbl.yes") }
                }
            </td>
        </tr>

        @ctRegistered match {
        case CorporationTaxRegisteredNo => { }
        case CorporationTaxRegisteredYes(v) => {
        <tr>
            <td colspan="2">
                @v
            </td>
        </tr>
        }
        }

    </table>
    }
    @model.registeredOffice.map { a =>
        <table>
            <tr>
                <th>@Messages("aboutthebusiness.registeredoffice.heading")</th>
                <td width="12"><a href="@controllers.aboutthebusiness.routes.RegisteredOfficeController.get(true)">@Messages("button.edit")</a></td>
            </tr>
            <tr>
                <td colspan="2">
                    @a.toLines.map { line =>
                        @line<br/>
                    }
                </td>
            </tr>
        </table>
    }

    @model.contactingYou.map { c =>
        <table class="table--spaced-top">
            <tr>
                <th class="">@Messages("aboutthebusiness.contactingyou.heading")</th>
                <td width="12"><a href="@controllers.aboutthebusiness.routes.ContactingYouController.get(true)">@Messages("button.edit")</a></td>
            </tr>
            <tr>
                <td colspan="2">@c.phoneNumber</td>
            </tr>
            <tr>
                <td colspan="2">@c.email</td>
            </tr>
            @model.correspondenceAddress.map { ca =>
                <tr>
                    <td colspan="2">
                        @ca.toLines.map { line =>
                            @line<br/>
                        }
                    </td>
                </tr>
            }
        </table>
    }



    <a class="button" href="@controllers.routes.RegistrationProgressController.get()">Accept and complete section</a>
}
