@import include._
@import forms2._
@import models.aboutthebusiness._
@import utils._

@(model: AboutTheBusiness)(implicit request: Request[_],m:Messages, lang: Lang)

@header = {
    @heading("title.cya", "summary.aboutbusiness")
}

@main(
    title = Messages("title.cya") + " - " + Messages("summary.aboutbusiness"),
    heading = header
) {

    @checkYourAnswers(
        question = Messages("aboutthebusiness.registeredformlr.title"),
        editUrl = controllers.aboutthebusiness.routes.PreviouslyRegisteredController.get(true).toString
    ) {
        <p>@model.previouslyRegistered.map {
            case PreviouslyRegisteredNo => { @Messages("lbl.no") }
            case PreviouslyRegisteredYes(v) => { @Messages("aboutthebusiness.registeredformlr.mlrregno.lbl"): @v }
        }</p>
    }

    @model.activityStartDate.map { activityStartDate =>
        @checkYourAnswers(
            question = Messages("aboutthebusiness.activity.start.date.title"),
            editUrl = controllers.aboutthebusiness.routes.ActivityStartDateController.get(true).toString
        ) {
            <p>@Messages("lbl.start.date") @DateHelper.formatDate(activityStartDate.startDate)</p>
        }
    }

    @model.vatRegistered.map { vatRegistered =>
        @checkYourAnswers(
            question = Messages("aboutthebusiness.registeredforvat.title"),
            editUrl = controllers.aboutthebusiness.routes.VATRegisteredController.get(true).toString
        ) {
            <p>@vatRegistered match {
                case VATRegisteredNo => { @Messages("lbl.no") }
                case VATRegisteredYes(v) => { @Messages("lbl.vat.reg.number") @v }
            }</p>
        }
    }

    @model.corporationTaxRegistered.map { ctRegistered =>
        @checkYourAnswers(
            question = Messages("aboutthebusiness.registeredforcorporationtax.title"),
            editUrl = controllers.aboutthebusiness.routes.CorporationTaxRegisteredController.get(true).toString
        ) {
            <p>@ctRegistered match {
                case CorporationTaxRegisteredNo => { @Messages("lbl.no") }
                case CorporationTaxRegisteredYes(v) => { @Messages("aboutthebusiness.registeredforcorporationtax.taxReference"): @v }
            }</p>
        }
    }

    @model.registeredOffice.map { a =>
        @checkYourAnswers(
            question = Messages("aboutthebusiness.registeredoffice.title"),
            editUrl = controllers.aboutthebusiness.routes.RegisteredOfficeController.get(true).toString
        ) {
            <p>@a.toLines.map { line =>
                @line<br />
            }</p>
        }

    }

    @model.contactingYou.map { c =>
        @checkYourAnswers(
            question = Messages("aboutthebusiness.contactingyou.title"),
            editUrl = controllers.aboutthebusiness.routes.ContactingYouController.get(true).toString
        ) {
            <ul class="list">
                <li>@Messages("aboutthebusiness.contactingyou.phone.lbl"): @c.phoneNumber</li>
                <li>@Messages("aboutthebusiness.contactingyou.email.lbl"): @c.email</li>
            </ul>
        }
    @model.correspondenceAddress.map { ca =>
        @checkYourAnswers(
            question = Messages("aboutthebusiness.correspondenceaddress.postal.address"),
            classes = Seq("check-your-answers__last"),
            editUrl = controllers.aboutthebusiness.routes.CorrespondenceAddressController.get(true).toString
        ) {
            <p>@ca.toLines.map { line =>
                    @line<br />
                }
            }</p>
        }
    }

    @anchor(
        attrHref = controllers.routes.RegistrationProgressController.get().toString,
        attrRole = true,
        linkText = Messages("button.checkyouranswers.acceptandcomplete")
    )
}
