@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{
    s"""${f("vrnNumber").id}-fieldset"""
}

@header = {
    @heading("aboutthebusiness.registeredforvat.heading", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.registeredforvat.title"),
    heading = header
) {

    @form(f, controllers.aboutthebusiness.routes.VATRegisteredController.post(edit)) {

        @inlineRadioGroup(f("registeredForVAT")) {
            @legend("aboutthebusiness.registeredforvat.title", jsHidden = true)
            @radio(f("registeredForVAT"), "lbl.yes", "true", target = s"#$target")
            @radio(f("registeredForVAT"), "lbl.no", "false")
            @fieldset("", jsHidden = true, id = target) {
                @input(f("vrnNumber"),
                    "aboutthebusiness.registeredforvat.lbl.vatNumber",
                    hintText = "aboutthebusiness.registeredforvat.lbl.vatNumber.hint",
                    bold = false)
            }
        }

        @submit(false)
    }
}
