@import include._
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_],m:Messages)

@target = @{
    s"""${f("vrnNumber").id}-panel"""
}

@header = {
    @errorSummary(f)
    @heading("aboutthebusiness.registeredforvat.title", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.registeredforvat.title") + " - " + Messages("summary.aboutbusiness"),
    heading = header
) {

    @form(f, controllers.aboutthebusiness.routes.VATRegisteredController.post(edit)) {

        @fieldset(
            f = f("redundantvalue"),
            legend = "aboutthebusiness.registeredforvat.title",
            legendHidden = true,
            panel = false
        ) {

            @errorGroup(
                field = f("registeredForVAT")
            ) {
                @radio(
                    f = f("registeredForVAT"),
                    labelText = "lbl.yes",
                    value = "true",
                    target = s"#$target",
                    inline = true
                )
                @radio(
                    f = f("registeredForVAT"),
                    labelText = "lbl.no",
                    value = "false",
                    inline = true
                )
            }
        }

        @panel(
            field = Some(f(s"$target")),
            jsHidden = false,
            id = target
        ) {
            @input(
                field = f("vrnNumber"),
                labelText = "aboutthebusiness.registeredforvat.lbl.vatNumber",
                hintText = "aboutthebusiness.registeredforvat.lbl.vatNumber.hint",
                bold = false,
                attrType = "tel",
                attrMaxlength = "9"
            )
        }

        @submit(false)
    }
}
