@import include._
@import forms2._
@()(implicit request: Request[_],m:Messages)

@header = {
    @heading("title.wyn", "summary.aboutbusiness")
}

@whatyouneed(
    title = Messages("title.wyn") + " - " + Messages("summary.aboutbusiness"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("aboutthebusiness.whatyouneed.subheading")</p>

    <ul class="list list-bullet">
        <li>@Messages("aboutthebusiness.whatyouneed.line_1")</li>
        <li>@Messages("aboutthebusiness.whatyouneed.line_2")</li>
        <li>@Messages("aboutthebusiness.whatyouneed.line_3")</li>
        <li>@Messages("aboutthebusiness.whatyouneed.line_4")</li>
    </ul>


    @anchor(
        attrHref = controllers.aboutthebusiness.routes.PreviouslyRegisteredController.get().toString,
        attrRole = true,
        linkText = Messages("button.continue"),
        visuallyhidden = Messages("summary.aboutbusiness")
    )

}

@sidebar = {
    <div class="user-attention">
        <h2 class="heading-small">@Messages("main.sidebar.title")</h2>
        <p>@Messages("main.sidebar.information")</p>
    </div>
}