@import include._
@()(implicit request: Request[_])

@sidebar = {
<div class="user-attention">
    <h3>@Messages("aboutthebusiness.sidebar.title")</h3>
    <p>@Messages("aboutthebusiness.sidebar.information")</p>
</div>
}

@header = {
    @heading("aboutthebusiness.whatyouneed.heading", "summary.aboutbusiness")
}

@main(
    title = Messages("aboutthebusiness.whatyouneed.title"),
    heading = header,
    sidebar = sidebar
) {

    <p>@Messages("aboutthebusiness.whatyouneed.subheading")</p>

    <ul class="list list-bullet">
        <li>@Messages("aboutthebusiness.whatyouneed.line_1")</li>
        <li>@Messages("aboutthebusiness.whatyouneed.line_2")</li>
        <li>@Messages("aboutthebusiness.whatyouneed.line_3")</li>
        <li>@Messages("aboutthebusiness.whatyouneed.line_4")</li>
    </ul>

    <p>@Messages("aboutthebusiness.whatyouneed.subheading_2")</p>

    <ul class="list list-bullet">
        <li>@Messages("aboutthebusiness.whatyouneed.line_5")</li>
        <li>@Messages("aboutthebusiness.whatyouneed.line_6")</li>
        <li>@Messages("aboutthebusiness.whatyouneed.line_7")</li>
        <li>@Messages("aboutthebusiness.whatyouneed.line_8")</li>
    </ul>

    <div class="form-field">
        <a class="button" href="@controllers.aboutthebusiness.routes.PreviouslyRegisteredController.get()">
            @Messages("button.continue")
        </a>
    </div>

}
