$govuk-assets-path: "/agent/assets/lib/govuk-frontend/govuk/assets/";
@import "lib/govuk-frontend/govuk/base";

.registration-status-tag {
  float: right;
}

.autocomplete__wrapper {
  width: 66.66%;
}