$govuk-assets-path: "/agent/assets/lib/govuk-frontend/dist/govuk/assets/";
@import "lib/govuk-frontend/dist/govuk/base";

$govuk-new-organisation-colours: true

.registration-status-tag {
  float: right;
}

.autocomplete__wrapper {
  width: 66.66%;
}

#currency-autocomplete-0, #currency-autocomplete-0__listbox {
  width: 25%
}

#currency-autocomplete-1, #currency-autocomplete-1__listbox {
  width: 25%
}

#currency-autocomplete-2, #currency-autocomplete-2__listbox {
  width: 25%
}

div.currencies-autocomplete-wrapper > div.govuk-form-group > div > div.autocomplete__wrapper > span > input.autocomplete__hint {
  width: 25%
}

.registration-background-grey {
    background-color: #f3f2f1;
    display: flex;
    flex-direction: column;

}

.border-white {
        border-right: 15px solid white;
        border-left: 15px solid white;
    }

@media (min-width: 641px) {
    .govuk-grid-row {
        display: flex;
    }

    .govuk-grid-column-one-third {
        flex: 1;
    }
    .border-white {
        border-right: 20px solid white;
    }
}