@import include._
@import models.aboutyou._

@(model: AboutYou)(implicit request: Request[_])

@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.aboutyou")

    @model.roleWithinBusiness.map { role =>
        <table>
            <tr>
                <th class="summary-title">@Messages("aboutyou.rolewithinbusiness.title")</th>
                <td><a href="@controllers.aboutyou.routes.RoleWithinBusinessController.get(true)">@Messages("button.edit")</a></td>
            </tr>
            <tr>
                <td colspan="2">
                    @role match {
                        case BeneficialShareholder => { @Messages("aboutyou.rolewithinbusiness.lbl.01") }
                        case Director => { @Messages("aboutyou.rolewithinbusiness.lbl.02") }
                        case ExternalAccountant => { @Messages("aboutyou.rolewithinbusiness.lbl.03") }
                        case InternalAccountant => { @Messages("aboutyou.rolewithinbusiness.lbl.04") }
                        case NominatedOfficer => { @Messages("aboutyou.rolewithinbusiness.lbl.05") }
                        case Partner => { @Messages("aboutyou.rolewithinbusiness.lbl.06") }
                        case SoleProprietor => { @Messages("aboutyou.rolewithinbusiness.lbl.07") }
                        case Other(value) => { @value }
                    }
                </td>
            </tr>
        </table>
    }

    @model.yourDetails.map { yourDetails =>
        <table>
            <tr>
                <th class="summary-title">@Messages("aboutyou.yourdetails.title")</th>
                <td><a href="@controllers.aboutyou.routes.YourDetailsController.get(true)">@Messages("button.edit")</a></td>
            </tr>
            <tr>
                <td colspan="2">
                    @Seq(
                        Some(yourDetails.firstName),
                        yourDetails.middleName,
                        Some(yourDetails.lastName)
                    ).flatten.mkString(" ")
                </td>
            </tr>
        </table>
    }

    <a class="button" href="@controllers.routes.MainSummaryController.onPageLoad()">Accept and complete section</a>
}