@import helper._
@(loginDetailsForm: Form[models.LoginDetails])(implicit request:Request[_])
@import config.ApplicationConfig
@import include.main
@main(
title = "AMLS verify end to end codde flow"
) {
<h1 id="page-title" class="heading-48">
    @Messages("amls.Login.title")
</h1>

<div>
    @form(action=controllers.routes.AmlsController.onSubmit) {
    @{
        play.filters.csrf.CSRF.getToken(request).map {token => CSRF.formField(token)}
    }

    @inputText(loginDetailsForm("name"))
    @inputText(loginDetailsForm("password"))
        <input type="submit" value="Submit" />
    </div>
    }
</div>
}