@import include.main
@import forms.FormHelpers._
@import include.forms._

@import helper._
@import config.ApplicationConfig

@(form: Form[_])(implicit request: Request[_])

@main(title = Messages("areYouEmployedWithinTheBusiness.lbl.title")) {

    @formHelper(form, controllers.aboutyou.routes.AreYouEmployedWithinTheBusinessController.onSubmit) { implicit form: Form[_] =>

    @radioGroup(
        name = "radio",
        labelText = Messages("areYouEmployedWithinTheBusiness.lbl.areyouemployed"),
        hintText = "Some hint text",
        options = Seq(
            "Yes" -> "yes",
            "No" -> "no"
        )
    )

    @submit()

    }
}
