@import include.main
@import forms.FormHelpers._
@import include.forms._

@import helper._
@import config.ApplicationConfig

@(areYouEmployedWithinTheBusinessForm: Form[models.AreYouEmployedWithinTheBusinessModel])(implicit request: Request[_])

@main(
sectionTitle = Some(Messages("sectionTitle.about_you")),
title = Messages("areYouEmployedWithinTheBusiness.lbl.title")
) {

@formHelper(areYouEmployedWithinTheBusinessForm, controllers.aboutyou.routes.AreYouEmployedWithinTheBusinessController.post) { implicit form: Form[_] =>

    @radioGroup(
        name = "trueFalse",
        labelText = "",
        options = Seq(
            "Yes" -> "true",
            "No" -> "false"
        )
    )

    @submit(Messages("amls.button.lbl.saveandcontinue"))

    }
}
