@import include.{forms => deprecated, _}
@import forms2._

@(f: forms.Form2[_], edit: Boolean, index:Int)(implicit lang: Lang, request: Request[_])

@target = @{
s"""${f("accountNumber").id}-fieldset"""
s"""${f("sortCode").id}-fieldset"""
}

@target1 = @{
s"""${f("nonUKAccountNumber").id}-fieldset"""
s"""${f("IBANNumber").id}-fieldset"""
}

@main(
    title = Messages("bankdetails.accountdetails.title")
) {

    @heading("bankdetails.accountdetails.title", "summary.bankdetails")
    @form(f, controllers.bankdetails.routes.BankAccountController.post(index, edit)) {

    @input(
    field = f("accountName"),
    labelText = "bankdetails.bankaccount.accountname",
    bold = false
    )

    @inlineRadioGroup(f("isUK")) {
    @legend("bankdetails.bankaccount.accounttype", jsHidden = false, bold = false)
    @radio(f("isUK"), "lbl.yes", "true", target = s"#$target")
    @radio(f("isUK"), "lbl.no", "false", target = s"#$target1")
        @fieldset("TODO", jsHidden = true, id = target) {
            @input(f("accountNumber"), "bankdetails.bankaccount.accountnumber", bold = false)
            @input(f("sortCode"), "bankdetails.bankaccount.sortcode", bold = false)
        }
        @fieldset("TODO", jsHidden = true, id = target1) {
            @input(f("IBANNumber"), "bankdetails.bankaccount.iban", bold = false)
            <p>or</p>
            @input(f("nonUKAccountNumber"), "bankdetails.bankaccount.accountnumber", bold = false)

        }
    }
    @submit(edit)
}

}
