@import include.main
@import forms.FormHelpers._
@import forms.AboutTheBusinessForms._
@import include.forms._
@import utils.DataFields._

@(businessRegForVATForm: Form[models.BusinessWithVAT])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutthebusiness.sectiontitle")),
    title = Messages("aboutthebusiness.registeredforvat.title")
) {
    @formHelper(businessRegForVATForm, controllers.aboutthebusiness.routes.BusinessRegForVATController.post()) { implicit form: Form[_] =>
        @radioGroupYesNoWithText(
            name = "hasVAT",
            textFieldName = "VATNum",
            labelText = "aboutthebusiness.vatnumber.lbl",
            legendPresentation = forms.FormHelpers.Defaults.legendInvisible,
            textFieldLabelText = Messages("aboutthebusiness.vatnumber.lbl"),
            options = optionsYesNo
        )
        @submit(Messages("button.saveandcontinue"))
    }
}
