@import include.main
@import forms.FormHelpers._
@import forms.AboutTheBusinessForms._
@import include.forms._
@import utils.DataFields._
@import forms.Form2

@(form: Form2[_], edit: Boolean)(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutthebusiness.sectiontitle")),
    title = Messages("aboutthebusiness.registeredforvat.title")
) {
@*
    @formHelper(registeredForVATForm, controllers.aboutthebusiness.routes.BusinessRegisteredForVATController.post()) { implicit form: Form[_] =>
        @radioGroupYesNoWithText(
            name = "hasVAT",
            textFieldName = "VATNum",
            labelText = "aboutthebusiness.vatnumber.lbl",
            legendPresentation = forms.FormHelpers.Defaults.legendInvisible,
            textFieldLabelText = Messages("aboutthebusiness.vatnumber.lbl"),
            options = optionsYesNo
        )
        @submit(Messages("button.saveandcontinue"))
    }
*@
}
