@import include.{forms => deprecated, _}
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])

@$target2 = @{
    s"""${f("other").id}-fieldset"""
}

@main(
    title = Messages("estateagentbusiness.servicess.title")
) {

    @heading("estateagentbusiness.servicess.title", "summary.estateagentbusiness")

    @form(f, controllers.estateagentbusiness.routes.BusinessServicesController.post(edit)) {

        @radioGroup(f("services")) {
            @legend("TODO", jsHidden = true)
            @checkbox(f("services"), "estateagentbusiness.service.lbl.01", "01")
            @checkbox(f("services"), "estateagentbusiness.service.lbl.02", "02")
            @checkbox(f("services"), "estateagentbusiness.service.lbl.03", "03")
            @checkbox(f("services"), "estateagentbusiness.service.lbl.04", "04")
            @checkbox(f("services"), "estateagentbusiness.service.lbl.05", "05")
            @checkbox(f("services"), "estateagentbusiness.service.lbl.06", "06")
            @checkbox(f("services"), "estateagentbusiness.service.lbl.07", "07")
            @checkbox(f("services"), "estateagentbusiness.service.lbl.08", "08")
            @checkbox(f("services"), "estateagentbusiness.service.lbl.09", "09", target = s"#${f("redress").id}-fieldset")
        }
        @fieldset("TODO", jsHidden = true, id =  s"""${f("redress").id}-fieldset""") {
            <fieldset class="">
                <legend class="form-label-bold">
                    @Messages("estateagentbusiness.registered.redress.lbl")
                </legend>
                <span>
                    @Messages("estateagentbusiness.registered.redress.text")
                </span>
                @inlineRadioGroup(f("isRedress")) {
                    @legend("TODO", jsHidden = true)
                    @radio(f("isRedress"), "lbl.yes", "true", target = s"#${f("propertyRedress").id}-fieldset")
                    @radio(f("isRedress"), "lbl.no", "false")
                }
            </fieldset>

        @fieldset("TODO", jsHidden = true, id = s"""${f("propertyRedress").id}-fieldset""") {
            <fieldset class="">
                <legend class="form-label-bold">
                    @Messages("estateagentbusiness.which.redress.scheme.lbl")
                </legend>
                @radioGroup(f("PropertyRedressScheme")) {
                    @legend("TODO", jsHidden = true)
                    @radio(f("PropertyRedressScheme"), "estateagentbusiness.redress.lbl.01", "01")
                    @radio(f("PropertyRedressScheme"), "estateagentbusiness.redress.lbl.02", "02")
                    @radio(f("PropertyRedressScheme"), "estateagentbusiness.redress.lbl.03", "03")
                    @radio(f("PropertyRedressScheme"), "estateagentbusiness.redress.lbl.04", "04", target = s"#${f("other").id}-fieldset")

                    @fieldset("TODO", jsHidden = true, id = s"""${f("other").id}-fieldset""") {
                         @input(f("other"), "lbl.pleasespecify", bold = false)
                    }
                }
            </fieldset>
        }
    }
        @submit(edit)
    }
}
