@import include.main
@import forms.FormHelpers._
@import include.forms._

@(businessHasEmailForm: Form[models.BusinessHasEmail])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutthebusiness.sectiontitle")),
    title = Messages("aboutthebusiness.contactingyou.title")
) {

      @formHelper(businessHasEmailForm, controllers.aboutthebusiness.routes.BusinessHasEmailController.post()) { implicit form: Form[_] =>
        <span>@Messages("aboutthebusiness.contactingyou.lbl")</span>
        @input(
            name = "businessPhoneNumber",
            labelText = Messages("aboutthebusiness.telephoning.phone")
        )

        @input(
            name = "email",
            labelText = Messages("aboutthebusiness.contactingyou.email.lbl")
        )
        @input(
            name = "website",
            labelText = Messages("aboutthebusiness.contactingyou.website.lbl")
        )

        <span>@Messages("aboutthebusiness.contactingyou.businessaddress")</span>

@submit(Messages("button.saveandcontinue"))
    }
}

