@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("aboutthebusiness.correspondenceaddress.title")
) {

    @heading("aboutthebusiness.correspondenceaddress.title", "summary.aboutbusiness")

    <p>@Messages("aboutthebusiness.correspondenceaddress.p")</p>

    @form(f, controllers.aboutthebusiness.routes.CorrespondenceAddressController.post(edit)) {

        @input(
            field = f("yourName"),
            labelText = "aboutthebusiness.correspondenceaddress.yourName"
        )

        @input(
            field = f("businessName"),
            labelText = "aboutthebusiness.correspondenceaddress.businessName"
        )


        @inlineRadioGroup(f("isUK")) {
            @legend("TODO", jsHidden = true)
            @radio(f("isUK"), "aboutthebusiness.correspondenceaddress.ukAddress", "true", target = s"#${f("postCode").id}-fieldset")
            @radio(f("isUK"), "aboutthebusiness.correspondenceaddress.nonUkAddress", "false", target = s"#${f("country").id}-fieldset")
        }

        @fieldset(
            legend = "TODO",
            jsHidden = true,
            panel = false,
            id = s"""${f("postCode").id}-fieldset"""
        ) {
            <fieldset class="">
                <legend class="form-label-bold">
                    @Messages("aboutthebusiness.correspondenceaddress.address")
                </legend>
                @input(f("addressLine1"))
                @input(f("addressLine2"))
                @input(f("addressLine3"))
                @input(f("addressLine4"))
            </fieldset>
            @input(
                field = f("postCode"),
                labelText = "aboutthebusiness.correspondenceaddress.postCode",
                classes = Seq("postcode")
            )
        }

        @fieldset(
            legend = "TODO",
            jsHidden = true,
            panel = false,
            id = s"""${f("country").id}-fieldset"""
        ) {
            <fieldset class="">
                <legend class="form-label-bold">
                    @Messages("aboutthebusiness.correspondenceaddress.address")
                </legend>
                @input(f("addressLineNonUK1"))
                @input(f("addressLineNonUK2"))
                @input(f("addressLineNonUK3"))
                @input(f("addressLineNonUK4"))
            </fieldset>
            @input(
                field = f("country"),
                labelText = "aboutthebusiness.correspondenceaddress.country"
            )
        }

        @submit(edit)
    }
}
