@import include.main
@import forms.FormHelpers._
@import forms.AboutTheBusinessForms._
@import include.forms._
@import utils.DataFields._

@(businessHasWebsiteForm: Form[models.BusinessHasWebsite])(implicit request: Request[_])

@main(
    title = Messages("aboutthebusiness.businesshaswebsite.title")
) {
    @formHelper(businessHasWebsiteForm, aboutthebusiness.routes.BusinessHasWebsiteController.post()) { implicit form: Form[_] =>
        @radioGroupYesNoWithText(
            name = "hasWebsite",
            textFieldName = "website",
            labelText = "aboutthebusiness.addressofyourwebsite.title",
            legendPresentation = forms.FormHelpers.Defaults.legendInvisible,
            textFieldLabelText = Messages("aboutthebusiness.addressofyourwebsite.title"),
            options = optionsYesNo
        )
        @submit(Messages("button.saveandcontinue"))
    }
}
