@import include.main
@import models.confirmation._

@(mlrRegNo: String, total: Currency, breakdown: Seq[BreakdownRow])(implicit request: Request[_])

@sidebar = {
    <div class="bevel-container">
        <h3 class="heading-small">@Messages("confirmation.sidebar.code", mlrRegNo)</h3>
        <p>@Messages("confirmation.sidebar.contact")</p>
    </div>
}

@main(
    title = "Confirmation",
    sidebar = sidebar
) {

    <div class="confirmation">
        <h1 class="heading-large">@Messages("confirmation.lede")</h1>
    </div>

    <h2 class="heading-medium">@Messages("confirmation.thankyou")</h2>

    <p>@Messages("confirmation.thankyou.p")</p>

    <div class="panel-wide form-group">
        <div>@Messages("confirmation.fee")</div>
        <span class="heading-xlarge">@total</span>
    </div>

    <p>
        @Messages("confirmation.breakdown")
    </p>

    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th width="15%" class="numeric">@Messages("confirmation.quantity")</th>
                <th width="20%" class="numeric">@Messages("confirmation.feeperitem")</th>
                <th width="20%" class="numeric">@Messages("confirmation.totalfee")</th>
            </tr>
        </thead>
        <tbody>
            @breakdown.map {
                case BreakdownRow(label, quantity, perItem, total) => {
                    <tr>
                        <td>@Messages(label)</td>
                        <td class="numeric">@quantity</td>
                        <td class="numeric">@perItem</td>
                        <td class="numeric">@total</td>
                    </tr>
                }
            }
            <tr>
                <th colspan="3">@Messages("confirmation.registrationfee")</th>
                <th class="numeric">@total</th>
            </tr>
        </tbody>
    </table>
}
