@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.forms._
@import utils.CommonHelper._

@(confirmingYourAddressForm: Form[_], reviewBusinessDetails: BusinessCustomerDetails)(implicit request: Request[_])

@main(
    title = Messages("aboutthebusiness.confirmingyouraddress.title")
) {

    @formHelper(confirmingYourAddressForm, aboutthebusiness.routes.ConfirmingYourAddressController.post()) { implicit form: Form[_] =>

<div class="panel-indent">
    <ul>
        <li class="no-padding no-margin">@reviewBusinessDetails.businessName</li>
        <li class="no-padding no-margin">@reviewBusinessDetails.businessAddress.line_1</li>
        <li class="no-padding no-margin">@reviewBusinessDetails.businessAddress.line_2</li>
        <li class="no-padding no-margin">@reviewBusinessDetails.businessAddress.line_3.getOrElse("")</li>
        <li class="no-padding no-margin">@reviewBusinessDetails.businessAddress.line_4.getOrElse("")</li>
        <li class="no-padding no-margin">@reviewBusinessDetails.businessAddress.postcode.getOrElse("")</li>
    </ul>
</div>

        @radioGroup(
            name = "isRegOfficeOrMainPlaceOfBusiness",
            labelText = Messages("aboutthebusiness.confirmingyouraddress.registeredormainplace.lbl"),
            options = optionsYesNo
        )

@submit(Messages("button.saveandcontinue"))
    }
}
