@import forms.Form2
@import include._
@import include.forms2._
@import models.aboutthebusiness.BusinessCustomerDetails

@(f: Form2[_], businessCustomerDetails:Option[BusinessCustomerDetails], edit: Boolean)(implicit request: Request[_],lang:Lang)

@main(
    title = Messages("aboutthebusiness.contactingyou.title")
) {

    @heading("aboutthebusiness.contactingyou.title", "aboutthebusiness.sectiontitle")
    <p>@Messages("aboutthebusiness.contactingyou.lbl")</p>

    @form(f, controllers.aboutthebusiness.routes.ContactingYouController.post(edit)) {

        @input(
            field = f("phoneNumber"),
            labelText = Messages("aboutthebusiness.contactingyou.phone.lbl"),
            bold = true
        )

        @input(
            field = f("email"),
            labelText = Messages("aboutthebusiness.contactingyou.email.lbl"),
            bold = true
        )
        @input(
            field = f("website"),
            labelText = Messages("aboutthebusiness.contactingyou.website.lbl"),
            bold = true
        )

        <div>
            <span>@Messages("aboutthebusiness.contactingyou.businessaddress")</span>
        </div>
        <div class="panel-indent">
            <ul>
                @businessCustomerDetails.map { details =>
                    <li class="no-padding no-margin">@details.businessName</li>
                    <li class="no-padding no-margin">@details.businessAddress.line_1</li>
                    <li class="no-padding no-margin">@details.businessAddress.line_2</li>
                    @details.businessAddress.line_3.map { line =>
                    <li class="no-padding no-margin">@line</li>
                    }
                    @details.businessAddress.line_4.map { line =>
                    <li class="no-padding no-margin">@line</li>
                    }
                    @details.businessAddress.postcode.map { postcode =>
                    <li class="no-padding no-margin">@postcode</li>
                    }
                }
            </ul>
        </div>

        <div>
            <span class="form-label-bold">@Messages("aboutthebusiness.contactingyou.sendletter.lbl")</span>
                @inlineRadioGroup(f("letterToThisAddress")) {
                 @legend("TODO", jsHidden = true)
                 @radio(f("letterToThisAddress"), "lbl.yes", "true")
                 @radio(f("letterToThisAddress"), "lbl.no", "false")
                }
        </div>
    @submit(edit)
    }
}
