@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.form._
@import forms.Form2
@import models.BCAddress

@(form: Form2[_], edit: Boolean)(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutthebusiness.sectiontitle")),
    title = Messages("aboutthebusiness.contactingyou.title")
) {@*
    @formHelper(form, controllers.aboutthebusiness.routes.ContactingYouController.post(edit)) { implicit form: Form2[_] =>

        @input(
            name = "phoneNumber",
            labelText = Messages("aboutthebusiness.contactingyou.phone.lbl")
        )

        @input(
            name = "email",
            labelText = Messages("aboutthebusiness.contactingyou.email.lbl")
        )
        @input(
            name = "website",
            labelText = Messages("aboutthebusiness.contactingyou.website.lbl")
        )

    @submit(Messages(if (edit) "button.saveandreturn" else "button.saveandcontinue"))
    }*@
}

