@import include._
@import forms2._

@(f: forms.Form2[_], subheadingMessage: String, controllerAction: Call)(implicit request: Request[_])

@header = {
  @errorSummary(f)
  @heading("dateofchange.title", subheadingMessage)
}

@main(
  title = Messages("dateofchange.title") + " - " + Messages(subheadingMessage),
  heading = header
) {

  @form(f, controllerAction) {

    @date(
      f = f,
      p = "dateOfChange",
      labelText = "dateofchange.title",
      example = true,
      legendHidden = true
    )

    @submit(false, Some(Messages("button.saveandcontinue")))

  }
}
