@import include.main
@import forms.FormHelpers._
@import include.forms._

@(employedWithinTheBusinessForm: Form[models.EmployedWithinTheBusiness])(implicit request: Request[_])

@main(
sectionTitle = Some(Messages("sectionTitle.about_you")),
title = Messages("title.employedwithinthebusiness")
) {

@formHelper(employedWithinTheBusinessForm, aboutyou.routes.EmployedWithinTheBusinessController.post) { implicit form: Form[_] =>

    @radioGroup(
        name = "isEmployed",
        labelText = "",
        options = Seq(
            Messages("lbl.yes") -> "true",
            Messages("lbl.no")  -> "false"
        )
    )

    @submit(Messages("button.save"))

    }
}
