@import include.main
@import forms.FormHelpers._
@import include.forms._
@import utils.CommonHelper._
@import helper._
@import config.ApplicationConfig

@(employedWithinTheBusinessForm: Form[models.EmployedWithinTheBusiness])(implicit request: Request[_])

@main(
sectionTitle = Some(Messages("sectionTitle.about_you")),
title = Messages("amls.employedwithinthebusiness.title")
) {

@formHelper(employedWithinTheBusinessForm, aboutYou.routes.EmployedWithinTheBusinessController.post) { implicit form: Form[_] =>

    @radioGroup(
        name = "isEmployed",
        labelText = "",
        options = Seq(
            Messages("lbl.yes") -> "true",
            Messages("lbl.no")  -> "false"
        )
    )

    @submit(Messages("amls.button.lbl.saveandcontinue"))

    }
}
