@import include.main
@import forms.FormHelpers._
@import include.forms._
@import controllers.routes.AmlsController

@(form: Form[_])(implicit request: Request[_])

@main(
    title = "Hello, World!"
) {

    <h1>Hello, World!</h1>

    @formHelper(form, routes.ExampleController.onSubmit) { implicit form: Form[_] =>

        @input(
            name = "foo",
            labelText = "Some new Label",
            hintText = "some hint text"
        )

        @fieldset(
            legend = "My Legend"
        ) {
            @input(
                name = "bar",
                labelText = "Another label"
            )
        }

        @radioGroup(
            name = "radio",
            labelText = "Some label text",
            hintText = "Some hint text",
            options = Seq(
                "Yes" -> "yes",
                "No" -> "no"
            )
        )

        @radioGroup(
            name = "radio",
            labelText = "Some other label text",
            hintText = "Some other hint text",
            options = Seq(
                "Yes" -> "yes",
                "No" -> "no",
                "Maybe" -> "maybe"
            )
        )

        @checkboxGroup(
            name = "checkbox",
            labelText = "Some checkboxes",
            options = Seq(
                "Option 1" -> "1",
                "Option 2" -> "2",
                "Option 3" -> "3"
            )
        )

        @radioGroupWithOther(
            name = "radioWithOther",
            labelText = "Radio Group With Other",
            otherLabelText = "Some other label text",
            options = Seq(
                "Option 1" -> "1",
                "Option 2" -> "2",
                "Option 3" -> "3"
            )
        )

        @submit()
    }
}
