@import include.{forms => deprecated, _}
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit request: Request[_])

@target = @{
s"""${f("details").id}-fieldset"""
}

@main(
title = Messages("businessactivities.confirm-activities.title")
)  {

@heading("businessactivities.confirm-activities.title", "summary.businessactivities")

<div class="form-group">
    <div class="panel-indent">
        <span class="notice">@Messages("bankdetails.confirm-activities.subtitile")</span>
    </div>
</div>




@form(f, controllers.businessactivities.routes.InvolvedInOtherController.post(edit)) {

<span class="form-field">
            @Messages("businessactivities.confirm-activities.subtitle1")
        </span>


@inlineRadioGroup(f("involvedInOther")) {
@legend("TODO", jsHidden = true)
@radio(f("businessFranchise"), "lbl.yes", "true", target = s"#$target")
@radio(f("businessFranchise"), "lbl.no", "false")
@fieldset("TODO", jsHidden = true, id = target) {
@input(f("details"), "businessactivities.confirm-activities.lbl.details", bold = false)
}
}

@submit(edit)
}
}