@import config.ApplicationConfig
@import include.main

@()(implicit request: Request[_])

@main(
sectionTitle = Some(Messages("summary.sectiontitle")),
title = Messages("summary.title"),
serviceInfoContent = Some(Html("<span class=\"login-name\">AMLS registration for Acme Limited</span>"))
) {
<div id="main-pane" class="column-three-quarters">
<p>
    @Messages("summary.description")
</p>

<table id="summary-table" class="summary-table">
    <tr>
        <thead><tr><th class="section-name"> <span> <a href="">@Messages("summary.businessactivities") </a> </span> </th></tr></thead>
        <thead><tr><th class="section-name"> <span> <a href="@aboutthebusiness.routes.RegisteredOfficeController.get()">@Messages("summary.aboutbusiness") </a> </span> </th></tr></thead>
        <thead><tr><th class="section-name"> <span> <a href="">@Messages("summary.tradingpremises") </a> </span> </th></tr></thead>
        <thead><tr><th class="section-name"> <span> <a href="">@Messages("summary.bankdetails") </a> </span> </th></tr></thead>
        <thead><tr><th class="section-name"> <span> <a href="">@Messages("summary.responsiblepersons") </a> </span> </th></tr></thead>
        <thead><tr><th class="section-name"> <span> <a href="@aboutyou.routes.YourNameController.get()">@Messages("summary.aboutyou") </a> </span> </th></tr></thead>
        <thead><tr><th class="section-name"> <span> <a href="">@Messages("summary.payment") </a> </span> </th></tr></thead>
        <thead><tr><th class="section-name">
            <span class="locked" title='@Messages("summary.declarationlocked.title")'>@Messages("summary.declarationlocked")</span>
        </th></tr></thead>
    </tr>
</table>
</div>
}