@import config.ApplicationConfig
@import include.amlsMain

@()(implicit request: Request[_])

@amlsMain(
sectionTitle = Some(Messages("amls.summary.sectiontitle")),
title = Messages("amls.summary.title"),
serviceInfoContent = Some(Html("<span class=\"login-name\">AMLS registration for Acme Limited</span>"))
) {
<div id="main-pane" class="grid-2-3">
<p>
    @Messages("amls.summary.description")
</p>

<table id="summary-table" class="summary-table">
    <tr>
        <thead><tr><th class="section-name complete"> <h2> <a href="">@Messages("amls.summary.businessactivities") </a> </h2></th></tr></thead>
        <thead><tr><th class="section-name complete"> <h2> <a href="">@Messages("amls.summary.aboutbusiness") </a> </h2></th></tr></thead>
        <thead><tr><th class="section-name complete"> <h2> <a href="">@Messages("amls.summary.tradingpremises") </a> </h2></th></tr></thead>
        <thead><tr><th class="section-name complete"> <h2> <a href="">@Messages("amls.summary.bankdetails") </a> </h2></th></tr></thead>
        <thead><tr><th class="section-name complete"> <h2> <a href="">@Messages("amls.summary.responsiblepersons") </a> </h2></th></tr></thead>
        <thead><tr><th class="section-name complete"> <h2> <a href="">@Messages("amls.summary.aboutyou") </a> </h2></th></tr></thead>
        <thead><tr><th class="section-name complete"> <h2> <a href="">@Messages("amls.summary.payment") </a> </h2></th></tr></thead>
    </tr>
</table>
</div>
}