@import include.main
@import forms.FormHelpers._
@import forms.AboutTheBusinessForms._
@import include.forms._
@import utils.DataFields._

@(RegisteredForMLRForm: Form[models.RegisteredForMLR])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutthebusiness.sectiontitle")),
    title = Messages("aboutthebusiness.registeredformlr.title")
) {
    @formHelper(RegisteredForMLRForm, aboutthebusiness.routes.HaveYouRegForMLRBeforeController.post()) { implicit form: Form[_] =>
        @radioGroupPrevRegForMLRWithText(
            name = "hasMLR",
            textFieldName = ("mlrNumber","prevMlrNumber"),
            labelText = "aboutthebusiness.registeredformlr.title",
            legendPresentation = forms.FormHelpers.Defaults.legendInvisible,
            textFieldLabelText = ("aboutthebusiness.registeredformlr.mlrregno","aboutthebusiness.registeredformlr.prevmlrregno"),
            options = optionsRegisteredFoMLR
        )
        @submit(Messages("button.saveandcontinue"))
    }
}
