@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.forms._
@import utils.CommonHelper._

@(registeredOfficeForm: Form[models.RegisteredOffice])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("sectionTitle.aboutTheBusiness")),
    title = Messages("title.registeredOffice")
) {
    @formHelper(registeredOfficeForm, aboutthebusiness.routes.RegisteredOfficeController.post()) { implicit form: Form[_] =>
        @radioGroup(
            name = "registeredOfficeForm",
            labelText = "WAAAAAAAA",
            options = optionsIsRegisteredOffice
        )
        @submit(Messages("button.checkYourAnswers"))
    }
}
