@import include.main
@import forms.FormHelpers._
@import forms.AboutTheBusinessForms._
@import include.forms._
@import utils.DataFields._
@import forms.Form2

@(form: Form2[_], edit: Boolean)(implicit request: Request[_])

@main(
    title = Messages("aboutthebusiness.registeredformlr.title")
) {
@*
    @formHelper(form, controllers.aboutthebusiness.routes.BusinessRegisteredWithHMRCBeforeController.post()) { implicit form: Form[_] =>
        @radioGroupYesNoWithText(
            name = "registeredWithHMRC",
            textFieldName = "mlrNumber",
            labelText = "aboutthebusiness.registeredformlr.lbl",
            textFieldLabelText = Messages("aboutthebusiness.registeredformlr.mlrregno.lbl"),
            options = optionsYesNo
        )
        @submit(Messages("button.saveandcontinue"))
    }
*@
}
