@import include.main
@import forms.FormHelpers._
@import forms.AboutTheBusinessForms._
@import include.forms._
@import utils.CommonHelper._

@(businessRegForVATForm: Form[models.BusinessWithVAT])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("sectionTitle.aboutTheBusiness")),
    title = Messages("title.registeredForMLR")
) {
    @formHelper(businessRegForVATForm, aboutthebusiness.routes.HaveYouRegForMLRBeforeController.post()) { implicit form: Form[_] =>
        @radioGroupYesYesNoWithText(
            name = "hasMLR",
            textFieldName = ("mlrNumber","prevMlrNumber"),
            labelText = ("lbl.mlrRegistrationNumber","lbl.prevMLRRegistrationNumber"),
            legendPresentation = forms.FormHelpers.Defaults.legendInvisible,
            textFieldLabelText = ("lbl.mlrRegistrationNumber","lbl.prevMLRRegistrationNumber"),
            options = optionsRegisteredFoMLR
        )
        @submit(Messages("button.save"))
    }
}
