@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.forms._
@import utils.CommonHelper._

@(registeredOfficeForm: Form[_], reviewBusinessDetails: BusinessCustomerDetails)(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("sectionTitle.aboutTheBusiness")),
    title = Messages("title.registeredOffice")
) {

    @formHelper(registeredOfficeForm, aboutthebusiness.routes.RegisteredOfficeController.post()) { implicit form: Form[_] =>

        <p>@Messages("registeredoffice.address.header")</p>



        <div class="panel-indent">

            <div>@(form("registeredOfficeAddress.line_1").value)</div>
            <div>@(form("registeredOfficeAddress.line_2").value)</div>
            <div>@(form("registeredOfficeAddress.line_3").value.getOrElse(""))</div>
            <div>@(form("registeredOfficeAddress.line_4").value.getOrElse(""))</div>
            <div>@(form("registeredOfficeAddress.postcode").value.getOrElse(""))</div>
            <div>@(form("registeredOfficeAddress.country").value)</div>

        </div>
        <div class="form-group">
                @radioGroup(
                    name = "registeredOfficeForm",
                    labelText = Messages("registeredoffice.is.address.correct"),
                    options = optionsIsRegisteredOffice
                )
        </div>
        @submit(Messages("button.save"))
    }
}
