@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@targetYes = @{
    s"""${f("postCode").id}-fieldset"""
}
@targetNo = @{
    s"""${f("country").id}-fieldset"""
}

@main(
    title = Messages("aboutthebusiness.registeredoffice.title")
) {

    @heading("aboutthebusiness.registeredoffice.title", "summary.aboutbusiness")

    @form(f, controllers.aboutthebusiness.routes.RegisteredOfficeController.post(edit)) {

        @inlineRadioGroup(f("isUK")) {
            @legend("TODO", jsHidden = true)
            @radio(f("isUK"), "aboutthebusiness.correspondenceaddress.ukAddress", "true", target = s"#${f("postCode").id}-fieldset")
            @radio(f("isUK"), "aboutthebusiness.correspondenceaddress.nonUkAddress", "false", target = s"#${f("country").id}-fieldset")
        }

        <fieldset class="">
            <legend class="form-label-bold">
                @Messages("aboutthebusiness.correspondenceaddress.address")
            </legend>
            @input(f("addressLine1"))
            @input(f("addressLine2"))
            @input(f("addressLine3"))
            @input(f("addressLine4"))
        </fieldset>

        @fieldset(
            legend = "TODO",
            jsHidden = true,
            panel = false,
            id = s"""${f("postCode").id}-fieldset"""
        ) {
            @input(
                field = f("postCode"),
                labelText = "aboutthebusiness.correspondenceaddress.postCode",
                classes = Seq("form-control-1-8")
            )
        }

        @fieldset(
            legend = "TODO",
            jsHidden = true,
            panel = false,
            id = s"""${f("country").id}-fieldset"""
        ) {
            @input(
                field = f("country"),
                labelText = "aboutthebusiness.correspondenceaddress.country"
            )
        }

        @submit(edit)
    }
}
