@import include.main
@import forms.FormHelpers._
@import forms.AboutTheBusinessForms._
@import include.forms._
@import utils.DataFields._

@(RegisteredForMLRForm: Form[models.RegisteredWithHMRCBefore])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutthebusiness.sectiontitle")),
    title = Messages("aboutthebusiness.registeredformlr.title")
) {
    @formHelper(RegisteredForMLRForm, aboutthebusiness.routes.BusinessRegisteredWithHMRCBeforeController.post()) { implicit form: Form[_] =>
        @radioGroupYesNoWithText(
            name = "registeredWithHMR",
            textFieldName = "mlrNumber",
            labelText = "aboutthebusiness.registeredformlr.lbl",
            textFieldLabelText = Messages("aboutthebusiness.registeredformlr.mlrregno.lbl"),
            options = optionsYesNo
        )
        @submit(Messages("button.saveandcontinue"))
    }
}
