@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.forms._
@import utils.CommonHelper._

@(roleWithinBusinessForm: Form[models.RoleWithinBusiness], roles:Seq[(String,String)])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutyou.sectiontitle")),
    title = Messages("title.roleWithinBusiness")
) {
    @formHelper(roleWithinBusinessForm, aboutYou.routes.RoleWithinBusinessController.onSubmit) { implicit form: Form[_] =>
        @radioGroupWithOther(
            name = "roleWithinBusiness",
            labelText = "title.roleWithinBusiness",
            legendPresentation = forms.FormHelpers.Defaults.legendInvisible,
            otherLabelText = "Some other label text",
            options = roles
        )
        @submit(Messages("button.checkYourAnswers"))
    }
}
