@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.forms._
@import utils.CommonHelper._

@(roleWithinBusinessForm: Form[models.RoleWithinBusiness])(implicit request: Request[_])

@main(
    Messages("title.roleWithinBusiness")
) {

    <h1>@Messages("title.roleWithinBusiness")</h1>

    @formHelper(roleWithinBusinessForm, aboutYou.routes.RoleWithinBusinessController.onSubmit) { implicit form: Form[_] =>
        @radioGroupWithOther(
            name = "roleWithinBusiness",
            labelText = "title.roleWithinBusiness",
            otherLabelText = "Some other label text",
            options = getSeqFromMessagesKey("lbl.roleWithinBusiness")
        )
        @submit(Messages("button.checkYourAnswers"))
    }
}
