@import include.main
@import forms.FormHelpers._
@import include.forms._
@import forms.Form2
@import models.aboutyou._

@(form: Form2[RoleWithinBusiness], edit: Boolean)(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutyou.sectiontitle")),
    title = Messages("aboutyou.rolewithinbusiness.title")
) {
@*
        @formHelper(roleWithinBusinessForm, aboutyou.routes.RoleWithinBusinessController.post(edit)) { implicit form: Form[_] =>

        @radioGroupWithOther(
            name = "roleWithinBusiness",
            otherName = "other",
            labelText = "aboutyou.rolewithinbusiness.title",
            legendPresentation = forms.FormHelpers.Defaults.legendInvisible,
            otherLabelText = "Some other label text",
            options = roles
        )

        @submit(Messages(if (edit) "button.saveandreturn" else "button.saveandcontinue"))
    }
*@
}
