@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.forms._
@import utils.CommonHelper._

@(roleForBusinessForm: Form[models.RoleForBusiness], roles:Seq[(String,String)])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutyou.sectiontitle")),
    title = Messages("aboutyou.roleforbusiness.title")
) {
    @formHelper(roleForBusinessForm, aboutyou.routes.RoleForBusinessController.post()) { implicit form: Form[_] =>
        @radioGroupWithOther(
            name = "roleForBusiness",
            otherName = "other",
            labelText = "aboutyou.roleforbusiness.title",
            legendPresentation = forms.FormHelpers.Defaults.legendInvisible,
            otherLabelText = "Some other label text",
            options = roles
        )
        @submit(Messages("button.checkYourAnswers"))
    }
}
