@import include._
@import forms2._
@import models.businessmatching._

@(f: forms.Form2[_])(implicit lang: Lang, request: Request[_])

@header = {
@errorSummary(f)
@heading("survey.satisfaction.title", "survey.satisfaction.heading")
}

@main(
title = Messages("survey.satisfaction.title") + " - " + Messages("survey.satisfaction.heading"),
heading = header
) {

@form(f, controllers.routes.SatisfactionSurveyController.post()) {

    @fieldset(
        legend = "survey.satisfaction.text.1",
        f = f("satisfaction"),
        panel = false,
        bold = true
    ) {
        @radio(f = f("satisfaction"), labelText = "survey.satisfaction.lbl.01", value = "01")
        @radio(f = f("satisfaction"), labelText = "survey.satisfaction.lbl.02", value = "02")
        @radio(f = f("satisfaction"), labelText = "survey.satisfaction.lbl.03", value = "03")
        @radio(f = f("satisfaction"), labelText = "survey.satisfaction.lbl.04", value = "04")
        @radio(f = f("satisfaction"), labelText = "survey.satisfaction.lbl.05", value = "05")
    }

    @fieldset(
        legend = "survey.satisfaction.text.2",
        f = f("details"),
        panel = false,
        classes = Seq("heading-medium"),
        bold = true
    ) {
        @textarea(
            field = f("details"),
            labelText = "lbl.pleasespecify",
            labelHidden = true,
            hintText = "survey.satisfaction.hint",
            cols = "50",
            rows = "6",
            maxLength = "1200",
            charCount = true
        )
    }

<input type="submit" name="submit" class="button" value="@Messages("button.send.feedback")" />
}
}

$('input:radio').click(function(){
ga('send', 'event', this.id, 'click');
});