@import include._
@import forms2._
@import models.businessmatching._

@(f: forms.Form2[_])(implicit lang: Lang, request: Request[_])

@header = {
@errorSummary(f)
@heading("survey.satisfaction.title", "survey.satisfaction.heading")
}

@main(
title = Messages("survey.satisfaction.title") + " - " + Messages("survey.satisfaction.heading"),
heading = header
) {

@form(f, controllers.routes.SatisfactionSurveyController.post()) {

<legend class="heading-medium">@Messages("survey.satisfaction.text.1")</legend>

<div class="form-field-group">
    @radioGroup(f("satisfaction")) {
        @legend("", jsHidden = true)
        @radio(f("satisfaction"), "survey.satisfaction.lbl.01", "01")
        @radio(f("satisfaction"), "survey.satisfaction.lbl.02", "02")
        @radio(f("satisfaction"), "survey.satisfaction.lbl.03", "03")
        @radio(f("satisfaction"), "survey.satisfaction.lbl.04", "04")
        @radio(f("satisfaction"), "survey.satisfaction.lbl.05", "05")
    }
</div>

<div class="form-group">

    <legend class="heading-medium">@Messages("survey.satisfaction.text.2")</legend>

    <p>@Messages("survey.satisfaction.hint")</p>

    <div class="char-counter" data-char-counter>
        <textarea data-char-field cols="50" rows="6" maxLength="1200" name="details">@f("details").value</textarea>
        <p class="char-counter-text flush js-hidden">@Messages("lbl.1200.character.limit")</p>
    </div>

</div>

<input type="submit" name="submit" class="button" value="@Messages("button.send.feedback")" />
}
}

$('input:radio').click(function(){
ga('send', 'event', this.id, 'click');
});