@import include._

@()(implicit request: Request[_],m:Messages)

@header = {
    @heading("start.title")
}

@main(
    title = Messages("start.title") + " - " + Messages("summary.start"),
    heading = header,
    userLoggedIn = false
) {
    <p>@Messages("start.line1")</p>
    <p>@Messages("start.line2")</p>
    <p>@Html(Messages("start.line3", "<a href=\"/\">here</a>"))</p>

    <a class="button button--get-started" href="@controllers.routes.LandingController.get()" role="button">@Messages("start.button.text")</a>

    <p class="heading-medium">@Messages("start.before.heading")</p>

    <p class="heading-small">@Messages("start.utr.heading1")</p>
    <p>@Html(Messages("start.before.line1", "<a href=\"/\">here</a>"))</p>
    <p class="heading-small">@Messages("start.utr.heading")</p>
    <p>@Messages("start.utr.line1")</p>
}