@import include.main
@import forms.FormHelpers._
@import include.forms._

@(telephoningBusinessForm: Form[_])(implicit request: Request[_])

@main(
sectionTitle = Some(Messages("aboutthebusiness.sectiontitle")),
title = Messages("aboutthebusiness.telephoning.title")
) {

    @formHelper(telephoningBusinessForm, controllers.aboutthebusiness.routes.TelephoningBusinessController.post) { implicit form: Form[_] =>

        @input(
            name = "businessPhoneNumber",
            labelText = Messages("aboutthebusiness.telephoning.phone")
        )

        @input(
            name = "mobileNumber",
            labelText = Messages("aboutthebusiness.telephoning.mobile")
        )

    @submit(Messages("button.saveandcontinue"))

    }
}