@import include._
@import models.tradingpremises._

@(model: TradingPremises)(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.tradingpremises")
    <p>
        @Messages("summary.linetext")
    </p>
        @model.yourTradingPremises.map { ytp=>
        <table>
            <tr>
                <th class="summary-title">@Messages("summary.checkyouranswers.businesspremises.title")</th>
                <td><a href="@controllers.tradingpremises.routes.OwnSummaryController.get()">@Messages("button.edit")</a></td>
            </tr>
            <tr>
                <td colspan="2">
                    @ytp.tradingName
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @ytp.tradingPremisesAddress.toLines.map{ line =>
                    @line
                    <br>}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @{ytp.isOwner match { case true => "Own"
                                            case _ => "Agent's"
                    }}
                </td>
            </tr>
        </table>
        }
    @model.yourAgent.map { agent=>
    <table>
        <tr>
            <th class="summary-title">@Messages("summary.checkyouranswers.agentspremises.title")</th>
            <td><a href="@controllers.tradingpremises.routes.AgentSummaryController.get()">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            <td colspan="2">
                @agent.agentsRegisteredName.value
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @agent.businessStructure
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @{agent.taxType match {
                case TaxTypeSelfAssesment => "Self Assessment"
                case _ => "Corporation tax"
                }}
            </td>
        </tr>
    </table>
    }


    <a class="button" href="@controllers.routes.MainSummaryController.onPageLoad()">@Messages("button.summary.acceptandcomplete")</a>
}
