@import include._
@import models.tradingpremises._

@(model: Seq[TradingPremises])(implicit request: Request[_], lang: Lang)


@main(
    title = Messages("summary.checkyouranswers.title")
) {

    @heading("summary.checkyouranswers.title", "summary.tradingpremises")
<div class="panel-indent">
    <p>
        @Messages("summary.linetext")
    </p>
    <p>
        <a href="@controllers.tradingpremises.routes.WhereAreTradingPremisesController.get(model.length+1, false)"> @Messages("tradingpremises.summary.addanother") </a>
    </p>
</div>

        @model.zipWithIndex.map { case (tp, y) =>
            @tp.yourTradingPremises.map { ytp =>
        <table>
            <tr>
                <th class="summary-title" colspan="2">@ytp.tradingName</th>
                @*<td><a href="@controllers.tradingpremises.routes.OwnSummaryController.get(model.length+1, true)">@Messages("button.edit")</a></td>*@
            </tr>
            <tr>
                <td>
                    @ytp.tradingPremisesAddress.toLines.map{ line =>
                    @line
                    <br>}
                </td>
                @tp.whatDoesYourBusinessDoAtThisAddress.map { ba=>
                <td>
                    @ba.activities.map{ line =>
                    @line <br>}}
                </td>
                <td>
                    <p>Own</p>
                </td>
            </tr>
        </table>
        }
    @tp.yourAgent.map { agent=>
    <table>
        <tr>
            <th class="summary-title" colspan="2">@agent.agentsRegisteredName.value</th>
            <td><a href="@controllers.tradingpremises.routes.SummaryController.get()">@Messages("button.edit")</a></td>
        </tr>
        <tr>
            @tp.yourTradingPremises.map { ytp=>
            <td>
                @ytp.tradingPremisesAddress.toLines.map{ line =>
                @line
                <br>}
            </td>
            @tp.whatDoesYourBusinessDoAtThisAddress.map { ba=>
            <td>
                @ba.activities.map{ line =>
                @line <br>}}
            </td>
            <td>
                <p>Agent's</p>
            </td>
            }
        </tr>
    </table>
    }

    }
    <a class="button" href="@controllers.routes.MainSummaryController.onPageLoad()">@Messages("button.summary.acceptandcomplete")</a>
}
