@import include.{forms => deprecated, _}
@import forms2._

@(f: forms.Form2[_], edit: Boolean)(implicit lang: Lang, request: Request[_])


@main(
    title = Messages("businessactivities.business-turnover.title")
) {

    @heading("businessactivities.business-turnover.title", "summary.businessactivities")

    @form(f, controllers.businessactivities.routes.TurnerOverExpectIn12MonthsController.post(edit)) {

        @radioGroup(f("turnoverOverExpectIn12MOnths")) {
            @legend("TODO", jsHidden = true)
            @radio(f("turnoverOverExpectIn12MOnths"), "businessactivities.business-turnover.lbl.01", "01")
            @radio(f("turnoverOverExpectIn12MOnths"), "businessactivities.business-turnover.lbl.02", "02")
            @radio(f("turnoverOverExpectIn12MOnths"), "businessactivities.business-turnover.lbl.03", "03")
            @radio(f("turnoverOverExpectIn12MOnths"), "businessactivities.business-turnover.lbl.04", "04")
            @radio(f("turnoverOverExpectIn12MOnths"), "businessactivities.business-turnover.lbl.05", "05")
            @radio(f("turnoverOverExpectIn12MOnths"), "businessactivities.business-turnover.lbl.06", "06")
            @radio(f("turnoverOverExpectIn12MOnths"), "businessactivities.business-turnover.lbl.07", "07")

        @submit(edit)
    }
}
