@(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._
@import include.main
    @main(title = Messages("unauthorised.title")) {

    <h1 class="heading-xlarge">@Messages("unauthorised.title")</h1>

    <p>You need to use an ‘individual’ or ‘organisation’ account to use the service.</p>
    <p>If you don’t have an individual or organisation account you can <a href=”http://www.gateway.gov.uk/”>register for a new one</a>.</p>

    <!-- This should log you out and then take you back to the sign in page for Gov Gateway -->
    <p><a class="button" href="#">@Messages("button.backtosignin")</a></p>
}
