@import include._
@()(implicit request: Request[_])

@main(
    title = Messages("bankdetails.whatyouneed.title")
) {

    @heading("bankdetails.whatyouneed.heading", "summary.bankdetails")
    <div class="form-group">
        <div class="panel-indent">
            <span class="icon-information"></span>
            <span class="notice">@Messages("bankdetails.whatyouneed.paragraph1.text")</span>
        </div>
    </div>
    <div class="form-group">
        <p>@Messages("bankdetails.whatyouneed.requiredinfo.heading")</p>
    </div>
    <div class="form-group">
        <ul class="list-bullet">
            <li class="no-padding no-margin">@Messages("bankdetails.whatyouneed.line_1")</li>
            <li  class="no-padding no-margin">@Messages("bankdetails.whatyouneed.line_2")</li>
            <li  class="no-padding no-margin">@Messages("bankdetails.whatyouneed.line_3")</li>
            <li  class="no-padding no-margin">@Messages("bankdetails.whatyouneed.line_4")</li>
        </ul>
    </div>
    <div class="form-group">
        <a id="what-you-need-continue" class="button" href="@controllers.bankdetails.routes.BankAccountTypeController.get()">@Messages("button.continue")</a>
    </div>
}
