@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@main(
title = Messages("businessactivities.whoisyouraccountant.title")
) {

@heading("businessactivities.whoisyouraccountant.heading")

@form(f, controllers.businessactivities.routes.WhoIsYourAccountantController.post(index, edit)) {

@input(
field = f("name"),
labelText = "businessactivities.whoisyouraccountant.name",
)

@input(
field = f("tradingName"),
labelText = "businessactivities.whoisyouraccountant.tradingName",
)

@inlineRadioGroup(f("isUK")) {
@legend("TODO", jsHidden = true)
@radio(f("isUK"), "businessactivities.whoisyouraccountant.ukAddress", "true", target = s"#${f("postCode").id}")
@radio(f("isUK"), "businessactivities.whoisyouraccountant.nonUkAddress", "false", target = s"#${f("country").id}")
}

@fieldset(
    legend = "TODO",
    panel = false,
) {
<fieldset class="">
    <legend class="form-label-bold">
        @Messages("businessactivities.whoisyouraccountant.address")
    </legend>
    @input(f("addressLine1"))
    @input(f("addressLine2"))
    @input(f("addressLine3"))
    @input(f("addressLine4"))
</fieldset>
}

@input(
field = f("postCode"),
jsHidden = true,
labelText = "businessactivities.whoisyouraccountant.postCode",
classes = Seq("postcode"),
id = s"""${f("postCode").id}"""
)
}

@input(
field = f("country"),
jsHidden = true,
labelText = "aboutthebusiness.correspondenceaddress.country",
id = s"""${f("country").id}"""
)
}


@submit(edit)

}

}