@import include.{forms => deprecated, _}
@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("tradingpremises.youragent.title")
) {

@heading("tradingpremises.youragent.heading", "summary.tradingpremises")


@form(f, controllers.tradingpremises.routes.YourAgentController.post(edit)) {


<div class="form-field">
    <span class="form-field">@Messages("tradingpremises.youragent.paragraph1.text")</span>
</div>

@input(
field = f("agentsRegisteredName"),
labelText = "tradingpremises.youragent.registeredname",
classes = Seq("registeredname")
)

<p class="form-label-bold">@Messages("tradingpremises.youragent.taxtype")</p>

@inlineRadioGroup(f("taxType")) {
@legend("TODO", jsHidden = true)
@radio(f("taxType"), "tradingpremises.youragent.taxtype.lbl.01", "01")
@radio(f("taxType"), "tradingpremises.youragent.taxtype.lbl.02", "02")
}

<p class="form-label-bold">@Messages("tradingpremises.youragent.businessstructure")</p>

@radioGroup(f("agentsBusinessStructure")) {
@legend("TODO", jsHidden = true)
@radio(f("agentsBusinessStructure"), "tradingpremises.youragent.businessstructure.lbl.01", "01")
@radio(f("agentsBusinessStructure"), "tradingpremises.youragent.businessstructure.lbl.02", "02")
@radio(f("agentsBusinessStructure"), "tradingpremises.youragent.businessstructure.lbl.03", "03")
@radio(f("agentsBusinessStructure"), "tradingpremises.youragent.businessstructure.lbl.04", "04")
@radio(f("agentsBusinessStructure"), "tradingpremises.youragent.businessstructure.lbl.05", "05")
}

@submit(edit)

}

}