@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.forms._

@(yourNameForm: Form[models.YourName])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("sectionTitle.about_you")),
    title = Messages("title.your_name")
) {

      @formHelper(yourNameForm, aboutYou.routes.YourNameController.post()) { implicit form: Form[_] =>

        @input(
            name = "firtname",
            labelText = Messages("lbl.first_name")
        )

        @input(
            name = "middlename",
            labelText = Messages("lbl.middle_name")
        )

        @input(
            name = "lastname",
            labelText = Messages("lbl.last_name")
        )

        @submit()
    }
}
