@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.forms._

@(yourNameForm: Form[models.YourName])(implicit request: Request[_])

@main(
    Messages("title.your_name")
) {

    <h1>@Messages("lbl.your_name")</h1>

    @formHelper(yourNameForm, aboutYou.routes.YourNameController.onSubmit) { implicit form: Form[_] =>

        @input(
            name = "firtname",
            labelText = Messages("lbl.first_name"),
            hintText = Messages("some hint text")
        )

        @input(
            name = "middlename",
            labelText = Messages("lbl.middle_name"),
            hintText = Messages("some hint text")
        )

        @input(
            name = "lastname",
            labelText = Messages("lbl.last_name"),
            hintText = Messages("some hint text")
        )

        @submit()
    }
}
