@import include.main
@import forms.FormHelpers._
@import forms.AmlsForms._
@import include.forms._

@(form: Form[_])(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutyou.sectiontitle")),
    title = Messages("aboutyou.yourdetails.title")
) {

      @formHelper(form, aboutyou.routes.YourDetailsController.post()) { implicit form: Form[_] =>

        @input(
            name = "firstname",
            labelText = Messages("lbl.first_name")
        )

        @input(
            name = "middlename",
            labelText = Messages("lbl.middle_name")
        )

        @input(
            name = "lastname",
            labelText = Messages("lbl.last_name")
        )

        @submit(Messages("button.saveandcontinue"))
    }
}
