@import forms.Form2
@import include._
@import include.forms2._

@(f: Form2[_], edit: Boolean)(implicit request: Request[_], lang: Lang)

@main(
    title = Messages("aboutyou.yourdetails.title")
) {

    @heading("What is your name?", "summary.aboutyou")

    @form(f, controllers.aboutyou.routes.YourDetailsController.post(edit)) {

        @input(
            field = f("firstName"),
            labelText = Messages("lbl.first_name")
        )

        @input(
            field = f("middleName"),
            labelText = Messages("lbl.middle_name")
        )

        @input(
            field = f("lastName"),
            labelText = Messages("lbl.last_name")
        )

        @submit(edit)
    }
}
