@import include.main
@import include.form
@import forms.Form2

@(f: Form2[_], edit: Boolean)(implicit request: Request[_])

@main(
    sectionTitle = Some(Messages("aboutyou.sectiontitle")),
    title = Messages("aboutyou.yourdetails.title")
) {
      @form.formHelper(f, controllers.aboutyou.routes.YourDetailsController.post(edit)) { implicit f: Form2[_] =>

        @form.input(
            name = "firstName",
            labelText = Messages("lbl.first_name")
        )

        @form.input(
            name = "middleName",
            labelText = Messages("lbl.middle_name")
        )

        @form.input(
            name = "lastName",
            labelText = Messages("lbl.last_name")
        )

        @form.submit(Messages(if (edit) "button.saveandreturn" else "button.saveandcontinue"))
    }
}
